<p id="notice"><%= render 'layouts/flash_message' %></p>

<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-lg-10">
    <h2>Projektový zámer</h2>
    <ol class="breadcrumb">
      <li>
        <%= link_to 'Home', root_path %>
      </li>
      <li class="active">
        <strong>Projektový zámer</strong>
      </li>
    </ol>
  </div>
  <div class="col-lg-2">

  </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">
  <div class="row">
   <div class="col-lg-12">
     <div class="ibox float-e-margins">
      <div class="ibox-content">
        <button type="button" class="btn btn-success" id="add_projtarget_button" data-toggle="modal" data-target="#addprojecttargetModal">Pridaj projektový zámer</button>
        
        <hr>
        <div class="table-responsive">

<table  class="table table-bordered" id="projecttargets" style="width:100%">
  <thead>
    <tr>
      <th>Názov</th>
      <th>Opis</th>
       <th>Počet subjektov s týmto zámerom</th>
      <% if current_user.admin? %>
                <th></th>
                <th></th>
                <% end %>
    </tr>
  </thead>

  <tbody>
    <% @projecttargets.each do |projecttarget| %>
      <tr>
        <td><%= projecttarget.name %></td>
        <td><%= projecttarget.about %></td>
        <td><%= count_total_subject_for_projecttarget(projecttarget.id) %></td>
        <% if current_user.admin? %>
                <td><a  data-toggle="modal" data-target="#editprojecttargetModal<%=projecttarget.id%>"><i class="fa fa-pencil-square-o fa-2x" aria-hidden="true"></i></a></td>
        <td><%= link_to projecttarget, method: :delete, data: { confirm: 'Naozaj ho chceš zmazať?' } do %><i class="fa fa-trash-o fa-2x" aria-hidden="true" ></i>  
                <% end %></td>
              <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
<br>

<div id="addprojecttargetModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h2 class="modal-title" id="myModalLabel">Vytvor projektový zámer </h2>
       
      </div>
      <div class="modal-body">
        <div class="form-group has-error">
         <label>Názov:</label><input type="text" name="projtarget" id="projtarget" class="form-control" placeholder="Typ projektového zámeru" /><br>
          <label>Opis:</label><input type="text" name="about" id="about" class="form-control" placeholder="Opis projektového zámeru" /><br>
           
           
       </div>
       <button id="addprojecttargetconfirm" type="button" class="addprojecttarget btn btn-success">Vytvor</button>
 
   </div>
 </div>
</div>
</div>

<% @projecttargets.each do |projecttarget| %>
<div id="editprojecttargetModal<%=projecttarget.id%>" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h2 class="modal-title" id="myModalLabel">Uprav projektový zámer<%=projecttarget.name %></h2>
       
      </div>
      <div class="modal-body">
        <div class="form-group has-error">
         
           <label>Názov:</label><input type="text" name="projtarget<%=projecttarget.id%>" id="projtarget<%=projecttarget.id%>" class="form-control" value="<%=projecttarget.name%>" /><br>
            <label>Opis:</label><input type="text" name="about<%=projecttarget.id%>" id="about<%=projecttarget.id%>" class="form-control" value="<%=projecttarget.about%>" /><br>
           
       </div>
       <button id="<%=projecttarget.id%>" type="button" class="editprojtarget btn btn-success">Uprav</button>

     

   </div>
 </div>
</div>

</div>
<% end %>

<script>
var projtargettable;

var tableready = function() {



 projtargettable= $('#projecttargets').DataTable({
  'order': [2, 'desc'],
  'serverSide': false,
  'stateSave' :true,
  'dom': 'lfr<"pull-right"B>tip',
'buttons': [
  {"extend" : 'copyHtml5',"text":"Copy","className": 'btn btn-default btn-xs'},
  {"extend" : 'excelHtml5',"text": "XLS","className": 'btn btn-default btn-xs'},
  {"extend" : 'csvHtml5',"text": "CSV","className": 'btn btn-default btn-xs'},
  {"extend" : 'pdfHtml5',"text": "PDF","orientation" : "landscape","pageSize": "LEGAL","className": 'btn btn-default btn-xs'},

  ],
  'language': {
        'url': '/datatables_slovak.json'
      },
  'lengthMenu': [
  [10, 50,100, -1],
  [10, 50,100, "All"]
  ]

});

$('.editprojtarget').on('click',function(event){
          //console.log(event.target.id);
          
          $projtarget_id = event.target.id;
          $projtarget_val = $('#projtarget'+$projtarget_id).val();
          $projtarget_about = $('#about'+$projtarget_id).val();

              $.ajax({
            type: "POST",
            url: "/modal_edit_project_target",
            data: {
              projtarget_id: $projtarget_id,
              projtarget: $projtarget_val,
              about: $projtarget_about
            },

            success:function(data){
              if (data.status == "ok")
              {
                alert("Projektový zámer bol upravený" );
                location.reload();
              }
              else { alert(data.status);}


            }
          });
          



        });

$('.addprojecttarget').on('click',function(event){
          //console.log(event.target.id);
          
          $projtarget = $('#projtarget').val();
          $projabout = $('#about').val();
          
          $.ajax({
            type: "POST",
            url: "/modal_create_project_target",
            data: {
              projtarget: $projtarget,
              about: $projabout
              },

            success:function(data){
              if (data.status == "ok")
              {
                alert("Projektový zámer bol vytvorený" );
                location.reload();
              }
              else { alert(data.status);}


            }
          });
          



        });


};
$(".projecttargets.index").ready(tableready);


document.addEventListener('turbolinks:before-cache', function() {
 if ($('#projecttargets_wrapper').length ==1) {projtargettable.destroy() ;} 

});


$(".projecttargets.index").on('turbolinks:load', tableready); 
</script>
