<% content_for(:head_attributes) do %>
<meta name="turbolinks-cache-control" content="no-cache">
<% end %>
<p id="notice"><%= render 'layouts/flash_message' %></p>

<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-lg-10">
    <h2>Kontakty</h2>
    <ol class="breadcrumb">
      <li>
        <%= link_to 'Home', root_path %>
      </li>
      <li class="active">
        <strong>Kontakty</strong>
      </li>
    </ol>
  </div>
  <div class="col-lg-2">

  </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">
  <div class="row">
   <div class="col-lg-12">
     <div class="ibox float-e-margins">
      <div class="ibox-content">
        <button type="button" class="btn btn-success" id="add_contact_button" data-toggle="modal" data-target="#addSubjektModal">Pridaj nový subjekt</button>
        <button type="button" class="btn btn-success" id="add_contact_button" data-toggle="modal" data-target="#addContactModal">Pridaj novú osobu</button>
        <button type="button" class="btn btn-warning" id="clear_filter_button" >Zruš všetky filtre</button>
        
        <hr>
        <div class="tabs-container">
          <ul class="nav nav-tabs">
            <li class="active customtab"><a data-toggle="tab" href="#tab-1">Subjekty</a></li>
            <li class="customtab"><a data-toggle="tab" href="#tab-2">Ľudia</a></li>


          </ul>
          <div class="tab-content">

            <div id="tab-1" class="tab-pane active">
              <br>

              <div class="table-responsive">
                <table class="table table-bordered" id="subjects" style="width:100%">
                  <thead>
                    <tr>

                      <th>Názov subjektu</th>
                      <th>Okres</th>
                      <th>Kraj</th>
                      <th>Typ Subjektu</th>
                      <th>Spravuje</th>
                      <th>Počet obyvateľov</th>
                      <th>VIP</th>
                      <th>ARK</th>
                      <th>Je mesto</th>
                      <th>Je obec</th>
                      <th style="visibility:hidden">Projektový zámer_arr</th>
                      <th>Projektový zámer</th>
                      <th>Vložené</th>
                      <th>Upravené</th>
                      <th>Detaily</th>
                      <th>Kontakty</th>
                      <% unless current_user.user_type == 'project_manager' %>
                      <th>Komunikácia</th>
                      <% end %>
                      <th></th>
                      <th></th>
                    </tr>
                  </thead>

                  <tbody>

                  </tbody>
                  <tfoot>
                   <tr id ="tabledetailsearch" class="visibility" style="width:100%">

                     <th>Názov subjektu</th>
                     <th>Okres</th>
                     <th>Kraj</th>
                     <th>Typ Subjektu</th>
                     <th>Spravuje</th>
                     <th>Počet obyvateľov</th>
                     <th class="findtruefalse">VIP</th>
                     <th class="findtruefalse">ARK</th>
                     <th class="findtruefalse">Je mesto</th>
                     <th class="findtruefalse">Je obec</th>
                     <th style="visibility:hidden">Projektový zámer_arr</th>
                     <th>Projektový zámer</th>
                     <th>Vložené</th>
                     <th>Upravené</th>
                     <th class="disabled">Detaily</th>
                     <th class="disabled">Kontakty</th>
                     <% unless current_user.user_type == 'project_manager' %>
                     <th class="disabled">Komunikácia</th>
                     <% end %>
                     <th class="disabled"></th>
                     <th class="disabled"></th>

                   </tr>
                 </tfoot>
               </table>
             </div>
           </div>
           <div id="tab-2" class="tab-pane">
            <br>

            <div class="table-responsive">
              <table class="table table-bordered" id="people" style="width:100%">
                <thead>
                  <tr>
                    <th>Meno</th>
                    <th>Priezvisko</th>
                    <th>Email</th>
                    <th>Email2</th>
                    <th>Tel</th>
                    <th>Mobil</th>
                    <th>Poznámka</th>
                    <th>Subjekt</th>
                    <th>Odhlásený</th>
                    <th></th>
                    <th></th>
                  </tr>
                </thead>

                <tbody>

                </tbody>


              </table>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
</div>
</div>
<br>


<!-- add subject + person modal -->
<div id="addSubjektModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h2 class="modal-title" id="myModalLabel">Pridaj nový subjekt</h2>
        <div class="alert alert-danger alert-dismissable">
          <button class="close" aria-hidden="true" data-dismiss="alert" type="button">×</button>
          Polia vysvietené na červeno sú povinné
        </div>
      </div>
      <div class="modal-body">
        <div class="form-group has-error">
          <form name="new_subjekt_form" accept-charset="utf-8">
           <label>Názov:</label><input type="text" name="subjname" id="subjname" class="form-control" placeholder="Názov subjektu" required /><br>
           <label>Okres:</label><%= select_tag 'okres', options_from_collection_for_select(@districts, 'id', 'name'), class: 'form-control', id: 'subjdistrict' %>
         </br>
         <label>Typ Subjektu:</label><%= select_tag 'typ_subjektu', options_from_collection_for_select(@subjtypes, 'id', 'name'), class: 'form-control', id: 'subjtype' %>
       </br>
     </div>
     <label>Sídlo:</label><input type="text" name="subjsite" id="subjsite" class="form-control" placeholder="Sídlo subjektu" /><br>
     <label>IČO:</label><input type="number" name="subjico" id="subjico" class="form-control" onkeyup="if(!this.checkValidity()){this.value=\'\';alert(\'Vložte číslo!\')};" placeholder="IČO ak má subjekt pridelené"/><br>
     <label class="">VIP <input id="isvip" type="checkbox" class="icheckbox_square-green" /></label><br>
     <label class="">ARK <input id="isark" type="checkbox" class="icheckbox_square-green" /></label><br>
     <label class="">Je mesto <input id="iscity" type="checkbox" class="icheckbox_square-green" /></label><br>
     <label class="">Je obec <input id="isvillage" type="checkbox" class="icheckbox_square-green" /></label><br>
     <label>Poznámka:</label><input type="text" name="subjnote" id="subjnote" class="form-control" placeholder="Poznámka"/><br>
     <label>Počet obyvateľov ak je obec:</label><input type="text" name="subjobyv" id="subjobyv" class="form-control" placeholder="Počet obyvateľov v prípade že ide o obec"/><br>

     <h4 class="modal-title" id="myModalLabel2">Pridaj kontaktnú osobu</h4><br>    
     <div class="form-group has-error">
       <label>Meno:</label><input type="text"  name="contactname" id="contactname" class="form-control" placeholder="Meno" required /><br>
       <label>Priezvisko:</label><input type="text" name="contactsurname" id="contactsurname" class="form-control" placeholder="Priezvisko" required /><br>
       <label>Email:</label><input type="text" name="contactemail" id="contactemail" class="form-control" placeholder="Email" required /><br>
       <label>Telefónne číslo:</label><input type="text" name="contactphone" id="contactphone" class="form-control" placeholder="Telefónne číslo" required /><br>
       <label>Mobil:</label><input type="text" name="contactcell" id="contactcell" class="form-control" placeholder="Mobil" required /><br>
     </div>
     <label>Poznámka:</label><input type="text" name="contactnote" id="contactnote" class="form-control" placeholder="Poznámka ku kontaktnej osobe"/><br>

     <input  class="createcontact btn btn-success" value="Vytvor" /> 

   </form>

 </div>
</div>

</div>
</div>

<!-- add person modal -->
<div id="addContactModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel_contact" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h2 class="modal-title" id="myModalLabel_contact">Pridaj nový kontakt</h2>
        <div class="alert alert-danger alert-dismissable">
          <button class="close" aria-hidden="true" data-dismiss="alert" type="button">×</button>
          Polia vysvietené na červeno sú povinné
        </div>
      </div>
      <div class="modal-body">
        <div class="form-group has-error">
          <form   name="new_contact_form" accept-charset="utf-8">
           <label>Meno:</label><input type="text" name="contactname_c" id="contactname_c" class="form-control" placeholder="Meno " required /><br>
           <label>Priezvisko:</label><input type="text" name="contactsurname_c" id="contactsurname_c" class="form-control" placeholder="Priezvisko " required /><br>
           <label>Email:</label><input type="text" name="contactemail_c" id="contactemail_c" class="form-control" placeholder="Email" required /><br>
         </div>
         <label>Telefónne číslo:</label><input type="text" name="contactphone_c" id="contactphone_c" class="form-control" placeholder="Telefónne číslo"  /><br>
         <label>Mobil:</label><input type="text" name="contactcell_c" id="contactcell_c" class="form-control" placeholder="Mobil"  /><br>
         <div class="form-group has-error">
           
           <label>Subjekt: </label><%= select_tag 'subject', options_from_collection_for_select(@subjects, 'id', 'name'), class: 'form-control chosen-select', id: 'contactsubject', prompt: "--vyber subjekt--"%>
         </div>
       </br>
     </br>

     
     <label>Poznámka:</label><input type="text" name="contactnote_c" id="contactnote_c" class="form-control" placeholder="Poznámka" /><br>

     <input  class="createperson btn btn-success" value="Vytvor" /> 

   </form>

 </div>
</div>
</div>
</div>

<!-- edit modal -->
<div id="editSubjektModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h2 class="modal-title" id="myModalLabel">Uprav subjekt</h2>
        <div class="alert alert-danger alert-dismissable">
          <button class="close" aria-hidden="true" data-dismiss="alert" type="button">×</button>
          Polia vysvietené na červeno sú povinné
        </div>
      </div>
      <div class="modal-body">
        <div class="form-group has-error">
          <form name="edit_subjekt_form" accept-charset="utf-8">
            <input style="visibility:hidden" type="text" name="editsubjektID" id="editsubjektID" value="" readonly>
            <label>Názov:</label><input type="text" name="edit_subjname" id="edit_subjname" class="form-control" placeholder="Názov subjektu" required /><br>
            <label>Spravuje:</label><%= select_tag 'edit_spravuje', options_from_collection_for_select(@users, 'id', 'name'), class: 'form-control', id: 'edit_spravuje' %> </br>
            <label>Okres:</label><%= select_tag 'edit_okres', options_from_collection_for_select(@districts, 'id', 'name'), class: 'form-control', id: 'edit_subjdistrict' %>
          </br>
          <label>Typ Subjektu:</label><%= select_tag 'edit_typ_subjektu', options_from_collection_for_select(@subjtypes, 'id', 'name'), class: 'form-control', id: 'edit_subjtype' %>
        </br>
      </div>
      <label>Sídlo:</label><input type="text" name="edit_subjsite" id="edit_subjsite" class="form-control" placeholder="Sídlo subjektu" /><br>
      <label>IČO:</label><input type="number" name="edit_subjico" id="edit_subjico" class="form-control" onkeyup="if(!this.checkValidity()){this.value=\'\';alert(\'Vložte číslo!\')};" placeholder="IČO ak má subjekt pridelené"/><br>
      <label class="">VIP <input id="edit_isvip" type="checkbox" class="icheckbox_square-green" /></label><br>
      <label class="">ARK <input id="edit_isark" type="checkbox" class="icheckbox_square-green" /></label><br>
      <label class="">Je mesto <input id="edit_iscity" type="checkbox" class="icheckbox_square-green" /></label><br>
      <label class="">Je obec <input id="edit_isvillage" type="checkbox" class="icheckbox_square-green" /></label><br>
      <label>Poznámka:</label><input type="text" name="edit_subjnote" id="edit_subjnote" class="form-control" placeholder="Poznámka"/><br>
      <label>Počet obyvateľov ak je obec:</label><input type="text" name="edit_subjobyv" id="edit_subjobyv" class="form-control" placeholder="Počet obyvateľov v prípade že ide o obec"/><br>
      <hr>
      <label>Projektový zámer</label><%= select_tag 'project_targets_edit', options_from_collection_for_select(@projecttargets, 'id', 'name'), class: 'form-control chosen-select',multiple: true, id: 'project_targets_edit', "data-placeholder": "Vyber projektový zámer..." %>
      <br><br> 
      
      <hr>      

      <input  class="editcontact btn btn-success" value="Uprav" /> 

    </form>

  </div>
</div>
</div>
</div>


<!-- edit modal -->
<div id="editPersonModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h2 class="modal-title" id="myModalLabel">Uprav osobu</h2>
        <div class="alert alert-danger alert-dismissable">
          <button class="close" aria-hidden="true" data-dismiss="alert" type="button">×</button>
          Polia vysvietené na červeno sú povinné
        </div>
      </div>
      <div class="modal-body">
        <div class="form-group has-error">
          <form name="edit_person_form" accept-charset="utf-8">
            <input style="visibility:hidden" type="text" name="editpersonID" id="editpersonID" value="" readonly>
            <label>Meno:</label><input type="text" name="edit_personname" id="edit_personname" class="form-control" required /><br>
            <label>Priezvisko:</label><input type="text" name="edit_personsurname" id="edit_personsurname" class="form-control" required /><br>
            <label>Email:</label><input type="text" name="edit_email" id="edit_email" class="form-control" placeholder="Email" required /><br>
          </div>
          <label>Email2:</label><input type="text" name="edit_email2" id="edit_email2" class="form-control" placeholder="Email"  /><br>
          <label>Tel:</label><input type="text" name="edit_tel" id="edit_tel" class="form-control" placeholder="Tel"  /><br>
          <label>Mobil:</label><input type="text" name="edit_cell" id="edit_cell" class="form-control" placeholder="Mobil"  /><br>
          <label>Poznámka:</label><input type="text" name="edit_personnote" id="edit_personnote" class="form-control" placeholder="Poznámka"/><br>
          <label>Subjekt: </label><%= select_tag 'subject', options_from_collection_for_select(@subjects, 'id', 'name'), class: 'form-control chosen-select', id: 'edit_personsubject', prompt: "--vyber subjekt--" %>


          <input class="editperson btn btn-success" value="Uprav" /> 

        </form>


      </div>
    </div>
  </div>
</div>

<div id="addCalendarNoteModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h2 class="modal-title" id="edit_myModalLabel">Vlož poznámku do kalendára </h2>
       
      </div>
      <div class="modal-body">
        <div class="row">
              <div class="col-md-6">
      <div class="input-group date">
          <span id="inputcalendar" class="input-group-addon docs-datepicker-trigger"><i class="fa fa-calendar "></i></span><input type="text" name="calendar_manual_entry" id="calendar_manual_entry" class="form-control datepick" placeholder="1990-12-31" /></div>
          </div>
          <div class="col-md-6">
            <div class="input-group clockpicker" data-autoclose="true">
                                <input type="text" id="calendar_manual_entry_time" class="form-control" placeholder="09:30">
                                <span class="input-group-addon">
                                    <span class="fa fa-clock-o"></span>
                                </span>
                            </div>
                        </div>
                      </div>
                      <br>
                      <div class="row">
             <div class="col-md-12">
              <input type="text" name="calendar_note" id="calendar_note" class="form-control" placeholder="Poznámka" />
             </div>
           </div>
           <br>
           <div class="row">
          <div class="col-md-3">
            <button class="btn btn-primary" id="manul_cal_entry_submit_button">Ulož záznam</button>
          </div>
      </div>

        </div>
        </div>
        </div>
        </div>

<div id="addCommunicationModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h2 class="modal-title" id="myModalLabel">Pridaj nový záznam</h2>

      </div>
      <div class="modal-body">

        <form name="new_comm_form" accept-charset="utf-8">
         
         <label>Subjekt: </label><%= select_tag 'subject', options_from_collection_for_select(@subjects, 'id', 'name'), class: 'form-control chosen-select', id: 'commsubject' , prompt: "--vyber subjekt--"%>
       </br>

       <span id="addPersonToComm"></span>

       <label>Text:</label><textarea rows="6" type="text" name="commabout" id="commabout" class="form-control" required placeholder="Obsah komunikácie"></textarea><br>
       <label>Kľúčové slovo:</label><input type="text" name="commkeyword" id="commkeyword" class="form-control" required placeholder="Kľúčové slovo pre zatriedenie"/><br>
       <label>Po kliknuti na kalendár môžeš pred uložením komunikácie vložiť záznam do kalendára</label><span class="commdateinput input-group-addon docs-datepicker-trigger"><i class="fa fa-calendar "></i></span>
       <input type="button" class="createcomm btn btn-success" value="Vytvor" /> 
     </div>
   </form>

 </div>
</div>

</div>



<script>
  var subjtable;
  var peopletable;
  var tableready = function() {

      $('.datepick').datepicker({
       trigger: $('#inputcalendar'),
        autoHide: true,
        format: 'yyyy-mm-dd'
          });

    var $modalname;
 $('.commdateinput').on('click',function(event){
  $modalname = $(this).closest('div.modal').get(0).id;

  //$(this).closest('div.modal').modal('toggle');
  $('#'+$modalname).modal('toggle');
  $("#addCalendarNoteModal").modal('toggle');
 });

 $('#addCalendarNoteModal').on('hidden.bs.modal', function () {
   $('#'+$modalname).modal('toggle');
    
})

    $("#manul_cal_entry_submit_button").click(function()
{

$manual_date = $('#calendar_manual_entry').val();
$manual_time = $('#calendar_manual_entry_time').val();
$calnote = $('#calendar_note').val();

if ($manual_date.length > 0) {

  if ($manual_time.length == 0) {
    $allday = true;
    $custstart = $manual_date.concat(' 00:00:00')
    $custend = $manual_date.concat(' 23:59:59')
  }
   else {
    $allday = false; $custstart = $manual_date.concat(' ',$manual_time); $custend = $manual_date.concat(' ',$manual_time);
   }


 
 $.ajax({
            type: "POST",
            url: "/add_calendar_event",
            data: {
                title: $calnote,
                start: $custstart,
                end: $custend,
                allDay: $allday
            }
        })
           .done(function (data) {
                
             if (data.status == "ok")
              {
                $("#notice").html(flashMessageFromAjax(data.status,"Záznam v kalendári bol vytvorený"));
                //alert("Záznam do kalendára bol pridaný" );
                $('#addCalendarNoteModal').modal('toggle');
                
              }
              else { alert(data.status);}

                               
                            })
           .fail(function (data) {
            $("#notice").html(flashMessageFromAjax("not ok","Nepodarilo sa vložiť záznam do kalendára"));
               
               

           })                            
           ;
}
else {
  $("#notice").html(flashMessageFromAjax("not ok","Nezadal si dátum"));
}
  });


    $('.chosen-select').chosen({width: "100%"});

  $('.chosen-search-input').autocomplete({
  source: function( request, response ) {
    //console.log(request)
    if (request.term.length > 2) {
    $.ajax({
      url: "/autocomplete_find_subject/",
      type: "POST",
      dataType: "json",
      data: {"request": request.term},
      beforeSend: function(){$('ul.chosen-results').empty();},
      success: function( data ) {
        $('.chosen-select').empty();
        //console.log(data)
        //console.log("-----------------------")
         //response( $.map( data, function( item ) {
          $('.chosen-select').append('<option value="0" disabled>Vyber subjekt</option>'); 
           for ( var i = 0; i < data.data.length; i++) {
          $('.chosen-select').append('<option value="'+data.data[i][0] +'">'+data.data[i][1]+'</option>');  
            }

          
          
        //}));
         $('.chosen-select').trigger("chosen:updated");
         //$("#editcommsubject").trigger('change');
         //$("#commsubject").trigger('change');


      }
    });
  }
  }
});



    $("#project_targets_edit").chosen().change(function(e, params){
     $project_targets  = $("#project_targets_edit").chosen().val();

 //console.log($project_targets)
});

    subjtable= $('#subjects').DataTable({
      'order': [0, 'asc'],
      'serverSide': true,
      'stateSave' :true,
      'ajax' : '/subjects.json',

      columns: [

      {data: 'subject_name_show'},
      {data: 'district_name' },
      {data: 'county_name' },
      {data: 'subjtype_name' },
      {data: 'user_name' },
      {data: 'citizen_count' },
   //{data: 'vip' },
   {data: 'vip','render' : function(data,type,row) {
        return getTrueFalseIcon(row.vip);
    } },
    {data: 'ark','render' : function(data,type,row) {
        return getTrueFalseIcon(row.ark);
    } },
    {data: 'is_city','render' : function(data,type,row) {
        return getTrueFalseIcon(row.is_city);
    } },
    {data: 'is_village','render' : function(data,type,row) {
       return getTrueFalseIcon(row.is_village);
    } },
    {data: 'project_targets', "visible":false},
    {data: 'project_targets_string'},
    {data: 'created_at' },
    {data: 'updated_at' },
    {
      "className":   'details-control',
      "orderable":      false,
      "data":           null,
      "defaultContent": '<a><center><i class="fa fa-chevron-down fa-2x" aria-hidden="true"></i></center></a>'
    },
    {
      "className":   'subjpeople-control',
      "orderable":      false,
      "data":           null,
      "defaultContent": '<a><center><i class="fa fa-address-card-o fa-2x" aria-hidden="true"></i></center></a>'
    },
    <% unless current_user.user_type == 'project_manager' %>
    {
      "className":   'subjcomm-control',
      "orderable":      false,
      "data":           null,
      "defaultContent": '<a><center><i class="fa fa-comments-o fa-2x" aria-hidden="true"></i></center></a>'
    },
    <% end %>
    {
      "className":   'subjedit-control',
      "orderable":      false,
      "data":           null,
      "defaultContent": '<a><center><i class="fa fa-pencil-square-o fa-2x" aria-hidden="true"></i></center></a>'
    },
    {data: 'delete_subject', orderable: false, searchable: false,'render': function(data,type,row) {
      if (row.online_user_type == 'seller' && (row.user_id == <%= current_user.id %> || row.user_name =='admin')) { $res = row.delete_subject}
        else if (row.online_user_type != 'seller') {$res = row.delete_subject}
          else {$res = row.no_access}

        return $res;
    }
  } 
    


    ],
    'dom': 'lfr<"pull-right"B>tip',
    'buttons': [
    {"extend" : 'copyHtml5',"text":"Copy","className": 'btn btn-default btn-xs'},
    {"extend" : 'excelHtml5',"text": "XLS","className": 'btn btn-default btn-xs'},
    {"extend" : 'csvHtml5',"text": "CSV","className": 'btn btn-default btn-xs'},
    {"extend" : 'pdfHtml5',"text": "PDF","orientation" : "landscape","pageSize": "LEGAL","className": 'btn btn-default btn-xs'},

    ],
    'language': {
      'url': '/datatables_slovak.json'
    },
    'lengthMenu': [
    [10, 50,100, -1],
    [10, 50,100, "All"]
    ],
    initComplete: function() {

      $('#disable').html( '<input disabled type="text" />' );

      if ( $("#detailbutton").length) {console.log ('detailed search exists');}
      else {

        var r = $('#subjects tfoot tr');
        r.find('th').each(function(){
         $(this).css('padding', 8);


       });
        $('#subjects thead').append(r);
        $('#search_0').css('text-align', 'center');

//      $(".dataTables_filter").append('<button id="detailbutton" class="btn btn-primary btn-outline btn-xs" type="button"><span class="bold">Detailné vyhľadávanie</span></button>');
  //     $('#changepageinput').val('');

  var api = this.api();

      // Apply the search
      api.columns().every(function() {
        var that = this;

        $('input', this.footer()).on('keyup change', function() {
          if (that.search() !== this.value) {
            that
            .search(this.value)
            .draw();
          }
        });

        $('.findtruefalse', this.footer()).on('change', function() {

          if (that.search() !== this.value) {
            that
            .search(this.value)
            .draw();
          }
        });

      });

      $('#detailbutton').click(function() {


        $('#tabledetailsearch').toggleClass('visibility');
      });

      $('#changepageinput').on('keyup change',function() {

        if (parseInt($('#changepageinput').val()) > 0) {
          var pagenum = (parseInt($('#changepageinput').val()) -1);
          subjtable.page( pagenum ).draw( false );
        }
        else {subjtable.page( 0 ).draw( false );}


      }); 


    }

  },
  drawCallback: function(settings) {

    $('.subjedit-control').on('click',function(event){
     var tr = $(this).closest('tr');
     var row = subjtable.row( tr );

     <% if current_user.user_type=='seller' %>
     if (row.data().user_id == <%= current_user.id %> || row.data().user_name == 'admin') {
      updateSubjEditModal(row.data());

      $('#editSubjektModal').modal('show');}
      else {
        alert('Tento subjekt nemôžeš upravovať!')
      }
      <% else %>
      updateSubjEditModal(row.data());

      $('#editSubjektModal').modal('show');
      <% end %>
    });




//childrow subject details
$('#subjects tbody').off('click').on('click', 'td.details-control', function () {

  var tr = $(this).closest('tr');
  var row = subjtable.row( tr );

  if ( row.child.isShown() ) {
            // This row is already open - close it
            row.child.hide();
            tr.removeClass('shown');

          }
          else {
            // Open this row
            <% if current_user.user_type=='seller' %>
            if (row.data().user_id == <%= current_user.id %> || row.data().user_name == 'admin') {
              row.child( formatSubjDetail(row.data())).show();
            }
            else 
              {row.child( showNoAccess(row.data())).show(); }
            <% else %>
            row.child( formatSubjDetail(row.data())).show();
            <% end %>
            
            tr.addClass('shown');
          }
        });

 //childrow subject contacts



 $('#subjects tbody').on('click', 'td.subjpeople-control', function () {

  var tr = $(this).closest('tr');
  var row = subjtable.row( tr );

  if ( row.child.isShown() ) {
            // This row is already open - close it
            row.child.hide();
            tr.removeClass('shown');

          }
          else {
            <% if current_user.user_type=='temp_remove_this_cond_for_seller' %>
            if (row.data().user_id == <%= current_user.id %> || row.data().user_name == 'admin') {
            // Open this row
            $.ajax({
              type: "GET",
              url: "/get_subject_contacts/"+row.data().subject_id,

              success:function(data){
                if (data.status == "ok")
                {
                  row.child( formatSubjContactsDetail(data.data)).show();

                  tr.addClass('shown');

                //
                $('.editsubjectcontactbtn').on('click',function(event){
                  $btnid = event.target.id;
                  $personID = $btnid.replace("editsubjectcontactbtn","");
                  console.log($personID);

                  $.ajax({
                    type: "GET",
                    url: "/people/"+$personID+".json",

                    success:function(data){
                             //console.log(data)
                             updatePersonEditModal(data,row.data().subject_name);

                             $('#editPersonModal').modal('show');
                           }
                         });
                });
                //


              }
              else { alert(data.status);}
            }
          });
          }
          else {
           row.child( showNoAccess(row.data())).show(); 
           tr.addClass('shown');
         }
         <% else %>

         $.ajax({
          type: "GET",
          url: "/get_subject_contacts/"+row.data().subject_id,

          success:function(data){
            if (data.status == "ok")
            {
              row.child( formatSubjContactsDetail(data.data)).show();

              tr.addClass('shown');

                //
                $('.editsubjectcontactbtn').on('click',function(event){
                  $btnid = event.target.id;
                  $personID = $btnid.replace("editsubjectcontactbtn","");
                  console.log($personID);

                  $.ajax({
                    type: "GET",
                    url: "/people/"+$personID+".json",

                    success:function(data){
                             //console.log(data)
                             updatePersonEditModal(data,row.data().subject_name);

                             $('#editPersonModal').modal('show');
                           }
                         });
                });

             



              }
            }


          });
         <% end %>
       }
     });

   //childrow subject communication
    //
    $("#commsubject").change(function(){
      $subjID = $("#commsubject").val();

      if ($subjID !== '') {
        $.ajax({
          type: "GET",
          url: "/get_subject_contacts/"+$subjID,

          success:function(data){
            if (data.status == "ok")
            {
             $html1 = '<label>Osoba:</label><select id="commperson" class="form-control">';
             var $html2;
             for ( var i = 0; i < data.data.length; i++) {
              $html2 += '<option value="'+data.data[i].id+'">'+data.data[i].first_name+' '+data.data[i].last_name+'</option>';
            }
            $html3 ='</select><br>';

            var $res = $html1.concat($html2,$html3);

            $('#addPersonToComm').empty();
            $('#addPersonToComm').append($res);

          }
          else { alert(data.status);}


        }
      });
      }
      else {
        $('#addPersonToComm').empty();
      }

    });
 //


 $('#subjects tbody').on('click', 'td.subjcomm-control', function () {

  var tr = $(this).closest('tr');
  var row = subjtable.row( tr );

  $subject_id=row.data().subject_id;

  if ( row.child.isShown() ) {
            // This row is already open - close it
            row.child.hide();
            tr.removeClass('shown');

          }
          else {
            // Open this row
            <% if current_user.user_type=='seller' %>
            if (row.data().user_id == <%= current_user.id %> || row.data().user_name == 'admin') {

            $.ajax({
              type: "GET",
              url: "/get_subject_communication/"+$subject_id,

              success:function(data){
                if (data.status == "ok")
                {
                  row.child( formatSubjCommunicationsDetail(data.data,$subject_id)).show();

                  $('#commsubject').val($subject_id).change();


                  $('.del_implem_note').on('click',function(event){


                    $delbtnid =  event.target.id.replace("del_comm_", "");
                    $.ajax({
                      type: "POST",
                      url: "/del_communication",
                      data: {
                        id: $delbtnid
                      }
                    })
                    .done(function (data) {

                     if (data.status == "ok")
                     {
                      $("#commdetail"+$delbtnid).html("")
                      $("#notice").html(flashMessageFromAjax(data.status,"Komunikácia bola vymazaná"));


               //location.reload();
               

             }
             else { alert(data.status);}


           })
                    .fail(function (data) {
                      $("#notice").html(flashMessageFromAjax("not ok","Nepodarilo sa vymazať komunikáciu"));



                    })                            
                    ;

                  });

                  tr.addClass('shown');

                }
                else { alert(data.status);}
              }
            });
            }
          else {
           row.child( showNoAccess(row.data())).show(); 
           tr.addClass('shown');
         }
         <% else %>
         $.ajax({
              type: "GET",
              url: "/get_subject_communication/"+$subject_id,

              success:function(data){
                if (data.status == "ok")
                {
                  row.child( formatSubjCommunicationsDetail(data.data,$subject_id)).show();

                  $('#commsubject').val($subject_id).change();


                  $('.del_implem_note').on('click',function(event){


                    $delbtnid =  event.target.id.replace("del_comm_", "");
                    $.ajax({
                      type: "POST",
                      url: "/del_communication",
                      data: {
                        id: $delbtnid
                      }
                    })
                    .done(function (data) {

                     if (data.status == "ok")
                     {
                      $("#commdetail"+$delbtnid).html("")
                      $("#notice").html(flashMessageFromAjax(data.status,"Komunikácia bola vymazaná"));


               //location.reload();
               

             }
             else { alert(data.status);}


           })
                    .fail(function (data) {
                      $("#notice").html(flashMessageFromAjax("not ok","Nepodarilo sa vymazať komunikáciu"));



                    })                            
                    ;

                  });

                  tr.addClass('shown');

                }
                else { alert(data.status);}
              }
            });
         <% end %>
            
          }
        });

      //    
    }


  });

// pridanie search inputov

$('#subjects tfoot th').each( function () {
  var title = $(this).text();

        //$(this).html( '<input type="text" placeholder="Hľadaj" />' );
        if ( $(this).hasClass('findtruefalse') ) {
         $(this).html( '<select class="findtruefalse form-control input-sm"><option value="">Všetko</option><option value="true">Áno</option><option value="false">Nie</option></select>' );   
       }
       else {
        $(this).html( '<input type="text" placeholder="Hľadaj" />' );
      }

    } );

$('.disabled').html( '<input disabled type="text" style="display:none" />' );
//

$('.createcontact').on('click',function(event){
          //console.log(event.target.id);
          
          var $isvip = false;
          var $isark = false;
          var $iscity = false;
          var $isvillage = false;
          $subjname = $('#subjname').val();
          $subjdistrict = $('#subjdistrict').val();
          $subjtype = $('#subjtype').val();
          $subjsite = $('#subjsite').val(); 
          $subjico = $('#subjico').val(); 
          $subjnote = $('#subjnote').val(); 
          if ($('#isvip').is(":checked")) {$isvip = true;}
          if ($('#isark').is(":checked")) {$isark = true;}
          if ($('#iscity').is(":checked")) {$iscity = true;}
          if ($('#isvillage').is(":checked")) {$iscity = true;}

          
          $subjobyv = $('#subjobyv').val(); 
          $contactname = $('#contactname').val(); 
          $contactsurname = $('#contactsurname').val(); 
          $contactemail = $('#contactemail').val(); 
          $contactphone = $('#contactphone').val(); 
          $contactcell = $('#contactcell').val(); 
          $contactnote = $('#contactnote').val(); 



          
          $.ajax({
            type: "POST",
            url: "/modal_create_subj",
            data: {
              subjname: $subjname,
              subjdistrict: $subjdistrict,
              subjtype: $subjtype,
              subjsite: $subjsite,
              subjico: $subjico,
              subjnote: $subjnote,
              isvip: $isvip,
              isark: $isark,
              iscity: $iscity,
              isvillage: $isvillage,
              subjobyv: $subjobyv,
              contactname: $contactname,
              contactsurname: $contactsurname,
              contactemail: $contactemail,
              contactphone: $contactphone,
              contactcell: $contactcell,
              contactnote: $contactnote

            },

            success:function(data){
              if (data.status == "ok")
              {
                $("#notice").html(flashMessageFromAjax(data.status,"Subjekt bol vytvorený"));
                //alert("Subjekt bol vytvorený" );
                location.reload();
                
              }
              else { alert(data.status);}


            }
          });
          



        });

$('.editcontact').on('click',function(event){
          //console.log(event.target.id);
          
          $edit_subjectID = $('#editsubjektID').val();
          $edit_subjname = $('#edit_subjname').val();
          $edit_spravuje = $('#edit_spravuje').val();
          $edit_subjdistrict = $('#edit_subjdistrict').val();
          $edit_subjtype = $('#edit_subjtype').val();
          $edit_subjsite = $('#edit_subjsite').val(); 
          $edit_subjico = $('#edit_subjico').val(); 
          $edit_subjnote = $('#edit_subjnote').val(); 
          if ($('#edit_isvip').is(":checked")) {$edit_isvip = true;} else {$edit_isvip = false;}
          if ($('#edit_isark').is(":checked")) {$edit_isark = true;} else {$edit_isark = false;}
          if ($('#edit_iscity').is(":checked")) {$edit_iscity = true;} else {$edit_iscity = false;}
          if ($('#edit_isvillage').is(":checked")) {$edit_isvillage = true;} else {$edit_isvillage = false;}
          $edit_subjobyv = $('#edit_subjobyv').val(); 
          
          var $targets = 0;

          if (typeof $project_targets !== 'undefined') {
            $targets = $project_targets;
          }

          



          
          $.ajax({
            type: "POST",
            url: "/modal_edit_subj",
            data: {
              edit_subjectid: $edit_subjectID,
              edit_spravuje: $edit_spravuje,
              edit_subjname: $edit_subjname,
              edit_subjdistrict: $edit_subjdistrict,
              edit_subjtype: $edit_subjtype,
              edit_subjsite: $edit_subjsite,
              edit_subjico: $edit_subjico,
              edit_subjnote: $edit_subjnote,
              edit_isvip: $edit_isvip,
              edit_isark: $edit_isark,
              edit_iscity: $edit_iscity,
              edit_isvillage: $edit_isvillage,
              edit_subjobyv: $edit_subjobyv,
              edit_project_targets: $targets              

            },

            success:function(data){
              if (data.status == "ok")
              {
                //alert("Subjekt bol upravený" );
                $("#notice").html(flashMessageFromAjax(data.status,"Subjekt bol upravený"));
                location.reload();
                
              }
              else { alert(data.status);}


            }
          });
          



        });

$('.createperson').on('click',function(event){
          //console.log(event.target.id);
          
          $contactname_c = $('#contactname_c').val();
          $contactsurname_c = $('#contactsurname_c').val();
          $contactemail_c = $('#contactemail_c').val();
          $contactphone_c = $('#contactphone_c').val(); 
          $contactcell_c = $('#contactcell_c').val(); 
          $contactsubject = $('#contactsubject').val(); 
          $contactnote_c = $('#contactnote_c').val(); 




          
          $.ajax({
            type: "POST",
            url: "/modal_create_person",
            data: {
              contactname_c: $contactname_c,
              contactsurname_c: $contactsurname_c,
              contactemail_c: $contactemail_c,
              contactphone_c: $contactphone_c,
              contactcell_c: $contactcell_c,
              contactsubject: $contactsubject,
              contactnote_c: $contactnote_c

            },

            success:function(data){
              if (data.status == "ok")
              {
                //alert("Osoba bol vytvorená" );
                $("#notice").html(flashMessageFromAjax(data.status,"Osoba bol vytvorená"));
                location.reload();

              }
              else { alert(data.status);}
            }
          });

        });


$('.editperson').on('click',function(event){
          //console.log(event.target.id);
          
          $edit_personID = $('#editpersonID').val();
          $edit_personname = $('#edit_personname').val();
          $edit_personsurname = $('#edit_personsurname').val();
          $edit_email = $('#edit_email').val();
          $edit_email2 = $('#edit_email2').val();
          $edit_tel = $('#edit_tel').val();
          $edit_cell = $('#edit_cell').val();
          $edit_personnote = $('#edit_personnote').val();
          $edit_personsubject = $('#edit_personsubject').val();

          $.ajax({
            type: "POST",
            url: "/modal_edit_person",
            data: {
              edit_personID: $edit_personID,
              edit_personname: $edit_personname,
              edit_personsurname: $edit_personsurname,
              edit_email: $edit_email,
              edit_email2: $edit_email2,
              edit_tel: $edit_tel,
              edit_cell: $edit_cell,
              edit_personnote: $edit_personnote,              
              edit_personsubject: $edit_personsubject

            },

            success:function(data){
              if (data.status == "ok")
              {
                //alert("Osoba bol upravená" );
                $("#notice").html(flashMessageFromAjax(data.status,"Osoba bol upravená"));
                location.reload();
                
              }
              else { alert(data.status);}


            }
          });
          



        });

$('.createcomm').on('click',function(event){
          //console.log(event.target.id);
          
          $subjid = $('#commsubject').val();
          $personid = $('#commperson').val();
          $commabout = $('#commabout').val();
          $commkeyword = $('#commkeyword').val();
          
          $.ajax({
            type: "POST",
            url: "/modal_create_comm",
            data: {
              subjid: $subjid,
              personid: $personid,
              commabout: $commabout,
              commkeyword: $commkeyword
            },

            success:function(data){
              if (data.status == "ok")
              {
               $("#notice").html(flashMessageFromAjax(data.status,"Komunikácia bola vytvorená"));
               $("#addCommunicationModal").modal('toggle');
               location.reload();


             }
             else { alert(data.status);}


           }
         });
          



        });

 $("#clear_filter_button").on('click',function(event){
      subjtable.state.clear();
      location.reload();

    });




$('a[href="#tab-2"]').on('shown.bs.tab', function (e) {

  if ($('#people_wrapper').length ==1) {peopletable.destroy() ;} 

  
   //people
   peopletable= $('#people').DataTable({
    'order': [0, 'asc'],
    'serverSide': true,
    'audoWidth': true,
    'stateSave' :true,
    'ajax' : '/people.json',
    columns: [
    {data: 'first_name'},
    {data: 'last_name' },
    {data: 'email' },
    {data: 'email2' },
    {data: 'phone' },
    {data: 'cellphone' },
    {data: 'note' },
    {data: 'subject_name' },

    {data: 'unsubscribe','render' : function(data,type,row) {
      return getTrueFalseIcon(row.unsubscribe);
    } },
    {
      "className":   'personedit-control',
      "orderable":      false,
      "data":           null,
      "defaultContent": '<a><center><i class="fa fa-pencil-square-o fa-2x" aria-hidden="true"></i></center></a>'
    },
    {data: 'delete_person', orderable: false, searchable: false} 

    ],
    'dom': 'lfr<"pull-right"B>tip',
    'buttons': [
    {"extend" : 'copyHtml5',"text":"Copy","className": 'btn btn-default btn-xs'},
    {"extend" : 'excelHtml5',"text": "XLS","className": 'btn btn-default btn-xs'},
    {"extend" : 'csvHtml5',"text": "CSV","className": 'btn btn-default btn-xs'},
    {"extend" : 'pdfHtml5',"text": "PDF","orientation" : "landscape","pageSize": "LEGAL","className": 'btn btn-default btn-xs'},

    ],
    'language': {
      'url': '/datatables_slovak.json'
    },
    'lengthMenu': [
    [10, 50,100, -1],
    [10, 50,100, "All"]
    ],
    initComplete: function() {
     $('.personedit-control').on('click',function(event){
      var tr = $(this).closest('tr');
      var row = peopletable.row( tr );

      updatePersonEditModal(row.data());

      $('#editPersonModal').modal('show');
    });
   }

 });
 //end

});

};
$(".static_pages.contacts").ready(tableready);


document.addEventListener('turbolinks:before-cache', function() {
 if ($('#subjects_wrapper').length ==1) {subjtable.destroy() ;} 
 if ($('#people_wrapper').length ==1) {peopletable.destroy() ;} 
});


$(".static_pages.contacts").on('turbolinks:load', tableready); 
</script>
