<% content_for(:head_attributes) do %>
<meta name="turbolinks-cache-control" content="no-cache">
  <% end %>

<p id="notice"><%= render 'layouts/flash_message' %></p>


<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-lg-10">
    <h2>Email</h2>
    <ol class="breadcrumb">
      <li>
        <%= link_to 'Home', root_path %>
      </li>
      <li>
        Email
      </li>
      <li class="active">
        <strong>Pošli Email</strong>
      </li>
    </ol>
  </div>
  <div class="col-lg-2">

  </div>
</div>


<div class="wrapper wrapper-content animated fadeInRight">
	<div class="row">
		<div id="spinner_box" style="display:none">
				<h3 class="center">Maily sú ukladané do fronty aby boli neskôr odoslané na pozadí. Ak ich je veľa, táto akcia môže chvíľku trvať. Stránku neobnovujte ani nezatvárajte.</h3>
			<div class="sk-spinner sk-spinner-wave" >
				                 <div class="sk-rect1"></div>
                                <div class="sk-rect2"></div>
                                <div class="sk-rect3"></div>
                                <div class="sk-rect4"></div>
                                <div class="sk-rect5"></div>
                            </div>
                </div>
		<div class="col-lg-12" id="main_box" >
		

			<div class="col-lg-3">
				<div class="ibox">
					<div class="ibox-content mailbox-content">

            

                        
						<div class="form-group">
							<label class="font-normal">Okres</label>
							<div>
								<%= select_tag 'okres', options_from_collection_for_select(@districts, 'id', 'name'), class: 'chosen-select',multiple: true, id: 'district',"data-placeholder": "Vyber okres..." %>
							</div>
						</div>
							
						<div class="form-group">
							<label class="font-normal">Kraj</label>
							<div>
								<%= select_tag 'kraj', options_for_select(@counties), class: 'chosen-select',multiple: true, id: 'county',"data-placeholder": "Vyber kraj..." %>
							</div>
						</div>
						
						<div class="form-group">
							<label class="font-normal">Typ Subjektu</label>
							<div>
								<%= select_tag 'subjtype', options_from_collection_for_select(@subject_types, 'id', 'name'), class: 'chosen-select',multiple: true, id: 'subjtype',"data-placeholder": "Dostupné len typy s aspoň jedným subjektom..." %>
							</div>
						</div>
						<div class="form-group">
							<label class="font-normal">Počet obyvateľov</label>
							<div>
								<input type="number" name="obyv_count_from" id="obyv_count_from" class="form-control" placeholder="Od...." />
								<input type="number" name="obyv_count_to" id="obyv_count_to" class="form-control" placeholder="Do...."/>
							</div>
						</div>
						<hr>
						<div class="form-group">
							<label class="font-normal">Spravuje</label>
							<div>
								<%= select_tag 'user', options_from_collection_for_select(@users, 'id', 'name'), class: 'chosen-select', id: 'user',"data-placeholder": "Bez filtra",prompt: "Bez filtra" %>
							</div>
						</div>
						<hr>
						<div class="form-group">
							<label class="font-normal">Príloha</label>
							<div>
								<%= select_tag 'docs', options_for_select(@documents.collect {|d| [ d['file_name'], d['id'] ] }), class: 'chosen-select',multiple: true, id: 'docs',"data-placeholder": "Vyber prílohu..." %>
							</div>
						</div>
						<div class="form-group">
							<label class="font-normal">Šablóna</label>
							<div>
								<%= select_tag 'template', options_from_collection_for_select(@templates, 'id', 'name'), class: 'chosen-select', id: 'template',prompt: "Vyber šablónu ktorú chceš použiť" %>
								<a class="btn btn-success btn-xs btn-block" id="addtemplatebutton"> Vlož šablónu <i class="fa fa-exchange"></i></a>
								<br>
								
							<label class="">Uložiť email ako šablónu <input id="savetemplate" type="checkbox" class="icheckbox_square-green" /></label>
							
							</div>
						</div>
						<div class="form-group">
							<label class="font-normal">Poslať z účtu:</label>
							<div>
								<%= select_tag 'email_acc', options_for_select(@emails.map { |obj| [obj['email'], obj['id']] }), class: 'chosen-select', id: 'email_acc',"data-placeholder": "Vyber email..." %>
							</div>
						</div>
						
					</div>
				</div>
			</div>
			<div class="col-lg-9 animated fadeInRight">
				<div class="mail-box-header">
					
					<h2>
						Vytvor e-mail
					</h2>
				</div>
				<div class="mail-box">


					<div class="mail-body">

						 <div class="form-group row"><label class="col-sm-2 col-form-label">Adresa:</label>
              <div class="col-sm-10"><input list="manual_emails" type="email" name="manual_email_entry" id="manual_email_entry" class="form-control" placeholder="Zadaj email. Viac adries je nutné oddeliť čiarkami!" multiple/>
                <datalist id="manual_emails">
                 </datalist></div>
               
              </div>
            <div class="form-group row"><label class="col-sm-2 col-form-label">Subjekt:</label>
              <div class="col-sm-10">
                <%= select_tag 'subjekt_manual', options_from_collection_for_select(@subjects, 'id', 'name'), class: 'chosen-select',multiple: true, id: 'subjekt_manual',"data-placeholder": "Vyber subjekt..." %>
              </div>
               
              </div>
            
            <div class="form-group row"><label class="col-sm-2 col-form-label">Chcem zároveň poslať kontaktom podľa filtra vľavo. Nezaškrtnuté políčko znamená, že sa poše email len hore napísaným adresám/vybraným subjektom!</label>

                <div class="col-sm-10"><input id="add_filtered_to_manual" type="checkbox" class="icheckbox_square-green" /></div>
              </div>


							<div class="form-group row"><label class="col-sm-2 col-form-label">Predmet:</label>

								<div class="col-sm-10"><input class="form-control" value="" type="text" id="email_subject"></div>
							</div>
						

					</div>
					<div class="mail-body">
						<div class="form-group row"><label class="col-sm-2 col-form-label">Obsah emailu:</label>

								<div class="col-sm-10">
                  <textarea rows="35" style="height: 600px;" name="email_content" id="email_content" class="form-control summernote" required></textarea>
                  <!--<textarea rows="35" style="height: 600px;" name="email_content" id="email_content" class="form-control" name="content" id="editor" required>-->
                    
                  </textarea>
                </div>
							</div>
						 	

						 

					</div>
					<div class="mail-body text-right tooltip-demo">
						<%= link_to  create_email_path, data: {turbolinks: false}, :class=>"btn btn-outline btn-danger btn-sm " do %><i class="fa fa-times" aria-hidden="true"></i> Reset<% end %>
						<button class="btn btn-success btn-sm " id="sendemailbtn">Pošli Email</button>
					
				
				</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div id="ShowSendEmailModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h2 class="modal-title" id="myModalLabel">Email bol zaradený na odoslanie</h2>
        <%= link_to "Tu si môžeš pozrieť ich stav", job_queue_path%>
      </div>

      <div class="modal-body">
      	 <h3 class="modal-title" >Obsah</h3>
        <div class="temp_preview" id="temp_preview"></div>
        <h3 class="modal-title" >Na adresy</h3>
        <div class="sent_addresses" id="sent_addresses"></div>


      </div>

    </div>
  </div>
</div>

<script>

    var ready = function() {

$('.chosen-select').chosen({width: "100%"});

$('#manual_email_entry').on('input',function(e){

  $entry_term = $('#manual_email_entry').val();

  $search_term = $entry_term.split(/[, ]+/).pop();


  if ($search_term.length > 2) {
    $.ajax({
            type: "POST",
            url: "/find_email/",
            dataType: 'json',
            data: {request: $search_term}
                       
          }).done(function (data) {
            //console.log(data.data)
            var $opt_val = ''
            for ( var i = 0; i < data.data.length; i++) {
              $opt_val += '<option value="'+data.data[i]+'">'
            }

            $('#manual_emails').html('')
            $('#manual_emails').html($opt_val)
          })
    ; 
  }
});




$('.summernote').summernote({
 minHeight: 400,
 focus: true,
 toolbar: [
    // [groupName, [list of button]]
    ['style', ['bold', 'italic', 'underline', 'clear']],
    ['font', ['strikethrough', 'superscript', 'subscript']],
    ['fontsize', ['fontsize']],
    ['color', ['color']],
    ['para', ['ul', 'ol', 'paragraph']],
    ['height', ['height']]
  ]
});


$('#addtemplatebutton').on('click',function(event){
          //console.log(event.target.id);
          
          $id = $('#template').val();
          
          if ($id == "") {
          	$('#email_subject').val("");
          	$('#email_content').summernote('code',"");
          }
          else {
      	  $.ajax({
            type: "GET",
            url: "/get_template/"+$id,
            
            success:function(data){
              if (data.status == "ok")
              {
                
                $('#email_subject').val(data.data.name);
				$('#email_content').summernote('code',data.data.content);

              }
              else { alert(data.status);}


            }
          });              
        	}
          



        });

$('#sendemailbtn').on('click',function(event){
window.scrollTo(0,0);

$("#spinner_box").removeAttr("style");
$("#main_box").addClass('ibox-content sk-loading');

			

	if ($('#savetemplate').is(':checked')) {

		  $name = $('#email_subject').val();
          $content = $('#email_content').val();
          
          $.ajax({
            type: "POST",
            url: "/modal_create_mail_template",
            data: {
              name: $name,
              content: $content
            },

            success:function(data){
              if (data.status == "ok")
              {
               // alert("Šablóna bola vytvorená" );
                
              }
              else { alert(data.status);}


            }
          });
          
	};

  var $add_filtered_to_manual = false;
  if ($('#add_filtered_to_manual').is(':checked')) { $add_filtered_to_manual = true }

 $email_subject = $('#email_subject').val();
 $manual_subjects = $('#subjekt_manual').val();
 $content = $('#email_content').val();
 $district = $('#district').val();
 $county = $('#county').val();
 $subjtype = $('#subjtype').val();
 $obyv_count_from = $('#obyv_count_from').val();
 $obyv_count_to = $('#obyv_count_to').val();
 $user = $('#user').val();
 $docs = $('#docs').val();
 $email_acc = $('#email_acc').val();
 $all_manual_emails = $('#manual_email_entry').val();

 	$.ajax({
            type: "POST",
            url: "/send_mail_to_subjects",
            data: {
              email_subject: $email_subject,
              content: $content,
              district: $district,
              county: $county,
              subjtype: $subjtype,
              obyv_count_from: $obyv_count_from,
              obyv_count_to: $obyv_count_to,
              user: $user,
              docs: $docs,
              email_acc: $email_acc,
              manual_emails: $all_manual_emails,
              manual_subjects: $manual_subjects,
              add_filtered_to_manual: $add_filtered_to_manual
            },

            success:function(data){
            	$("#main_box").removeClass('ibox-content sk-loading');
				$("#spinner_box").css({"display": "none"});

              if (data.status == "ok")
              {
                $("#temp_preview").html(data.content);
                $("#sent_addresses").html(data.addresses);
                $('#ShowSendEmailModal').modal('show');
                $('#ShowSendEmailModal').on('hidden.bs.modal', function (e) {
  				location.reload();
					})
              }
              else { alert("Chyba!");
              //location.reload();
          		}


            }
          });


});



};

$(".static_pages.create_email").ready(ready);


$(".static_pages.create_email").on('turbolinks:load', ready); 

</script>