<p id="notice"><%= render 'layouts/flash_message' %></p>

<div class="row">
                    <div class="col-lg-3">
                        <div class="ibox ">
                            <div class="ibox-title">
                                <h2>Vitaj <%= current_user.name %></h2>
                            </div>
                            <div class="ibox-content">
                                
                        <small>Máš <%= @calendar.count %> záznamov v kalendári na najbližší mesiac</small>
                        <a class="pull-right" data-toggle="modal" data-target="#addCalendarNoteModal"  aria-expanded="false">
                                <i class="fa fa-plus-square"></i>
                            </a>

                            </div>
                            <div class="ibox-content">
                               <table class="table table-hover no-margins">
            <tbody>

                            <% @calendar.each_with_index do |cal,index| %>
                            <tr>
                              <td>  <%= I18n.localize cal.start, :format => :long %></td>
                              <td><%= index + 1 %></td>
                              <td><%= cal.title %></td>
                              <td><a class="del_calendar" ><i id="<%= cal.id %>" class="fa fa-trash-o" aria-hidden="true" ></i></a></td>
                            </tr>
                            
                            <% end %>
                           
                   <!--     </ul>-->
                 </tbody>
               </table>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-9">
                        <div class="ibox ">
                            <div class="ibox-title">
                                 <h2>Vyber projektového manažéra</h2>
                            </div>
                            <div class="ibox-content">
                               <%= select_tag 'calendar_pms', options_from_collection_for_select(@users, 'id', 'name'), class: 'form-control', id: 'calendar_pms',"data-placeholder": "Projektový manažér",prompt: "--vyber projektového manažéra--" %>
                            </div>
                            <div class="ibox-content" id="pm_details">
                              <div class="row">

                               <div class="col-md-4">
       
       
                                  <div id="user_calendar_data">

                                </div>
                            </div>
                            <div class="col-md-8">
                              
                              <span id="project_select">
                              </span>
                               <div class="ibox">

                                                <div id="project_info">
                                                   
                                                </div>
                                            
                               </div>
                              </div>   
                            </div>
                            </div>
                        </div>
                    </div>
                    
            </div>


<br>
<br>



<div id="addCalendarNoteModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h2 class="modal-title" id="edit_myModalLabel">Vlož poznámku do kalendára </h2>
       
      </div>
      <div class="modal-body">
        <div class="row">
              <div class="col-md-6">
      <div class="input-group date">
          <span id="inputcalendar" class="input-group-addon docs-datepicker-trigger"><i class="fa fa-calendar "></i></span><input type="text" name="calendar_manual_entry" id="calendar_manual_entry" class="form-control datepick" placeholder="1990-12-31" /></div>
          </div>
          <div class="col-md-6">
            <div class="input-group clockpicker" data-autoclose="true">
                                <input type="text" id="calendar_manual_entry_time" class="form-control" placeholder="09:30">
                                <span class="input-group-addon">
                                    <span class="fa fa-clock-o"></span>
                                </span>
                            </div>
                        </div>
                      </div>
                      <br>
                      <div class="row">
             <div class="col-md-12">
              <input type="text" name="calendar_note" id="calendar_note" class="form-control" placeholder="Poznámka" />
             </div>
           </div>
           <br>
           <div class="row">
          <div class="col-md-3">
            <button class="btn btn-primary" id="manul_cal_entry_submit_button">Ulož záznam</button>
          </div>
      </div>

        </div>
        </div>
        </div>
        </div>

<script>
var ready = function() {
        $('.datepick').datepicker({
       trigger: $('#inputcalendar'),
        autoHide: true,
        format: 'yyyy-mm-dd'
        });


$('.del_calendar').on('click',function(event){
    
    $id=event.target.id;
    var x = confirm("Naozaj chceš vymazať tento záznam v kalendári?");
            if (x) {
                $.ajax({
                    url: "/remove_calendar_event",
                    data: {
                        id: $id
                    },
                    type: "POST"
                }).done(function (data) {

                    
                if (data.status == "ok")
              {
                $("#notice").html(flashMessageFromAjax(data.status,"Záznam v kalendári bol vymazaný"));
                //alert("Záznam v kalendári bol vymazaný" );
                $('#'+$id).closest('li').remove();
                
              }
              else { alert(data.status);}

                
                
            })
                .fail(function (msg) {
                    $("#notice").html(flashMessageFromAjax(data.status,msg)); 

                });

            }

})

    $("#manul_cal_entry_submit_button").click(function()
{

$manual_date = $('#calendar_manual_entry').val();
$manual_time = $('#calendar_manual_entry_time').val();
$calnote = $('#calendar_note').val();

if ($manual_date.length > 0) {

    if ($manual_time.length == 0) {
        $allday = true;
        $custstart = $manual_date.concat(' 00:00:00')
        $custend = $manual_date.concat(' 23:59:59')
    }
     else {
        $allday = false; $custstart = $manual_date.concat(' ',$manual_time); $custend = $manual_date.concat(' ',$manual_time);
     }


 
 $.ajax({
            type: "POST",
            url: "/add_calendar_event",
            data: {
                title: $calnote,
                start: $custstart,
                end: $custend,
                allDay: $allday
            }
        })
           .done(function (data) {
                
             if (data.status == "ok")
              {
                $("#notice").html(flashMessageFromAjax(data.status,"Záznam v kalendári bol vytvorený"));
                //alert("Záznam do kalendára bol pridaný" );
                location.reload();
                
              }
              else { alert(data.status);}

                               
                            })
           .fail(function (data) {
            $("#notice").html(flashMessageFromAjax("not ok","Nepodarilo sa vložiť záznam do kalendára"));
               
               

           })                            
           ;
}
else {
    $("#notice").html(flashMessageFromAjax("not ok","Nezadal si dátum"));
}
  });

    
    $( "#calendar_pms" ).change(function() {
        $user_id= $( "#calendar_pms" ).val();

          
//kalendar
          $.ajax({
            type: "GET",
            url: "/get_user_calendar/"+$user_id+".json"
            
        })
           .done(function (data) {
            if (data.status == "ok") {
                var $html='';
                $html += '<h2>Kalendár projektového manažéra</h2>'
                
                if (data.data.length > 0) {
                    
               $html+=' <table class="table table-hover no-margins"> <tbody>'

                   for ( var i = 0; i < data.data.length; i++) {
                    $html+='<tr><td>'+data.data[i].start+'</td><td>'+(i+1)+'</td><td>'+data.data[i].title+'</td></tr>';
                    //$html+= '<li class="list-group-item"><span class="float-right">'+data.data[i].start+'</span><span class="label label-success">'+(i+1)+'</span>'+data.data[i].title+'</li>'
                   }
                   $html+='</tbody></table>'

                //console.log($html)

            }
            else { $html += 'Nenašiel sa žíadny záznam v kalendári pre projektového manažéra.' }
            
            $('#user_calendar_data').html('');
            
            $('#user_calendar_data').append($html)
            }
           })
           .fail(function (data) {
            $("#notice").html(flashMessageFromAjax("not ok","Nepodarilo sa získať údaje"));
        });

//projekty
     $.ajax({
            type: "GET",
            url: "/get_user_project/"+$user_id+".json"
            
        }).done(function (data) {
            if (data.status == "ok") {
               $('#project_info').html('');
                var $html='';
                $html += '<h2>Projekty projektového manažéra</h2>'
                if (data.data.length > 0) {
                    $html += "<select id='projects_sel' class='form-control'><option value=''>-- Vyber projekt --</option>"
                   for ( var i = 0; i < data.data.length; i++) {
                    $html += "<option value='" + data.data[i].id + "'>" + data.data[i].name + "</option>"

                   }
                   $html += '</select>'
                }

                else { $html += 'Nenašli sa žiadne projekty projektového manažéra';}

                 $('#project_select').html('');
            
                $('#project_select').append($html) ;



//projects part

    $( "#projects_sel" ).change(function() {
        $project_id= $( "#projects_sel" ).val();
          $.ajax({
            type: "GET",
            url: "projekt/"+$project_id+".json"
            
        })
           .done(function (data) {
            if (data.status == "ok") {
                var $html='';

                $html += '<div class="col-md-12"><div class="col-md-4"><p>Projekt: <b><a href="/projekt/'+ data.project.id + '">' + data.project.name +'</a></b></p>'+
                '<p>Zmluva: <b>'+ data.project.contract +'</b></p>'+
'<p class="m-b-xs">Objednávka: <b>'+ data.project.order +'</b></p>'+
'<p class="m-b-xs">Kontrola ŽoNFP: <b>'+ data.project.control_zonfp +'</b></p>'+
'<p class="m-b-xs">Poznámka: <b>'+ data.project.note +'</b></p>'+
'<p class="m-b-xs">Dodávateľ: <b>'+ data.project.contractor +'</b></p>'+
'</div>'+
'<div class="col-md-4">'+
'<p class="m-b-xs">Poslané na podpis: <b>'+ getTrueFalseIcon(data.project.sent_to_sign) +'</b></p>'+
'<p class="m-b-xs">Odovzdané-online: <b>'+ getTrueFalseIcon(data.project.submit_online) +'</b></p>'+
'<p class="m-b-xs">Odovzdané-print: <b>'+ getTrueFalseIcon(data.project.submit_print) +'</b></p>'+
'</div>'+
'<div class="col-md-4">'+
'<p class="m-b-xs">Dohodnuté odmeny: <b>'+ data.project.agreed_payment +'</b></p>'+
'<p class="m-b-xs">Fakturovaná odmena: <b>'+ data.project.payment +'</b></p>'+
'<p class="m-b-xs">Splatnosť: <b>'+ data.project.due_date +'</b></p>'+
'<p class="m-b-xs">Uhradené: <b>'+ getTrueFalseIcon(data.project.payed) +'</b></p></div></div><hr>';



                if (data.activities.length > 0) {

                  $html+= '<div class="ibox-content inspinia-timeline"><div class="col-md-12">'

                  for ( var i = 0; i < data.activities.length; i++) {
                      
                      $email = ''
                      for (k = 0; k < data.users.length; ++k) { if (data.users[k].id == data.activities[i].user_id) {$email = data.users[k].email } }                    

                      $html+= '<div class="timeline-item "><div class="row"><div class="col-md-4 date padding_top_10px">'+get_activity_icon(data.activities[i].action_type)+'<br><small class="text-navy">'+prettyDate(data.activities[i].created_at)+'</small></div>';
                      $html += '<div class="col-md-8 content no-top-border min80height"><p class="m-b-xs"><strong>'+data.activities[i].note+'</strong></p>';
                      $html += '<p>Autor: '+ $email+' </p></div></div></div>';

                   } 
                   $html += '</div></div>'

            }
            $('#project_info').html('');
            $('#project_info').append($html)
            }
           })
           .fail(function (data) {
            $("#notice").html(flashMessageFromAjax("not ok","Nepodarilo sa získať údaje"));
        });

    });


              }
            }).fail(function (data) {
            $("#notice").html(flashMessageFromAjax("not ok","Nepodarilo sa získať údaje"));
          });


    });




//end of projects part

    };

$(".static_pages.home").ready(ready);
$(".static_pages.home").on('turbolinks:load', ready);
</script>



                                    
                                            