<p id="notice"><%= render 'layouts/flash_message' %></p>

<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-lg-10">
    <h2>Operačné programy</h2>
    <ol class="breadcrumb">
      <li>
        <%= link_to 'Home', root_path %>
      </li>
      <li class="active">
        <strong>Operačné programy</strong>
      </li>
    </ol>
  </div>
  <div class="col-lg-2">

  </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">
  <div class="row">
   <div class="col-lg-12">
     <div class="ibox float-e-margins">
      <div class="ibox-content">
        <button type="button" class="btn btn-success" id="add_oprogram_button" data-toggle="modal" data-target="#addOprogramModal">Vytvor nový operačný program</button>
        
        <hr>
        <div class="table-responsive">

          <table  class="table table-bordered" id="oprograms" style="width:100%">
  <thead>
    <tr>
      <th>Názov</th>
      <th>Poznámka</th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @oprograms.each do |oprogram| %>
      <tr>
        <td><%= oprogram.name %></td>
        <td><%= oprogram.note %></td>
       
        <td><a  data-toggle="modal" data-target="#editOprogramModal<%=oprogram.id%>"><i class="fa fa-pencil-square-o fa-2x" aria-hidden="true"></i></a></td>
        <td><%= link_to oprogram, method: :delete, data: { confirm: 'Naozaj ho chceš zmazať? Všetky naviazané projekty a ich dáta budú nenávratne zmazané!' } do %><i class="fa fa-trash-o fa-2x" aria-hidden="true" ></i>  
                <% end %></td>
      </tr>
    <% end %>
  </tbody>
</table>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
<br>


<div id="addOprogramModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h2 class="modal-title" id="myModalLabel">Vytvor operačný program </h2>
       
      </div>
      <div class="modal-body">
        <div class="form-group has-error">
         <label>Názov:</label><input type="text" name="name" id="name" class="form-control" placeholder="Názov operačného programu" /><br>
          <label>Poznámka:</label><input type="text" name="note" id="note" class="form-control" placeholder="Poznámka" /><br>
           
           
       </div>
       <button id="addoprogramconfirm" type="button" class="addoprogram btn btn-success">Vytvor</button>
 
   </div>
 </div>
</div>
</div>


<% @oprograms.each do |oprogram| %>
<div id="editOprogramModal<%=oprogram.id%>" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h2 class="modal-title" id="myModalLabel">Uprav operačný program <%=oprogram.name %></h2>
       
      </div>
      <div class="modal-body">
        <div class="form-group has-error">
         
           <label>Názov:</label><input type="text" name="name<%=oprogram.id%>" id="name<%=oprogram.id%>" class="form-control" value="<%=oprogram.name%>" /><br>
            <label>Poznámka:</label><input type="text" name="note<%=oprogram.id%>" id="note<%=oprogram.id%>" class="form-control" value="<%=oprogram.note%>" /><br>
           
       </div>
       <button id="<%=oprogram.id%>" type="button" class="editoprogram btn btn-success">Uprav</button>

     

   </div>
 </div>
</div>

</div>
<% end %>

<script>
var subjtable;

var tableready = function() {



 oprtable= $('#oprograms').DataTable({
  'order': [2, 'desc'],
  'serverSide': false,
  'stateSave' :true,
  'dom': 'lfr<"pull-right"B>tip',
 'buttons': [
  {"extend" : 'copyHtml5',"text":"Copy","className": 'btn btn-default btn-xs'},
  {"extend" : 'excelHtml5',"text": "XLS","className": 'btn btn-default btn-xs'},
  {"extend" : 'csvHtml5',"text": "CSV","className": 'btn btn-default btn-xs'},
  {"extend" : 'pdfHtml5',"text": "PDF","orientation" : "landscape","pageSize": "LEGAL","className": 'btn btn-default btn-xs'},

  ],
  'language': {
        'url': '/datatables_slovak.json'
      },
  'lengthMenu': [
  [10, 50,100, -1],
  [10, 50,100, "All"]
  ]

});

$('.editoprogram').on('click',function(event){
          //console.log(event.target.id);
          
          $oprogram_id = event.target.id;
          $oprogram_name = $('#name'+$oprogram_id).val();
          $oprogram_note = $('#note'+$oprogram_id).val();

              $.ajax({
            type: "POST",
            url: "/modal_edit_oprogram",
            data: {
              oprogram_id: $oprogram_id,
              name: $oprogram_name,
              note: $oprogram_note
            },

            success:function(data){
              if (data.status == "ok")
              {
               // alert("Operačný program bol upravený" );
               $("#notice").html(flashMessageFromAjax(data.status,"Operačný program bol upravený"));
                location.reload();
              }
              else { alert(data.status);}


            }
          });
          



        });

$('.addoprogram').on('click',function(event){
          //console.log(event.target.id);
          
          $oprogram_name = $('#name').val();
          $oprogram_note = $('#note').val();
          
          $.ajax({
            type: "POST",
            url: "/modal_create_oprogram",
            data: {
              name: $oprogram_name,
              note: $oprogram_note
              },

            success:function(data){
              if (data.status == "ok")
              {
                //alert("Operačný program bol vytvorený" );
                $("#notice").html(flashMessageFromAjax(data.status,"Operačný program bol vytvorený"));
                location.reload();
              }
              else { alert(data.status);}


            }
          });
          



        });


};
$(".oprograms.index").ready(tableready);


document.addEventListener('turbolinks:before-cache', function() {
 if ($('#oprograms_wrapper').length ==1) {oprtable.destroy() ;} 

});


$(".oprograms.index").on('turbolinks:load', tableready); 
</script>
