<% if current_user.admin? %>
<p id="notice"><%= render 'layouts/flash_message' %></p>

<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-lg-8">
    <h2>Faktúra</h2>
    <ol class="breadcrumb">
      <li>
        <%= link_to 'Home', root_path %>
      </li>
      <li>
        <%= link_to 'Faktúry', faktury_path %>
      </li>

      <li class="active">
        <strong>Faktúra</strong>
      </li>
    </ol>
  </div>
  <div class="col-lg-4">
                    <div class="title-action">
                       
                        
                            <%= link_to tlac_fakturu_path(@invoice.id), :class=>'btn btn-success', :target=>'_blank' do %>
                            <i class="fa fa-print"></i> Tlač faktúru </a>
                        <% end %>
                    </div>
                </div>
</div>


 <div class="row">
            <div class="col-lg-12">
                <div class="wrapper wrapper-content animated fadeInRight">
                    <div class="ibox-content p-xl">
                        <div class="row">
                            <div class="col-md-4">
                            <h4>Faktúra čislo:</h4>
                                    <h4 class="text-success"><%= @invoice.invoice_no %></h4>
                                    <p>Daňový doklad</p>
                                </div>
                                <div class="col-md-8">
                                     <img class="pull-left img-responsive " src="<%= asset_path( 'gg256.png' ) %>"  alt="logo">
                                </div>
                        </div>
                        <hr>
                            <div class="row">
                                <div class="col-sm-6">
                                    <h5>Dodávateľ:</h5>
                                    <address>
                                        <strong><%= @invoice.invoice_profile.name%></strong><br>
                                        <%= @invoice.invoice_profile.address1%><br>
                                        <%= @invoice.invoice_profile.address2%><br>
                                        <br>
                                        <strong>IČO:: </strong><%= @invoice.invoice_profile.ico%><br>
                                        <strong>DIČ:: </strong><%= @invoice.invoice_profile.dic%><br>
                                        <strong>IČ DPH: </strong><%= @invoice.invoice_profile.icdph%><br>
                                        <strong>Banka: </strong><%= @invoice.invoice_profile.bank_name%><br>
                                        <strong>IBAN: </strong><%= @invoice.invoice_profile.iban%><br>
                                        
                                    </address>
                                </div>

                                <div class="col-sm-6 text-right">
                                    
                                    <h5>Odberateľ:</h5>
                                    <address>
                                        <strong><%= @invoice.corp_name %></strong><br>
                                        <%= @invoice.corp_address %><br>
                                        <%= @invoice.corp_address2 %><br>
                                        <br>
                                        <strong>IČO:: </strong><%= @invoice.corp_ico%><br>
                                        <strong>DIČ:: </strong><%= @invoice.corp_dic%><br>
                                        <strong>IČ DPH: </strong><%= @invoice.corp_icdph%><br>

                                    </address>
                                   
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-md-12">
                                     <p>
                                        <span><strong>Dátum vyhotovenia faktúry:</strong> <%= prettyDate(@invoice.invoice_create_date)%></span><br/>
                                        <span><strong>Dátum dodania:</strong> <%= prettyDate(@invoice.delivery_date)%></span><br/>
                                        <span><strong>Dátum splatnosti:</strong> <%= prettyDate(@invoice.invoice_due_date)%></span>
                                    </p>
                                </div>
                            </div>
                            <hr>

                            <div class="row">
                                <div class="col-md-8 offset-md-2">
                                    <h3><a data-toggle="modal" data-target="#editInvText"   aria-expanded="false">
                                <i class="fa fa-pencil-square-o"></i>
                            </a></h3>
                                    <p class="p-lg">
                                        <%= @invoice.invoice_text%>
                                    </p>
                                </div>
                              
                            </div><!-- /table-responsive -->
                            <hr>
                            <br><br>
                            <table class="table invoice-total">
                                <tbody>
                                <tr>
                                    <td><strong>Faktúrovaná suma v EUR bez DPH :</strong></td>
                                    <td><a data-toggle="modal" data-target="#editInvAmount"   aria-expanded="false">
                                <i class="fa fa-pencil-square-o"></i></a><%= @invoice.contracted_amount %> EUR</td>
                                </tr>
                                <tr>
                                    <td><strong>DPH :</strong></td>
                                    <td>20%</td>
                                </tr>
                                <tr>
                                    <td><strong>Celková faktúrovaná suma v EUR s DPH :</strong></td>
                                    <td><%= getInvoiceValueWithTax(@invoice.id) %> EUR</td>
                                </tr>
                                </tbody>
                            </table>
                           

                            <div class="well m-t"><strong><%= @invoice.invoice_profile.orsr_entry %></strong>
                                
                            </div>
                        </div>
                </div>
            </div>
        </div>

<div id="editInvAmount" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h2 class="modal-title" id="myModalLabel">Uprav Sumu</h2>
        
      </div>
      <div class="modal-body">
        <div class="form-group has-error">
          <form name="edit_subjekt_form" accept-charset="utf-8">
    <label>Suma bez DPH:</label><input type="number" name="edit_inv_amount" id="edit_inv_amount" class="form-control" placeholder="200" value="<%= @invoice.contracted_amount %>" /><br>
    
    <br>       

    <input  class="editinvamountbtn btn btn-success" value="Uprav" /> 

   </form>

 </div>
</div>
</div>
</div>
</div>

<div id="editInvText" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h2 class="modal-title" id="myModalLabel">Uprav text na faktúre</h2>
        
      </div>
      <div class="modal-body">
        <div class="form-group has-error">
          <form name="edit_subjekt_form" accept-charset="utf-8">
   <input type="text_area" name="edit_inv_text" id="edit_inv_text" class="form-control" placeholder="Fakturujeme vam sluzbu...." value="<%= @invoice.invoice_text %>" /><br>
    
    <br>       

    <input  class="editinvtextbtn btn btn-success" value="Uprav" /> 

   </form>

 </div>
</div>
</div>
</div>
</div>

<script>
var ready = function() {
    $('.editinvamountbtn').on('click',function(event){
          //console.log(event.target.id);
          
          $inv_amount = $('#edit_inv_amount').val();
         
          
          $.ajax({
            type: "POST",
            url: "/modal_edit_inv_amount",
            data: {
              inv_amount: $inv_amount,
              inv_id: <%= @invoice.id %>

            },

            success:function(data){
              if (data.status == "ok")
              {
                //alert("Subjekt bol upravený" );
                location.reload();
                
              }
              else { alert(data.status);}


            }
          });
          



        });

$('.editinvtextbtn').on('click',function(event){
          //console.log(event.target.id);
          
          $inv_text = $('#edit_inv_text').val();
         
          
          $.ajax({
            type: "POST",
            url: "/modal_edit_inv_text",
            data: {
              inv_text: $inv_text,
              inv_id: <%= @invoice.id %>

            },

            success:function(data){
              if (data.status == "ok")
              {
                //alert("Subjekt bol upravený" );
                location.reload();
                
              }
              else { alert(data.status);}


            }
          });
          



        });

}

$(".invoices.show").ready(ready);
$(".invoices.show").on('turbolinks:load', ready);
</script>
<% else %>
<h2>Sem nemas pristup</h2>
<% end %>