<%= form_for(@userprofile) do |f| %>
  <% if @userprofile.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@userprofile.errors.count, "error") %> prohibited this userprofile from being saved:</h2>

      <ul>
      <% @userprofile.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :user_id %><br>
    <%= f.text_field :user_id %>
  </div>
  <div class="field">
    <%= f.label :smtp1 %><br>
    <%= f.text_field :smtp1 %>
  </div>
  <div class="field">
    <%= f.label :port1 %><br>
    <%= f.number_field :port1 %>
  </div>
  <div class="field">
    <%= f.label :email_acc1 %><br>
    <%= f.text_field :email_acc1 %>
  </div>
  <div class="field">
    <%= f.label :email_pass1 %><br>
    <%= f.text_field :email_pass1 %>
  </div>
  <div class="field">
    <%= f.label :smtp2 %><br>
    <%= f.text_field :smtp2 %>
  </div>
  <div class="field">
    <%= f.label :port2 %><br>
    <%= f.number_field :port2 %>
  </div>
  <div class="field">
    <%= f.label :email_acc2 %><br>
    <%= f.text_field :email_acc2 %>
  </div>
  <div class="field">
    <%= f.label :email_pass2 %><br>
    <%= f.text_field :email_pass2 %>
  </div>
  <div class="field">
    <%= f.label :smtp3 %><br>
    <%= f.text_field :smtp3 %>
  </div>
  <div class="field">
    <%= f.label :port3 %><br>
    <%= f.number_field :port3 %>
  </div>
  <div class="field">
    <%= f.label :email_acc3 %><br>
    <%= f.text_field :email_acc3 %>
  </div>
  <div class="field">
    <%= f.label :email_pass3 %><br>
    <%= f.text_field :email_pass3 %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
