<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @userprofile.user %>
</p>

<p>
  <strong>Smtp1:</strong>
  <%= @userprofile.smtp1 %>
</p>

<p>
  <strong>Port1:</strong>
  <%= @userprofile.port1 %>
</p>

<p>
  <strong>Email acc1:</strong>
  <%= @userprofile.email_acc1 %>
</p>

<p>
  <strong>Email pass1:</strong>
  <%= @userprofile.email_pass1 %>
</p>

<p>
  <strong>Smtp2:</strong>
  <%= @userprofile.smtp2 %>
</p>

<p>
  <strong>Port2:</strong>
  <%= @userprofile.port2 %>
</p>

<p>
  <strong>Email acc2:</strong>
  <%= @userprofile.email_acc2 %>
</p>

<p>
  <strong>Email pass2:</strong>
  <%= @userprofile.email_pass2 %>
</p>

<p>
  <strong>Smtp3:</strong>
  <%= @userprofile.smtp3 %>
</p>

<p>
  <strong>Port3:</strong>
  <%= @userprofile.port3 %>
</p>

<p>
  <strong>Email acc3:</strong>
  <%= @userprofile.email_acc3 %>
</p>

<p>
  <strong>Email pass3:</strong>
  <%= @userprofile.email_pass3 %>
</p>

<%= link_to 'Edit', edit_userprofile_path(@userprofile) %> |
<%= link_to 'Back', userprofiles_path %>
