<p id="notice"><%= render 'layouts/flash_message' %></p>


<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-lg-10">
    <h2>Verejné obstarávania</h2>
    <ol class="breadcrumb">
      <li>
        <%= link_to 'Home', root_path %>
      </li>
      <li class="active">
        <strong>Verejné obstarávania</strong>
      </li>
    </ol>
  </div>
  <div class="col-lg-2">

  </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">
  <div class="row">
   <div class="col-lg-12">
     <div class="ibox float-e-margins">
      <div class="ibox-content">
        <button type="button" class="btn btn-success" id="add_project_button" data-toggle="modal" data-target="#addProcurementModal">Pridaj obstarávanie</button>
        
        <hr>
        <div class="table-responsive">

<table class="table table-bordered" id="procurements" style="width:100%">
  <thead>
    <tr>
      <th>Verejný obstarávateľ</th>
      <th>Názov verejného obstarávania</th>
      <th>Predmet zákazky</th>
      <th>Dátum vyhlásenia</th>
      <th>Dátum predloženia na kontrolu</th>
      <th>Dátum rozhodnutia o schválení</th>
      <th>Rozhodnutie o schválení</th>
      <th>Stav</th>
      <th>Poznámka</th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @procurements.each do |procurement| %>
      <tr>
        <td><%= procurement.procurer_name %></td>
        <td><%= procurement.name %></td>
        <td><%= procurement.subject %></td>
        <td><%= prettyDate(procurement.anounced_date) %></td>
        <td><%= prettyDate(procurement.control_date) %></td>
        <td><%= prettyDate(procurement.approval_date) %></td>
        <td><%= get_true_false_icon(procurement.approval) %></td>
        <td><%= procurement.status %></td>
        <td><%= procurement.note %></td>
         <td><a  class="edit_procurement_btn"><i id="<%= procurement.id %>" class="fa fa-pencil-square-o fa-2x" aria-hidden="true"></i></a></td>
        <td><%= link_to procurement, method: :delete, data: { confirm: 'Naozaj ho chceš zmazať? ' } do %><i class="fa fa-trash-o fa-2x" aria-hidden="true" ></i>  
                <% end %></td>
                
      </tr>
    <% end %>
             
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
<br>

<div id="addProcurementModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h2 class="modal-title" id="myModalLabel">Vytvor obstarávanie </h2>
       
      </div>
      <div class="modal-body">
               
         
           <label>Verejný obstarávateľ:</label><input type="text" name="procurer_name" id="procurer_name" class="form-control" placeholder="Verejný obstarávateľ..." /><br>
          <label>Názov verejného obstarávania:</label><input type="text" name="procurement_name" id="procurement_name" class="form-control" placeholder="Názov verejného obstarávania..." /><br>
          <label>Predmet zákazky:</label><input type="text" name="procurement_subject" id="procurement_subject" class="form-control" placeholder="Predmet zákazky..." /><br>
          <label>Dátum vyhlásenia:</label><div class="input-group date">
          <span id="inputcalendar" class="input-group-addon docs-datepicker-trigger"><i class="fa fa-calendar "></i></span><input name="procurement_anounced_date" id="procurement_anounced_date" class="form-control datepick" placeholder="1990-12-31" /></div><br>
          <label>Dátum predloženia na kontrolu:</label><div class="input-group date">
          <span id="inputcalendar" class="input-group-addon docs-datepicker-trigger"><i class="fa fa-calendar "></i></span><input name="procurement_control_date" id="procurement_control_date" class="form-control datepick" placeholder="1990-12-31" /></div><br>
          <label>Dátum rozhodnutia o schválení:</label><div class="input-group date">
          <span id="inputcalendar" class="input-group-addon docs-datepicker-trigger"><i class="fa fa-calendar "></i></span><input name="procurement_approval_date" id="procurement_approval_date" class="form-control datepick" placeholder="1990-12-31" /></div><br>
           <label>Rozhodnutie o schválení: <input id="procurement_approval" type="checkbox" class="icheckbox_square-green" /></label><br>

            
          <label>Stav verejného obstarávania:</label><input type="text" name="procurement_status" id="procurement_status" class="form-control" placeholder="Stav verejného obstarávania..." /><br>
          <label>Poznámka k verejnému obstarávaniu:</label><input type="text" name="procurement_note" id="procurement_note" class="form-control" placeholder="Poznámka k verejnému obstarávaniu..." /><br>

           
       
       <button id="addprocurementbtn" type="button" class="addproc btn btn-success">Vytvor</button>
 
   </div>
 </div>
</div>
</div>



<div id="editProcurementModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h2 class="modal-title" id="myModalLabel">Uprav obstarávanie </h2>
       
      </div>
      <div class="modal-body">

        <label>Verejný obstarávateľ:</label><input type="text" name="edit_procurer_name" id="edit_procurer_name" class="form-control" placeholder="Verejný obstarávateľ..." /><br>
          <label>Názov verejného obstarávania:</label><input type="text" name="edit_procurement_name" id="edit_procurement_name" class="form-control" placeholder="Názov verejného obstarávania..." /><br>
          <label>Predmet zákazky:</label><input type="text" name="edit_procurement_subject" id="edit_procurement_subject" class="form-control" placeholder="Predmet zákazky..." /><br>
          <label>Dátum vyhlásenia:</label><div class="input-group date">
          <span id="inputcalendar" class="input-group-addon docs-datepicker-trigger"><i class="fa fa-calendar "></i></span><input name="edit_procurement_anounced_date" id="edit_procurement_anounced_date" class="form-control datepick" placeholder="1990-12-31" /></div><br>
          <label>Dátum predloženia na kontrolu:</label><div class="input-group date">
          <span id="inputcalendar" class="input-group-addon docs-datepicker-trigger"><i class="fa fa-calendar "></i></span><input name="edit_procurement_control_date" id="edit_procurement_control_date" class="form-control datepick" placeholder="1990-12-31" /></div><br>
          <label>Dátum rozhodnutia o schválení:</label><div class="input-group date">
          <span id="inputcalendar" class="input-group-addon docs-datepicker-trigger"><i class="fa fa-calendar "></i></span><input name="edit_procurement_approval_date" id="edit_procurement_approval_date" class="form-control datepick" placeholder="1990-12-31" /></div><br>
           <label>Rozhodnutie o schválení: <input id="edit_procurement_approval" type="checkbox" class="icheckbox_square-green" /></label><br>


          <label>Stav verejného obstarávania:</label><input type="text" name="edit_procurement_status" id="edit_procurement_status" class="form-control" placeholder="Stav verejného obstarávania..." /><br>
          <label>Poznámka k verejnému obstarávaniu:</label><input type="text" name="edit_procurement_note" id="edit_procurement_note" class="form-control" placeholder="Poznámka k verejnému obstarávaniu..." /><br>
           
       
       <button id="editprocurementbtn" type="button" class="editproc btn btn-success">Uprav</button>
 
   </div>
 </div>
</div>
</div>

<div id="addCalendarNoteModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h2 class="modal-title" id="edit_myModalLabel">Vlož poznámku do kalendára </h2>
       
      </div>
      <div class="modal-body">
        <div class="row">
              <div class="col-md-6">
      <div class="input-group date">
          <span id="inputcalendar" class="input-group-addon docs-datepicker-trigger"><i class="fa fa-calendar "></i></span><input type="text" name="calendar_manual_entry" id="calendar_manual_entry" class="form-control datepick" placeholder="1990-12-31" /></div>
          </div>
          <div class="col-md-6">
            <div class="input-group clockpicker" data-autoclose="true">
                                <input type="text" id="calendar_manual_entry_time" class="form-control" placeholder="09:30">
                                <span class="input-group-addon">
                                    <span class="fa fa-clock-o"></span>
                                </span>
                            </div>
                        </div>
                      </div>
                      <br>
                      <div class="row">
             <div class="col-md-12">
              <input type="text" name="calendar_note" id="calendar_note" class="form-control" placeholder="Poznámka" />
             </div>
           </div>
           <br>
           <div class="row">
          <div class="col-md-3">
            <button class="btn btn-primary" id="manul_cal_entry_submit_button">Ulož záznam</button>
          </div>
      </div>

        </div>
        </div>
        </div>
        </div>

<script>
var proctable;

var tableready = function() {

$('.chosen-select').chosen({width: "100%"});

$('.datepick').datepicker({
       trigger: $('#inputcalendar'),
        autoHide: true,
        format: 'yyyy-mm-dd'
          });

 proctable= $('#procurements').DataTable({
  'order': [0, 'desc'],
  'serverSide': false,
  'stateSave' :true,
  
  'dom': 'lfr<"pull-right"B>tip',
 'buttons': [
  {"extend" : 'copyHtml5',"text":"Copy","className": 'btn btn-default btn-xs'},
  {"extend" : 'excelHtml5',"text": "XLS","className": 'btn btn-default btn-xs'},
  {"extend" : 'csvHtml5',"text": "CSV","className": 'btn btn-default btn-xs'},
  {"extend" : 'pdfHtml5',"text": "PDF","orientation" : "landscape","pageSize": "LEGAL","className": 'btn btn-default btn-xs'},

  ],
  'language': {
        'url': '/datatables_slovak.json'
      },
  'lengthMenu': [
  [10, 50,100, -1],
  [10, 50,100, "All"]
  ],
  drawCallback: function(settings) {
     
    $('.edit_procurement_btn').on('click',function(event){

      $id = event.target.id

       $.ajax({
            type: "GET",
            url: "/procurements/"+$id+".json"
            
        })
           .done(function (data) {
              updateProcurementEditModal(data);
          $('#editProcurementModal').modal('show');

           })
           .fail(function (data) {
              $("#notice").html(flashMessageFromAjax("not ok","Nepodarilo sa natiahnuť údaje o obstarávaní"));
           }
            )
      
      
});

  

  }

});


//calendar modals
var $modalname;
 $('.docs-datepicker-trigger').on('click',function(event){
  $modalname = $(this).closest('div.modal').get(0).id;

  //$(this).closest('div.modal').modal('toggle');
  $('#'+$modalname).modal('toggle');
  $("#addCalendarNoteModal").modal('toggle');
 });

 $('#addCalendarNoteModal').on('hidden.bs.modal', function () {
   $('#'+$modalname).modal('toggle');
    
})

$("#manul_cal_entry_submit_button").click(function()
{

$manual_date = $('#calendar_manual_entry').val();
$manual_time = $('#calendar_manual_entry_time').val();
$calnote = $('#calendar_note').val();

if ($manual_date.length > 0) {

  if ($manual_time.length == 0) {
    $allday = true;
    $custstart = $manual_date.concat(' 00:00:00')
    $custend = $manual_date.concat(' 23:59:59')
  }
   else {
    $allday = false; $custstart = $manual_date.concat(' ',$manual_time); $custend = $manual_date.concat(' ',$manual_time);
   }


 
 $.ajax({
            type: "POST",
            url: "/add_calendar_event",
            data: {
                title: $calnote,
                start: $custstart,
                end: $custend,
                allDay: $allday
            }
        })
           .done(function (data) {
                
             if (data.status == "ok")
              {
                $("#notice").html(flashMessageFromAjax(data.status,"Záznam v kalendári bol vytvorený"));
                //alert("Záznam do kalendára bol pridaný" );
                $('#addCalendarNoteModal').modal('toggle');
                
              }
              else { alert(data.status);}

                               
                            })
           .fail(function (data) {
            $("#notice").html(flashMessageFromAjax("not ok","Nepodarilo sa vložiť záznam do kalendára"));
               
               

           })                            
           ;
}
else {
  $("#notice").html(flashMessageFromAjax("not ok","Nezadal si dátum"));
}
  });

////

$('.addproc').on('click',function(event){
          //console.log(event.target.id);
          $procurement_approval = false;
          $procurement_name=$('#procurement_name').val();
          $procurement_subject=$('#procurement_subject').val();
          $procurement_anounced_date=$('#procurement_anounced_date').val();
          $procurement_control_date=$('#procurement_control_date').val();
          $procurement_approval_date=$('#procurement_approval_date').val();
          if ($('#procurement_approval').is(":checked")) {$procurement_approval = true;} 
          $procurement_status=$('#procurement_status').val();
          $procurement_note=$('#procurement_note').val();
          $procurer_name=$('#procurer_name').val();
        
        
          $.ajax({
            type: "POST",
            url: "/modal_create_procurement",
            data: {
              procurement_name: $procurement_name,
              procurement_subject: $procurement_subject,
              procurement_control_date: $procurement_control_date,
              procurement_anounced_date: $procurement_anounced_date,
              procurement_approval_date: $procurement_approval_date,
              procurement_approval: $procurement_approval,
              procurement_status: $procurement_status,
              procurement_note: $procurement_note,
              procurer_name: $procurer_name
              },

            success:function(data){
              if (data.status == "ok")
              {
                //alert("Obstarávanie bolo vytvorené" );
                 $("#notice").html(flashMessageFromAjax(data.status,"Obstarávanie bolo vytvorené"));
                location.reload();
              }
              else { alert(data.status);}


            }
          });
          



        });


$('.editproc').on('click',function(event){
          //console.log(event.target.id);
          $procurement_approval = false;
         $procurement_name=$('#edit_procurement_name').val();
          $procurement_subject=$('#edit_procurement_subject').val();
          $procurement_anounced_date=$('#edit_procurement_anounced_date').val();
          $procurement_control_date=$('#edit_procurement_control_date').val();
          $procurement_approval_date=$('#edit_procurement_approval_date').val();
          if ($('#edit_procurement_approval').is(":checked")) {$procurement_approval = true;} else {$procurement_approval = false;}
          $procurement_status=$('#edit_procurement_status').val();
          $procurement_note=$('#edit_procurement_note').val();
          $procurer_name=$('#edit_procurer_name').val();

        
        
          $.ajax({
            type: "POST",
            url: "/modal_edit_procurement",
            data: {
              id: $id,
              procurement_name: $procurement_name,
              procurer_name: $procurer_name,
              procurement_anounced_date: $procurement_anounced_date,
              procurement_subject: $procurement_subject,
              procurement_control_date: $procurement_control_date,
              procurement_approval_date: $procurement_approval_date,
              procurement_approval: $procurement_approval,
              procurement_status: $procurement_status,
              procurement_note: $procurement_note
              },

            success:function(data){
              if (data.status == "ok")
              {
                //alert("Projekt bol upravený" );
                 $("#notice").html(flashMessageFromAjax(data.status,"Obstarávanie bolo upravené"));
                location.reload();
              }
              else { alert(data.status);}


            }
          });
          



        });




};
$(".procurements.index").ready(tableready);


document.addEventListener('turbolinks:before-cache', function() {
 if ($('#procurements_wrapper').length ==1) {proctable.destroy() ;} 

});


$(".procurements.index").on('turbolinks:load', tableready); 
</script>
