<%= form_for(@impchange) do |f| %>
  <% if @impchange.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@impchange.errors.count, "error") %> prohibited this impchange from being saved:</h2>

      <ul>
      <% @impchange.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :implementation_id %><br>
    <%= f.text_field :implementation_id %>
  </div>
  <div class="field">
    <%= f.label :user_id %><br>
    <%= f.text_field :user_id %>
  </div>
  <div class="field">
    <%= f.label :change_last_term %><br>
    <%= f.datetime_select :change_last_term %>
  </div>
  <div class="field">
    <%= f.label :change_about %><br>
    <%= f.text_field :change_about %>
  </div>
  <div class="field">
    <%= f.label :change_status %><br>
    <%= f.text_field :change_status %>
  </div>
  <div class="field">
    <%= f.label :change_date %><br>
    <%= f.datetime_select :change_date %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
