<p id="notice"><%= notice %></p>

<h1>Listing Impchanges</h1>

<table>
  <thead>
    <tr>
      <th>Implementation</th>
      <th>User</th>
      <th>Change last term</th>
      <th>Change about</th>
      <th>Change status</th>
      <th>Change date</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @impchanges.each do |impchange| %>
      <tr>
        <td><%= impchange.implementation %></td>
        <td><%= impchange.user %></td>
        <td><%= impchange.change_last_term %></td>
        <td><%= impchange.change_about %></td>
        <td><%= impchange.change_status %></td>
        <td><%= impchange.change_date %></td>
        <td><%= link_to 'Show', impchange %></td>
        <td><%= link_to 'Edit', edit_impchange_path(impchange) %></td>
        <td><%= link_to 'Destroy', impchange, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Impchange', new_impchange_path %>
