<p id="notice"><%= render 'layouts/flash_message' %></p>

<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-lg-10">
    <h2>Implementácie</h2>
    <ol class="breadcrumb">
      <li>
        <%= link_to 'Home', root_path %>
      </li>
      <li class="active">
        <strong>Implementácie</strong>
      </li>
    </ol>
  </div>
  <div class="col-lg-2">

  </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">
  <div class="row">
   <div class="col-lg-12">
     <div class="ibox float-e-margins">
      <div class="ibox-content">
        <button type="button" class="btn btn-success" id="add_implementation_button" data-toggle="modal" data-target="#addImplementationModal">Začni implementáciu projektu</button>
        
        <hr>
        <div class="table-responsive">

          <table  class="table table-bordered" id="implementations" style="width:100%">
  <thead>
    <tr>
      <th>Projekt</th>
      <th>Projektový manažér</th>
      <th>Operačný program</th>
      <th>Subjekt</th>
      <th>Dátum začatia projektu</th>
      <th>Termín ukončenia projektu podľa zmluvy o NFP</th>
      <th>Zaslanie hlásenia o začatí projektu</th>
      <th>Dátum predloženia ŽOP</th>
      
      <th>Typ žiadosti</th>
      <th>Termín najbližšej monitorovačky</th>
      <!--<th>Termín záverečnej monitorovačky</th>-->
      <th>Dátum predloženia na kontrolu</th>
      <th>Schválenie</th>
      <th>Poznámky</th>
      <th>Detaily</th>
      <th></th>
      <th></th>
     
     
    </tr>
  </thead>

  <tbody>
    
  </tbody>
   <tfoot>
                   <tr id ="tabledetailsearch" class="visibility" style="width:100%">
                     <th>Projekt</th>
      <th>Projektový manažér</th>
      <th>Operačný program</th>
      <th>Subjekt</th>
      <th>Dátum začatia projektu</th>
      <th>Termín ukončenia projektu podľa zmluvy o NFP</th>
      <th>Zaslanie hlásenia o začatí projektu</th>
      <th>Dátum predloženia ŽOP</th>
      
      <th>Typ žiadosti</th>
      <th>Termín najbližšej monitorovačky</th>
      <!--<th>Termín záverečnej monitorovačky</th>-->
      <th>Dátum predloženia na kontrolu</th>
      <th class="findtruefalse">Schválenie</th>
      <th class="disabled">Poznámky</th>
      <th class="disabled">Detaily</th>
      <th class="disabled"></th>
      <th class="disabled"></th>

                   </tr>
                 </tfoot>
</table>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
<br>

<div id="addImplementationModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h2 class="modal-title" id="myModalLabel">Vytvor Implementáciu </h2>
       
      </div>
      <div class="modal-body">
        <div class="alert alert-danger noborders">
   Polia vyznačené na červeno sú povinné
  </div>
  <div class="alert alert-info noborders">
   Po kliknutí na ikonu kalendára je možné priamo zadávať poznámky do svojho kalendára.

  </div>
        <div class="form-group has-error">
          <h3 class="center">Projekt</h3>
         <label>Projekt:</label><%= select_tag 'project', options_from_collection_for_select(@projects, 'id', 'name'), class: 'form-control chosen-select', id: 'project',"data-placeholder": "Projekt",prompt: "--vyber projekt--" %><br>
          <label>Projektový manažér:</label><%= select_tag 'project_manager', options_from_collection_for_select(@users, 'id', 'name'), class: 'form-control', id: 'project_manager',"data-placeholder": "Projektový manažér",prompt: "--vyber projektového manažéra--" %><br>
          
         <!--<label>Operačný program:</label><input type="text" name="oprogram" id="oprogram" class="form-control" placeholder="Operačný program..." /><br>-->
         <label>Operačný program: </label><%= select_tag 'oprogram', options_from_collection_for_select(@oprograms, 'id', 'name'), class: 'form-control', id: 'oprogram', prompt: "--vyber operačný program--" %></br>
         <label>Kontaktná osoba - Poskytovateľ pomoci:</label><input type="text" name="contact_helper" id="contact_helper" class="form-control" placeholder="Kontaktná osoba - Poskytovateľ pomoci..." /><br>
         <label>Kontaktná osoba - Klient:</label><input type="text" name="contact_client" id="contact_client" class="form-control" placeholder="Kontaktná osoba - Klient..." /><br>
          </div>
          <label>Projektant:</label><input type="text" name="projektant" id="projektant" class="form-control" placeholder="Projektant..." /><br>
          
          <label>Auditor:</label><input type="text" name="auditor" id="auditor" class="form-control" placeholder="Auditor..." /><br>
          <label>Iné kontaktné osoby:</label><input type="text" name="other_contacts" id="other_contacts" class="form-control" placeholder="Iné kontaktné osoby..." /><br>

          <label>Kód žiadosti projektu:</label><input type="text" name="project_request_code" id="project_request_code" class="form-control" placeholder="Kód žiadosti projektu..." /><br>
           <label>Stav projektu:</label><%= select_tag 'project_status', options_for_select(@project_status_data.map { |obj| [obj[:name], obj[:id]] }), class: 'form-control', id: 'project_status', prompt: "--vyber stav projektu--" %></br><br>

          <h3 class="center">Verejné obstarávanie</h3>
          <label>Verejné obstarávanie: </label><%= select_tag 'procurement', options_from_collection_for_select(@procurements, 'id', 'name'), multiple: true, class: 'form-control chosen-select', id: 'procurement',  "data-placeholder": "Vyber obstarávanie..."  %></br>

           <h3 class="center">Začatie projektu</h3>
          <label>Prístup do ITMS - Meno:</label><input type="text" name="itms_access_name" id="itms_access_name" class="form-control" placeholder="Prístup do ITMS - Meno..." /><br>
          <label>Prístup do ITMS - Heslo:</label><input type="text" name="itms_access_pass" id="itms_access_pass" class="form-control" placeholder="Prístup do ITMS - Heslo..." /><br>
          <label>Dátum podpisu zmluvy o NFP:</label><div class="input-group date">
          <span id="inputcalendar" class="input-group-addon docs-datepicker-trigger"><i class="fa fa-calendar "></i></span><input name="nfp_contract_signed" id="nfp_contract_signed" class="form-control datepick" placeholder="1990-12-31" /></div><br>
          <label>Dátum účinnosti zmluvy o NFP:</label><div class="input-group date">
          <span id="inputcalendar" class="input-group-addon docs-datepicker-trigger"><i class="fa fa-calendar "></i></span><input name="nfp_contract_effective" id="nfp_contract_effective" class="form-control datepick" placeholder="1990-12-31" /></div><br>
           <label>Dátum začatia projektu:</label><div class="input-group date">
          <span id="inputcalendar" class="input-group-addon docs-datepicker-trigger"><i class="fa fa-calendar "></i></span><input  name="project_startdate" id="project_startdate" class="form-control datepick" placeholder="1990-12-31" /></div><br>
          <label>Čím sa projekt začína:</label><input type="text" name="project_start_about" id="project_start_about" class="form-control" placeholder="Čím sa projekt začína..." /><br>
          <label>Čím sa projekt končí:</label><input type="text" name="project_end_about" id="project_end_about" class="form-control" placeholder="Čím sa projekt končí..." /><br>
          <label>Zaslanie hlásenia o začatí projektu: <input id="project_start_note_sent" type="checkbox" class="icheckbox_square-green" />          
        </label><div class="input-group date">
          <span id="inputcalendar" class="input-group-addon docs-datepicker-trigger"><i class="fa fa-calendar "></i></span>
        <input type="text" name="project_start_note_sentdate" id="project_start_note_sentdate" class="form-control datepick" placeholder="1990-12-31" /></div><br>
         <label>Termín ukončenia projektu podľa zmluvy o NFP:</label><div class="input-group date">
          <span id="inputcalendar" class="input-group-addon docs-datepicker-trigger"><i class="fa fa-calendar "></i></span><input type="text" name="project_enddate_by_nfp_contract" id="project_enddate_by_nfp_contract" class="form-control datepick" placeholder="1990-12-31" /></div><br>
       <label>Potreba zmeny harmonogramu projektu: <input id="project_schedule_change_need" type="checkbox" class="icheckbox_square-green" />          
        </label><br>
        <label>Termín na predloženie žiadostí o zmenu harmonogramu:</label><div class="input-group date">
          <span id="inputcalendar" class="input-group-addon docs-datepicker-trigger"><i class="fa fa-calendar "></i></span><input type="text" name="schedule_change_need_date" id="schedule_change_need_date" class="form-control datepick" placeholder="1990-12-31" /></div><br>
         <h3 class="center">ŽOP</h3>
         <label>Dátum predloženia ŽOP:</label><div class="input-group date">
          <span id="inputcalendar" class="input-group-addon docs-datepicker-trigger"><i class="fa fa-calendar "></i></span><input type="text" name="zop_showdate" id="zop_showdate" class="form-control datepick" placeholder="1990-12-31" /></div><br>
       <label>Posledný termín na predloženie ŽOP záverečná:</label><div class="input-group date">
          <span id="inputcalendar" class="input-group-addon docs-datepicker-trigger"><i class="fa fa-calendar "></i></span><input type="text" name="zop_last_term_end" id="zop_last_term_end" class="form-control datepick" placeholder="1990-12-31" /></div><br>
       <label>Posledný termín na predloženie prvej ŽOP:</label><div class="input-group date">
          <span id="inputcalendar" class="input-group-addon docs-datepicker-trigger"><i class="fa fa-calendar "></i></span><input type="text" name="zop_last_term_start" id="zop_last_term_start" class="form-control datepick" placeholder="1990-12-31" /></div><br>
       <label>Poznámka k ŽOP:</label><input type="text" name="zop_note" id="zop_note" class="form-control" placeholder="Poznámka k ŽOP..." /><br>
       <label>Dátum predloženia poslednej ŽOP:</label><div class="input-group date">
          <span id="inputcalendar" class="input-group-addon docs-datepicker-trigger"><i class="fa fa-calendar "></i></span><input type="text" name="zop_last_showdate" id="zop_last_showdate" class="form-control datepick" placeholder="1990-12-31" /></div><br>
       <label>Typ žiadosti:</label><input type="text" name="zop_request_type" id="zop_request_type" class="form-control" placeholder="Typ žiadosti..." /><br>
       <label>Stav ŽOP:</label><input type="text" name="zop_state" id="zop_state" class="form-control" placeholder="Stav ŽOP..." /><br>
       <div class="row">
        <div class="col-md-4">
          <label>Splnené podmienky na úhradu ŽOP: <input id="zop_paycond_fulfil" type="checkbox" class="icheckbox_square-green" />          
        </label>
        </div>
        <div class="col-md-4">
          <label>Splnené náležitosti ŽOP: <input id="zop_cond_fulfil" type="checkbox" class="icheckbox_square-green" />          
        </label>
        </div>
        <div class="col-md-4">
          <label>Nahratie podkladov do ITMS: <input id="zop_data_to_itms" type="checkbox" class="icheckbox_square-green" />          
        </label>
        </div>
       </div>
       <br>

       <label>Nahratie podkladov do ITMS - Stav:</label><input type="text" name="zop_data_to_itms_state" id="zop_data_to_itms_state" class="form-control" placeholder="Nahratie podkladov do ITMS - Stav..." /><br>
       <h3 class="center">Monitorovanie</h3>
        <label>Termín najbližšej monitorovačky:</label><div class="input-group date">
          <span id="inputcalendar" class="input-group-addon docs-datepicker-trigger"><i class="fa fa-calendar "></i></span>
          <input type="text" name="next_monitor_date" id="next_monitor_date" class="form-control datepick" placeholder="1990-12-31" /></div><br>
      <label>Termín záverečnej monitorovačky:</label><div class="input-group date">
          <span id="inputcalendar" class="input-group-addon docs-datepicker-trigger"><i class="fa fa-calendar "></i></span>
          <input type="text" name="finish_monitor_date" id="finish_monitor_date" class="form-control datepick" placeholder="1990-12-31" /></div><br>
      <label>Dátum predloženia na kontrolu:</label><div class="input-group date">
          <span id="inputcalendar" class="input-group-addon docs-datepicker-trigger"><i class="fa fa-calendar "></i></span>
          <input type="text" name="control_date" id="control_date" class="form-control datepick" placeholder="1990-12-31" /></div><br>
        <label>Schválenie: <input id="approved" type="checkbox" class="icheckbox_square-green" /> </label>
        <br><br><label>Poznámka k monitorovačke:</label><input type="text" name="monitoring_note" id="monitoring_note" class="form-control" placeholder="Poznámka k monitorovačke..." /><br>
         <h3 class="center">Žiadosť o zmenu</h3>   
        <label>Predmet žiadosti:</label><input type="text" name="change_request" id="change_request" class="form-control" placeholder="Predmet žiadosti..." /><br>
        <label>Posledný termín na preloženie žiadosti o zmenu:</label><div class="input-group date">
          <span id="inputcalendar" class="input-group-addon docs-datepicker-trigger"><i class="fa fa-calendar "></i></span>
          <input type="text" name="change_request_last_term" id="change_request_last_term" class="form-control datepick" placeholder="1990-12-31" /></div><br>
           <label>Schválenie žiadosti: <input id="change_request_approval" type="checkbox" class="icheckbox_square-green" /> </label>
           <br><br><label>Poznámka k žiadosti o zmenu:</label><input type="text" name="change_request_note" id="change_request_note" class="form-control" placeholder="Poznámka k žiadosti o zmenu..." /><br>

       <h3 class="center">Povinná publicita</h3>   
       <label>Predmet publicity:</label><input type="text" name="publicity_subject" id="publicity_subject" class="form-control" placeholder="Predmet publicity..." /><br>
      <label>Posledný termín na predloženie publicity projektu:</label><div class="input-group date">
          <span id="inputcalendar" class="input-group-addon docs-datepicker-trigger"><i class="fa fa-calendar "></i></span>
          <input type="text" name="publicity_last_term" id="publicity_last_term" class="form-control datepick" placeholder="1990-12-31" /></div><br>
      <label>Dátum predloženia:</label><div class="input-group date">
          <span id="inputcalendar" class="input-group-addon docs-datepicker-trigger"><i class="fa fa-calendar "></i></span>
          <input type="text" name="publicity_showdate" id="publicity_showdate" class="form-control datepick" placeholder="1990-12-31" /></div><br>
          <br><label>Poznámka k publicite:</label><input type="text" name="publicity_note" id="publicity_note" class="form-control" placeholder="Poznámka k publicite..." /><br>
        <h3 class="center">Ukončenie projektu</h3>
        <label>Dátum skutočného ukončenia projektu:</label><div class="input-group date">
          <span id="inputcalendar" class="input-group-addon docs-datepicker-trigger"><i class="fa fa-calendar "></i></span>
          <input type="text" name="project_real_enddate" id="project_real_enddate" class="form-control datepick" placeholder="1990-12-31" /></div><br>

        <label>Spôsob ukončenia projektu:</label><input type="text" name="project_end_type" id="project_end_type" class="form-control" placeholder="Spôsob ukončenia projektu..." /><br>
         <label>Predčasné ukončenie projektu: <input id="project_end_sooner" type="checkbox" class="icheckbox_square-green" />          
        </label><div class="input-group date">
          <span id="inputcalendar" class="input-group-addon docs-datepicker-trigger"><i class="fa fa-calendar "></i></span>
        <input type="text" name="project_end_sooner_date" id="project_end_sooner_date" class="form-control datepick" placeholder="1990-12-31" /></div><br>

        <label>Zaslanie hlásenia o predčasnom ukončení projektu: <input id="note_project_sooner_sent" type="checkbox" class="icheckbox_square-green" />          
        </label><div class="input-group date">
          <span id="inputcalendar" class="input-group-addon docs-datepicker-trigger"><i class="fa fa-calendar "></i></span>
        <input type="text" name="note_project_sooner_sent_date" id="note_project_sooner_sent_date" class="form-control datepick" placeholder="1990-12-31" /></div><br>

       <button id="addimplbutton" type="button" class="addimplem btn btn-success">Vytvor</button>
 
   </div>
 </div>
</div>
</div>


<!--implementacia edit -->
<div id="edit_editImplementationModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h2 class="modal-title" id="edit_myModalLabel">Uprav Implementáciu </h2>
       
      </div>
      <div class="modal-body">
        <div class="alert alert-danger noborders">
   Polia vyznačené na červeno sú povinné.

  </div>
  <div class="alert alert-info noborders">
   Po kliknutí na ikonu kalendára je možné priamo zadávať poznámky do svojho kalendára.

  </div>
        
          <div class="ibox collapsed">
            <div class="ibox-title"><h5 class="center">Projekt</h5>
              <div class="ibox-tools">
                            <a class="collapse-link">
                                <i class="fa fa-chevron-up"></i>
                            </a>
                           
                        </div>
            </div>
            <div class="ibox-content" style="display:none;">
              <div class="form-group has-error">
          <!--<h3 class="center">Projekt</h3>-->
         <input style="visibility:hidden" type="text" name="editimplementationID" id="editimplementationID" value="" readonly>

          <label>Projektový manažér:</label><%= select_tag 'edit_project_manager', options_from_collection_for_select(@users, 'id', 'name'), class: 'form-control', id: 'edit_project_manager',"data-placeholder": "Projektový manažér",prompt: "--vyber projektového manažéra--" %><br>
          
         
         <label>Operačný program: </label><%= select_tag 'edit_oprogram_new', options_from_collection_for_select(@oprograms, 'id', 'name'), class: 'form-control', id: 'edit_oprogram_new', prompt: "--vyber operačný program--" %></br>
         <label>Kontaktná osoba - Poskytovateľ pomoci:</label><input type="text" name="edit_contact_helper" id="edit_contact_helper" class="form-control" placeholder="Kontaktná osoba - Poskytovateľ pomoci..." /><br>
         <label>Kontaktná osoba - Klient:</label><input type="text" name="edit_contact_client" id="edit_contact_client" class="form-control" placeholder="Kontaktná osoba - Klient..." /><br>
          </div>
          <label>Projektant:</label><input type="text" name="edit_projektant" id="edit_projektant" class="form-control" placeholder="Projektant..." /><br>
          
          <label>Auditor:</label><input type="text" name="edit_auditor" id="edit_auditor" class="form-control" placeholder="Auditor..." /><br>
          <label>Iné kontaktné osoby:</label><input type="text" name="edit_other_contacts" id="edit_other_contacts" class="form-control" placeholder="Iné kontaktné osoby..." /><br>
          <label>Kód žiadosti projektu:</label><input type="text" name="edit_project_request_code" id="edit_project_request_code" class="form-control" placeholder="Kód žiadosti projektu..." /><br>
           <label>Stav projektu:</label><%= select_tag 'edit_project_status', options_for_select(@project_status_data.map { |obj| [obj[:name], obj[:id]] }), class: 'form-control', id: 'edit_project_status', prompt: "--vyber stav projektu--" %></br><br>

          </div></div>
          <!--<h3 class="center">Verejné obstarávanie</h3>-->
          <div class="ibox collapsed">
            <div class="ibox-title"><h5 class="center">Verejné obstarávanie</h5>
              <div class="ibox-tools">
                            <a class="collapse-link">
                                <i class="fa fa-chevron-up"></i>
                            </a>
                           
                        </div>
            </div>
            <div class="ibox-content" style="display:none;">
         <label>Verejné obstarávanie:</label><%= select_tag 'edit_procurement', options_from_collection_for_select(@procurements, 'id', 'name'), multiple: true, class: 'form-control chosen-select', id: 'edit_procurement', "data-placeholder": "Vyber obstarávanie..." %></br>
        </div>
      </div>
       <div class="ibox collapsed">
            <div class="ibox-title"><h5 class="center">Začatie projektu</h5>
              <div class="ibox-tools">
                            <a class="collapse-link">
                                <i class="fa fa-chevron-up"></i>
                            </a>
                           
                        </div>
            </div>
            <div class="ibox-content" style="display:none;">
           <!--<h3 class="center">Začatie projektu</h3>-->
          <label>Prístup do ITMS - Meno:</label><input type="text" name="edit_itms_access_name" id="edit_itms_access_name" class="form-control" placeholder="Prístup do ITMS - Meno..." /><br>
          <label>Prístup do ITMS - Heslo:</label><input type="text" name="edit_itms_access_pass" id="edit_itms_access_pass" class="form-control" placeholder="Prístup do ITMS - Heslo..." /><br>
          <label>Dátum podpisu zmluvy o NFP:</label><div class="input-group date">
          <span id="inputcalendar" class="input-group-addon docs-datepicker-trigger"><i class="fa fa-calendar "></i></span><input name="edit_nfp_contract_signed" id="edit_nfp_contract_signed" class="form-control datepick" placeholder="1990-12-31" /></div><br>
          <label>Dátum účinnosti zmluvy o NFP:</label><div class="input-group date">
          <span id="inputcalendar" class="input-group-addon docs-datepicker-trigger"><i class="fa fa-calendar "></i></span><input name="edit_nfp_contract_effective" id="edit_nfp_contract_effective" class="form-control datepick" placeholder="1990-12-31" /></div><br>
           <label>Dátum začatia projektu:</label><div class="input-group date">
          <span id="inputcalendar" class="input-group-addon docs-datepicker-trigger"><i class="fa fa-calendar "></i></span><input  name="edit_project_startdate" id="edit_project_startdate" class="form-control datepick" placeholder="1990-12-31" /></div><br>
          <label>Čím sa projekt začína:</label><input type="text" name="edit_project_start_about" id="edit_project_start_about" class="form-control" placeholder="Čím sa projekt začína..." /><br>
          <label>Čím sa projekt končí:</label><input type="text" name="edit_project_end_about" id="edit_project_end_about" class="form-control" placeholder="Čím sa projekt končí..." /><br>
          <label>Zaslanie hlásenia o začatí projektu: <input id="edit_project_start_note_sent" type="checkbox" class="icheckbox_square-green" />          
        </label><div class="input-group date">
          <span id="inputcalendar" class="input-group-addon docs-datepicker-trigger"><i class="fa fa-calendar "></i></span>
        <input type="text" name="edit_project_start_note_sentdate" id="edit_project_start_note_sentdate" class="form-control datepick" placeholder="1990-12-31" /></div><br>
         <label>Termín ukončenia projektu podľa zmluvy o NFP:</label><div class="input-group date">
          <span id="inputcalendar" class="input-group-addon docs-datepicker-trigger"><i class="fa fa-calendar "></i></span><input type="text" name="edit_project_enddate_by_nfp_contract" id="edit_project_enddate_by_nfp_contract" class="form-control datepick" placeholder="1990-12-31" /></div><br>
       <label>Potreba zmeny harmonogramu projektu: <input id="edit_project_schedule_change_need" type="checkbox" class="icheckbox_square-green" />          
        </label><br>
        <label>Termín na predloženie žiadostí o zmenu harmonogramu:</label><div class="input-group date">
          <span id="inputcalendar" class="input-group-addon docs-datepicker-trigger"><i class="fa fa-calendar "></i></span><input type="text" name="edit_schedule_change_need_date" id="edit_schedule_change_need_date" class="form-control datepick" placeholder="1990-12-31" /></div><br>
         </div>
       </div>
       <div class="ibox collapsed">
            <div class="ibox-title"><h5 class="center">ŽOP</h5>
              <div class="ibox-tools">
                            <a class="collapse-link">
                                <i class="fa fa-chevron-up"></i>
                            </a>
                           
                        </div>
            </div>
            <div class="ibox-content" style="display:none;">
         <!--<h3 class="center">ŽOP</h3>-->
         <label>Dátum predloženia ŽOP:</label><div class="input-group date">
          <span id="inputcalendar" class="input-group-addon docs-datepicker-trigger"><i class="fa fa-calendar "></i></span><input type="text" name="edit_zop_showdate" id="edit_zop_showdate" class="form-control datepick" placeholder="1990-12-31" /></div><br>
       <label>Posledný termín na predloženie ŽOP záverečná:</label><div class="input-group date">
          <span id="inputcalendar" class="input-group-addon docs-datepicker-trigger"><i class="fa fa-calendar "></i></span><input type="text" name="edit_zop_last_term_end" id="edit_zop_last_term_end" class="form-control datepick" placeholder="1990-12-31" /></div><br>
       <label>Posledný termín na predloženie prvej ŽOP:</label><div class="input-group date">
          <span id="inputcalendar" class="input-group-addon docs-datepicker-trigger"><i class="fa fa-calendar "></i></span><input type="text" name="edit_zop_last_term_start" id="edit_zop_last_term_start" class="form-control datepick" placeholder="1990-12-31" /></div><br>
       <label>Poznámka k ŽOP:</label><input type="text" name="edit_zop_note" id="edit_zop_note" class="form-control" placeholder="Poznámka k ŽOP..." /><br>
       <label>Dátum predloženia poslednej ŽOP:</label><div class="input-group date">
          <span id="inputcalendar" class="input-group-addon docs-datepicker-trigger"><i class="fa fa-calendar "></i></span><input type="text" name="edit_zop_last_showdate" id="edit_zop_last_showdate" class="form-control datepick" placeholder="1990-12-31" /></div><br>
       <label>Typ žiadosti:</label><input type="text" name="edit_zop_request_type" id="edit_zop_request_type" class="form-control" placeholder="Typ žiadosti..." /><br>
       <label>Stav ŽOP:</label><input type="text" name="edit_zop_state" id="edit_zop_state" class="form-control" placeholder="Stav ŽOP..." /><br>
       <div class="row">
        <div class="col-md-4">
          <label>Splnené podmienky na úhradu ŽOP: <input id="edit_zop_paycond_fulfil" type="checkbox" class="icheckbox_square-green" />          
        </label>
        </div>
        <div class="col-md-4">
          <label>Splnené náležitosti ŽOP: <input id="edit_zop_cond_fulfil" type="checkbox" class="icheckbox_square-green" />          
        </label>
        </div>
        <div class="col-md-4">
          <label>Nahratie podkladov do ITMS: <input id="edit_zop_data_to_itms" type="checkbox" class="icheckbox_square-green" />          
        </label>
        </div>
       </div>
       <br>

       <label>Nahratie podkladov do ITMS - Stav:</label><input type="text" name="edit_zop_data_to_itms_state" id="edit_zop_data_to_itms_state" class="form-control" placeholder="Nahratie podkladov do ITMS - Stav..." /><br>
       </div>
     </div>
     <div class="ibox collapsed">
            <div class="ibox-title"><h5 class="center">Monitorovanie</h5>
              <div class="ibox-tools">
                            <a class="collapse-link">
                                <i class="fa fa-chevron-up"></i>
                            </a>
                           
                        </div>
            </div>
            <div class="ibox-content" style="display:none;">
       <!--<h3 class="center">Monitorovanie</h3>-->
        <label>Termín najbližšej monitorovačky:</label><div class="input-group date">
          <span id="inputcalendar" class="input-group-addon docs-datepicker-trigger"><i class="fa fa-calendar "></i></span>
          <input type="text" name="edit_next_monitor_date" id="edit_next_monitor_date" class="form-control datepick" placeholder="1990-12-31" /></div><br>
      <label>Termín záverečnej monitorovačky:</label><div class="input-group date">
          <span id="inputcalendar" class="input-group-addon docs-datepicker-trigger"><i class="fa fa-calendar "></i></span>
          <input type="text" name="edit_finish_monitor_date" id="edit_finish_monitor_date" class="form-control datepick" placeholder="1990-12-31" /></div><br>
      <label>Dátum predloženia na kontrolu:</label><div class="input-group date">
          <span id="inputcalendar" class="input-group-addon docs-datepicker-trigger"><i class="fa fa-calendar "></i></span>
          <input type="text" name="edit_control_date" id="edit_control_date" class="form-control datepick" placeholder="1990-12-31" /></div><br>
        <label>Schválenie: <input id="edit_approved" type="checkbox" class="icheckbox_square-green" /> </label>
        <br><br><label>Poznámka k monitorovačke:</label><input type="text" name="edit_monitoring_note" id="edit_monitoring_note" class="form-control" placeholder="Poznámka k monitorovačke..." /><br>
        </div></div>
        <div class="ibox collapsed">
            <div class="ibox-title"><h5 class="center">Žiadosť o zmenu</h5>
              <div class="ibox-tools">
                            <a class="collapse-link">
                                <i class="fa fa-chevron-up"></i>
                            </a>
                           
                        </div>
            </div>
            <div class="ibox-content" style="display:none;">
        <!--<h3 class="center">Žiadosť o zmenu</h3>   -->
        <label>Predmet žiadosti:</label><input type="text" name="edit_change_request" id="edit_change_request" class="form-control" placeholder="Predmet žiadosti..." /><br>
        <label>Posledný termín na preloženie žiadosti o zmenu:</label><div class="input-group date">
          <span id="inputcalendar" class="input-group-addon docs-datepicker-trigger"><i class="fa fa-calendar "></i></span>
          <input type="text" name="edit_change_request_last_term" id="edit_change_request_last_term" class="form-control datepick" placeholder="1990-12-31" /></div><br>
           <label>Schválenie žiadosti: <input id="edit_change_request_approval" type="checkbox" class="icheckbox_square-green" /> </label>
           <br> <br><label>Poznámka k žiadosti o zmenu:</label><input type="text" name="edit_change_request_note" id="edit_change_request_note" class="form-control" placeholder="Poznámka k žiadosti o zmenu..." /><br>
       </div></div>
        <div class="ibox collapsed">
            <div class="ibox-title"><h5 class="center">Povinná publicita</h5>
              <div class="ibox-tools">
                            <a class="collapse-link">
                                <i class="fa fa-chevron-up"></i>
                            </a>
                           
                        </div>
            </div>
            <div class="ibox-content" style="display:none;">
       <!--<h3 class="center">Povinná publicita</h3>   -->
       <label>Predmet publicity:</label><input type="text" name="edit_publicity_subject" id="edit_publicity_subject" class="form-control" placeholder="Predmet publicity..." /><br>
      <label>Posledný termín na predloženie publicity projektu:</label><div class="input-group date">
          <span id="inputcalendar" class="input-group-addon docs-datepicker-trigger"><i class="fa fa-calendar "></i></span>
          <input type="text" name="edit_publicity_last_term" id="edit_publicity_last_term" class="form-control datepick" placeholder="1990-12-31" /></div><br>
      <label>Dátum predloženia:</label><div class="input-group date">
          <span id="inputcalendar" class="input-group-addon docs-datepicker-trigger"><i class="fa fa-calendar "></i></span>
          <input type="text" name="edit_publicity_showdate" id="edit_publicity_showdate" class="form-control datepick" placeholder="1990-12-31" /></div><br>
          <br><label>Poznámka k publicite:</label><input type="text" name="edit_publicity_note" id="edit_publicity_note" class="form-control" placeholder="Poznámka k publicite..." /><br>
        </div></div>
        <div class="ibox collapsed">
            <div class="ibox-title"><h5 class="center">Ukončenie projektu</h5>
              <div class="ibox-tools">
                            <a class="collapse-link">
                                <i class="fa fa-chevron-up"></i>
                            </a>
                           
                        </div>
            </div>
            <div class="ibox-content" style="display:none;">
        <!--<h3 class="center">Ukončenie projektu</h3>-->
        <label>Dátum skutočného ukončenia projektu:</label><div class="input-group date">
          <span id="inputcalendar" class="input-group-addon docs-datepicker-trigger"><i class="fa fa-calendar "></i></span>
          <input type="text" name="edit_project_real_enddate" id="edit_project_real_enddate" class="form-control datepick" placeholder="1990-12-31" /></div><br>

        <label>Spôsob ukončenia projektu:</label><input type="text" name="edit_project_end_type" id="edit_project_end_type" class="form-control" placeholder="Spôsob ukončenia projektu..." /><br>
         <label>Predčasné ukončenie projektu: <input id="edit_project_end_sooner" type="checkbox" class="icheckbox_square-green" />          
        </label><div class="input-group date">
          <span id="inputcalendar" class="input-group-addon docs-datepicker-trigger"><i class="fa fa-calendar "></i></span>
        <input type="text" name="edit_project_end_sooner_date" id="edit_project_end_sooner_date" class="form-control datepick" placeholder="1990-12-31" /></div><br>

        <label>Zaslanie hlásenia o predčasnom ukončení projektu: <input id="edit_note_project_sooner_sent" type="checkbox" class="icheckbox_square-green" />          
        </label><div class="input-group date">
          <span id="inputcalendar" class="input-group-addon docs-datepicker-trigger"><i class="fa fa-calendar "></i></span>
        <input type="text" name="edit_note_project_sooner_sent_date" id="edit_note_project_sooner_sent_date" class="form-control datepick" placeholder="1990-12-31" /></div><br>
      </div></div>

       <button id="editimplbutton" type="button" class="editimplem btn btn-success">Uprav</button>
 
   </div>
 </div>
</div>
</div>

<div id="addImplemNoteModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h2 class="modal-title" id="edit_myModalLabel">Vytvor poznámku </h2>
       
      </div>
      <div class="modal-body">
        <input style="visibility:hidden" type="text" name="new_implem_note_ID" id="new_implem_note_ID" value="" readonly>
          <input type="text" name="new_implem_note" id="new_implem_note" class="form-control" placeholder="Poznámka..." /><br>

           <button class="add_implem_note_btn btn btn-success" type="button" class="editimplem btn btn-success">Vytvor</button>
        </div>
        </div>
        </div>
        </div>

<div id="addCalendarNoteModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h2 class="modal-title" id="edit_myModalLabel">Vlož poznámku do kalendára </h2>
       
      </div>
      <div class="modal-body">
        <div class="row">
              <div class="col-md-6">
      <div class="input-group date">
          <span id="inputcalendar" class="input-group-addon docs-datepicker-trigger"><i class="fa fa-calendar "></i></span><input type="text" name="calendar_manual_entry" id="calendar_manual_entry" class="form-control datepick" placeholder="1990-12-31" /></div>
          </div>
          <div class="col-md-6">
            <div class="input-group clockpicker" data-autoclose="true">
                                <input type="text" id="calendar_manual_entry_time" class="form-control" placeholder="09:30">
                                <span class="input-group-addon">
                                    <span class="fa fa-clock-o"></span>
                                </span>
                            </div>
                        </div>
                      </div>
                      <br>
                      <div class="row">
             <div class="col-md-12">
              <input type="text" name="calendar_note" id="calendar_note" class="form-control" placeholder="Poznámka" />
             </div>
           </div>
           <br>
           <div class="row">
          <div class="col-md-3">
            <button class="btn btn-primary" id="manul_cal_entry_submit_button">Ulož záznam</button>
          </div>
      </div>

        </div>
        </div>
        </div>
        </div>


<script>
var implementationtable;

var tableready = function() {

  $('.chosen-select').chosen({width: "100%"});


   $("#edit_procurement").chosen().change(function(e, params){
 $edit_procurement  = $("#edit_procurement").chosen().val();

 //console.log($project_targets)
});

    $("#procurement").chosen().change(function(e, params){
 $procurement  = $("#procurement").chosen().val();

 //console.log($project_targets)
});

  $('.datepick').datepicker({
       trigger: $('#inputcalendar'),
        autoHide: true,
        format: 'yyyy-mm-dd'
          });


 implementationtable= $('#implementations').DataTable({
  'order': [0, 'desc'],
  'serverSide': true,
  'stateSave' :true,
  'ajax' : '/implementacie.json',
  columns: [
  //{data: 'project_name'},
  {data: 'project_detail'},
  {data: 'project_manager' },
  {data: 'oprogram' },
  {data: 'subject_path' },
  //{data: 'project_startdate' },
  {data: 'project_startdate', 'render' : function(data,type,row) {
    return prettyDateToInput(row.project_startdate);
  }
},
  //{data: 'project_enddate_by_nfp_contract' },
   {data: 'project_enddate_by_nfp_contract', 'render' : function(data,type,row) {
    return prettyDateToInput(row.project_enddate_by_nfp_contract);
  }
},
  //{data: 'project_start_note_sentdate' },
   {data: 'project_start_note_sentdate', 'render' : function(data,type,row) {
    return prettyDateToInput(row.project_start_note_sentdate);
  }
},
  //{data: 'zop_showdate' },
    {data: 'zop_showdate', 'render' : function(data,type,row) {
    return prettyDateToInput(row.zop_showdate);
  }
},
  {data: 'zop_request_type' },
//  {data: 'next_monitor_date' },
    {data: 'next_monitor_date', 'render' : function(data,type,row) {
    return prettyDateToInput(row.next_monitor_date);
  }
},
  //{data: 'finish_monitor_date' },
  {data: 'control_date' },
  {data: 'approved','render' : function(data,type,row) {
    $res = '';
    if (row.approved == true) {$res='<i class="fa fa-check-square-o fa-2x" aria-hidden="true"></i>'}
      else {$res='<i class="fa fa-window-close-o fa-2x" aria-hidden="true"></i>'}
    return $res;
  } },
  {
    "className":   'notes-implementation',
    "orderable":      false,
    "data":           null,
    "defaultContent": '<a><center><i class="fa fa-chevron-down fa-2x" aria-hidden="true"></i></center></a>'
  },
  {
    "className":   'details-implementation',
    "orderable":      false,
    "data":           null,
    "defaultContent": '<a><center><i class="fa fa-chevron-down fa-2x" aria-hidden="true"></i></center></a>'
  },
   {
    "className":   'implementationedit-control',
    "orderable":      false,
    "data":           null,
    "defaultContent": '<a><center><i class="fa fa-pencil-square-o fa-2x" aria-hidden="true"></i></center></a>'
  },
  {data: 'delete_implementation', orderable: false, searchable: false} 
  //{data: 'agreed_payment' },
  //{data: 'payment' },
  //{data: 'due_date' },
  //{data: 'payed' }

  ],
  'dom': 'lfr<"pull-right"B>tip',
  'buttons': [
  {"extend" : 'copyHtml5',"text":"Copy","className": 'btn btn-default btn-xs'},
  {"extend" : 'excelHtml5',"text": "XLS","className": 'btn btn-default btn-xs'},
  {"extend" : 'csvHtml5',"text": "CSV","className": 'btn btn-default btn-xs'},
  {"extend" : 'pdfHtml5',"text": "PDF","orientation" : "landscape","pageSize": "LEGAL","className": 'btn btn-default btn-xs'},

  ],
  'language': {
        'url': '/datatables_slovak.json'
      },
  'lengthMenu': [
  [10, 50,100, -1],
  [10, 50,100, "All"]
  ],
initComplete: function() {

      $('#disable').html( '<input disabled type="text" />' );

      if ( $("#detailbutton").length) {console.log ('detailed search exists');}
      else {

        var r = $('#implementations tfoot tr');
        r.find('th').each(function(){
         $(this).css('padding', 8);


       });
        $('#implementations thead').append(r);
        $('#search_0').css('text-align', 'center');

//      $(".dataTables_filter").append('<button id="detailbutton" class="btn btn-primary btn-outline btn-xs" type="button"><span class="bold">Detailné vyhľadávanie</span></button>');
  //     $('#changepageinput').val('');

  var api = this.api();

      // Apply the search
      api.columns().every(function() {
        var that = this;

        $('input', this.footer()).on('keyup change', function() {
          if (that.search() !== this.value) {
            that
            .search(this.value)
            .draw();
          }
        });

        $('.findtruefalse', this.footer()).on('change', function() {

          if (that.search() !== this.value) {
            that
            .search(this.value)
            .draw();
          }
        });

      });

      $('#detailbutton').click(function() {


        $('#tabledetailsearch').toggleClass('visibility');
      });

      $('#changepageinput').on('keyup change',function() {

        if (parseInt($('#changepageinput').val()) > 0) {
          var pagenum = (parseInt($('#changepageinput').val()) -1);
          subjtable.page( pagenum ).draw( false );
        }
        else {subjtable.page( 0 ).draw( false );}


      }); 


    }

  },
  drawCallback: function(settings) {



     
     $('.implementationedit-control').on('click',function(event){

       var tr = $(this).closest('tr');
      var row = implementationtable.row( tr );


      updateImplementationEditModal(row.data());
      $('#edit_editImplementationModal').modal('show');
      $edit_procurement  = $("#edit_procurement").chosen().val();
});

      $('#implementations tbody').on('click', 'td.details-implementation', function () {

      var tr = $(this).closest('tr');
      var row = implementationtable.row( tr );

      if ( row.child.isShown() ) {
            // This row is already open - close it
            row.child.hide();
            tr.removeClass('shown');

          }
          else {
            // Open this row
            $procs = row.data().procurements;
             $.ajax({
            type: "POST",
            url: "/get_procurements/",
            data: {procs: $procs}
            
        })
           .done(function (data) {
            if (data.status =='ok') {
            $proc_results = data.data;
            row.child( formatImplementationDetails(row.data(), $proc_results)).show();
            
            tr.addClass('shown');
              }
              else {
                $("#notice").html(flashMessageFromAjax("not ok",data.status));
              }
           })

            
          }
        });


  $('#implementations tbody').on('click', 'td.notes-implementation', function () {

      var tr = $(this).closest('tr');
      var row = implementationtable.row( tr );

      if ( row.child.isShown() ) {
            // This row is already open - close it
            row.child.hide();
            tr.removeClass('shown');

          }
          else {
            // Open this row

            $.ajax({
            type: "GET",
            url: "/get_implementation_notes/"+row.data().id+".json"
            
        })
           .done(function (data) {
                
             if (data.status == "ok")
              {
                row.child( formatImplementationNotes(data.data,row.data().id)).show();
                $('#new_implem_note_ID').attr('value',row.data().id);
                $("#new_implem_note").removeAttr('value');

                    $('.del_implem_note').on('click',function(event){


      $delbtnid =  event.target.id.replace("del_impl_note_", "");
        $.ajax({
                  type: "POST",
                  url: "/del_implementation_note",
                  data: {
                      id: $delbtnid
                     }
            })
           .done(function (data) {
                
             if (data.status == "ok")
              {
                $("#notice").html(flashMessageFromAjax(data.status,"Poznámka bola vymazaná"));
                //alert("Záznam do kalendára bol pridaný" );
               implementationtable.ajax.reload();
                
              }
              else { alert(data.status);}

                               
                            })
           .fail(function (data) {
            $("#notice").html(flashMessageFromAjax("not ok","Nepodarilo sa vymazať poznámku"));
               
               

           })                            
           ;

}
  );
                
              }
              else { alert(data.status);}

                               
                            })
           .fail(function (data) {
            $("#notice").html(flashMessageFromAjax("not ok","Nepodarilo sa získať údaje o poznámkach"));
               
               

           })  
           
            
            tr.addClass('shown');
          }
        });


}
//koniec datatable


});



//add search input
$('#implementations tfoot th').each( function () {
  var title = $(this).text();

        //$(this).html( '<input type="text" placeholder="Hľadaj" />' );
        if ( $(this).hasClass('findtruefalse') ) {
         $(this).html( '<select class="findtruefalse form-control input-sm"><option value="">Všetko</option><option value="true">Áno</option><option value="false">Nie</option></select>' );   
       }
       else {
        $(this).html( '<input type="text" placeholder="Hľadaj" />' );
      }

    } );

$('.disabled').html( '<input disabled type="text" style="display:none" />' );
//add note
//calendar modals
var $modalname;
 $('.docs-datepicker-trigger').on('click',function(event){
  $modalname = $(this).closest('div.modal').get(0).id;

  //$(this).closest('div.modal').modal('toggle');
  $('#'+$modalname).modal('toggle');
  $("#addCalendarNoteModal").modal('toggle');
 });

 $('#addCalendarNoteModal').on('hidden.bs.modal', function () {
   $('#'+$modalname).modal('toggle');
    
})

$("#manul_cal_entry_submit_button").click(function()
{

$manual_date = $('#calendar_manual_entry').val();
$manual_time = $('#calendar_manual_entry_time').val();
$calnote = $('#calendar_note').val();

if ($manual_date.length > 0) {

  if ($manual_time.length == 0) {
    $allday = true;
    $custstart = $manual_date.concat(' 00:00:00')
    $custend = $manual_date.concat(' 23:59:59')
  }
   else {
    $allday = false; $custstart = $manual_date.concat(' ',$manual_time); $custend = $manual_date.concat(' ',$manual_time);
   }


 
 $.ajax({
            type: "POST",
            url: "/add_calendar_event",
            data: {
                title: $calnote,
                start: $custstart,
                end: $custend,
                allDay: $allday
            }
        })
           .done(function (data) {
                
             if (data.status == "ok")
              {
                $("#notice").html(flashMessageFromAjax(data.status,"Záznam v kalendári bol vytvorený"));
                //alert("Záznam do kalendára bol pridaný" );
                $('#addCalendarNoteModal').modal('toggle');
                
              }
              else { alert(data.status);}

                               
                            })
           .fail(function (data) {
            $("#notice").html(flashMessageFromAjax("not ok","Nepodarilo sa vložiť záznam do kalendára"));
               
               

           })                            
           ;
}
else {
  $("#notice").html(flashMessageFromAjax("not ok","Nezadal si dátum"));
}
  });

////

 $('.add_implem_note_btn').on('click',function(event){

  $implementation_id = $("#new_implem_note_ID").val();
  $note = $("#new_implem_note").val();



   $.ajax({
            type: "POST",
            url: "/modal_create_implementation_note",
            data: {
              implementation_id: $implementation_id,
              note: $note
              }
               })
           .done(function (data) {
                
             if (data.status == "ok")
              {
                $("#notice").html(flashMessageFromAjax(data.status,"Poznámka bola vytvorená"));
                
               implementationtable.ajax.reload();
                $('#addImplemNoteModal').modal('toggle');

                
              }
              else { alert(data.status);}

                               
                            })
           .fail(function (data) {
            $("#notice").html(flashMessageFromAjax("not ok","Nepodarilo sa vytvoriť poznámku"));
               
               

           })                            
           ;

 });

// add implementation 



$('.addimplem').on('click',function(event){

  var $procurements = 0;

          if (typeof $procurement !== 'undefined') {
          $procurements = $procurement;
            }

          //console.log(event.target.id);
          $project_start_note_sent = false;
          $project_schedule_change_need = false;
          $zop_paycond_fulfil = false;
          $zop_cond_fulfil = false;
          $zop_data_to_itms = false;
          $approved = false;
          $project_end_sooner = false;
          $note_project_sooner_sent = false;
          $change_request_approval = false;
          


          $project_id = $('#project').val();
          
          $projectmanager = $('#project_manager').val();
          $oprogram = $('#oprogram').val();
          $contact_helper=$('#contact_helper').val();
          $contact_client=$('#contact_client').val();
          $projektant=$('#projektant').val();
          
          $auditor=$('#auditor').val();
          $other_contacts=$('#other_contacts').val();
          $itms_access_name=$('#itms_access_name').val();
          $itms_access_pass=$('#itms_access_pass').val();
          $nfp_contract_signed=$('#nfp_contract_signed').val();
          $nfp_contract_effective=$('#nfp_contract_effective').val();
          $project_startdate=$('#project_startdate').val();
          $project_start_about=$('#project_start_about').val();
          $project_end_about=$('#project_end_about').val();
          if ($('#project_start_note_sent').is(":checked")) {$project_start_note_sent = true;}
          $project_start_note_sentdate=$('#project_start_note_sentdate').val();
          $project_enddate_by_nfp_contract=$('#project_enddate_by_nfp_contract').val();
          if ($('#project_schedule_change_need').is(":checked")) {$project_schedule_change_need = true;}
          $schedule_change_need_date=$('#schedule_change_need_date').val();
          $zop_showdate=$('#zop_showdate').val();
          $zop_last_term_end=$('#zop_last_term_end').val();
          $zop_last_term_start=$('#zop_last_term_start').val();
          $zop_note=$('#zop_note').val();
          $zop_last_showdate=$('#zop_last_showdate').val();
          $zop_request_type=$('#zop_request_type').val();
          if ($('#zop_paycond_fulfil').is(":checked")) {$zop_paycond_fulfil = true;}
          if ($('#zop_cond_fulfil').is(":checked")) {$zop_cond_fulfil = true;}
          if ($('#zop_data_to_itms').is(":checked")) {$zop_data_to_itms = true;}
          $zop_data_to_itms_state=$('#zop_data_to_itms_state').val();
          $zop_state=$('#zop_state').val();
          $next_monitor_date=$('#next_monitor_date').val();
          $finish_monitor_date=$('#finish_monitor_date').val();
          $control_date=$('#control_date').val();
          if ($('#approved').is(":checked")) {$approved = true;}
          $publicity_subject=$('#publicity_subject').val();
          $publicity_last_term=$('#publicity_last_term').val();
          $publicity_showdate=$('#publicity_showdate').val();
          $project_end_type=$('#project_end_type').val();
          if ($('#project_end_sooner').is(":checked")) {$project_end_sooner = true;}
          $project_end_sooner_date=$('#project_end_sooner_date').val();
          if ($('#note_project_sooner_sent').is(":checked")) {$note_project_sooner_sent = true;}
          $note_project_sooner_sent_date=$('#note_project_sooner_sent_date').val();
          $project_real_enddate = $('#project_real_enddate').val();
           $change_request = $('#change_request').val();
          $change_request_last_term = $('#change_request_last_term').val();
          if ($('#change_request_approval').is(":checked")) {$change_request_approval = true;}

          $project_request_code=$('#project_request_code').val();
          $project_status=$('#project_status').val();

          $monitoring_note=$('#monitoring_note').val();
          $change_request_note=$('#change_request_note').val();
          $publicity_note=$('#publicity_note').val();
          


        
          $.ajax({
            type: "POST",
            url: "/modal_create_implementation",
            data: {
              project_id: $project_id,
              
              projectmanager: $projectmanager,
              oprogram: $oprogram,
              contact_helper: $contact_helper,
              contact_client: $contact_client,
              projektant: $projektant,
              
              auditor: $auditor,
              other_contacts: $other_contacts,
              itms_access_name: $itms_access_name,
              itms_access_pass: $itms_access_pass,
              nfp_contract_signed: $nfp_contract_signed,
              nfp_contract_effective: $nfp_contract_effective,
              project_startdate: $project_startdate,
              project_start_about: $project_start_about,
              project_end_about: $project_end_about,
              project_start_note_sent: $project_start_note_sent,
              project_start_note_sentdate: $project_start_note_sentdate,
              project_enddate_by_nfp_contract: $project_enddate_by_nfp_contract,
              project_schedule_change_need: $project_schedule_change_need,
              schedule_change_need_date: $schedule_change_need_date,
              zop_showdate: $zop_showdate,
              zop_last_term_end: $zop_last_term_end,
              zop_last_term_start: $zop_last_term_start,
              zop_note: $zop_note,
              zop_last_showdate: $zop_last_showdate,
              zop_request_type: $zop_request_type,
              zop_paycond_fulfil: $zop_paycond_fulfil,
              zop_cond_fulfil: $zop_cond_fulfil,
              zop_data_to_itms: $zop_data_to_itms,
              zop_data_to_itms_state: $zop_data_to_itms_state,
              zop_state: $zop_state,
              next_monitor_date: $next_monitor_date,
              finish_monitor_date: $finish_monitor_date,
              control_date: $control_date,
              approved: $approved,
              publicity_subject: $publicity_subject,
              publicity_last_term: $publicity_last_term,
              publicity_showdate: $publicity_showdate,
              project_end_type: $project_end_type,
              project_end_sooner: $project_end_sooner,
              project_end_sooner_date: $project_end_sooner_date,
              note_project_sooner_sent: $note_project_sooner_sent,
              note_project_sooner_sent_date: $note_project_sooner_sent_date,
              project_real_enddate: $project_real_enddate,
              change_request: $change_request,
              change_request_approval: $change_request_approval,
              change_request_last_term: $change_request_last_term,
              project_request_code: $project_request_code,
              project_status: $project_status,
              procurement: $procurements,
              monitoring_note: $monitoring_note,
              change_request_note: $change_request_note,
              publicity_note: $publicity_note
              
              },

            success:function(data){
              if (data.status == "ok")
              {
                //alert("Implementácia bola vytvorená" );
                location.reload();
              }
              else { alert(data.status);}


            }
          });
          



        });

//end add implementation

//edit implementation

$('.editimplem').on('click',function(event){
          //console.log(event.target.id);
          var $procurements = 0;

          if (typeof $edit_procurement !== 'undefined') {
          $procurements = $edit_procurement;
            }

          $implementation_id = $('#editimplementationID').val();
         
          $projectmanager = $('#edit_project_manager').val();
          $oprogram = $('#edit_oprogram_new').val();
          $contact_helper=$('#edit_contact_helper').val();
          $contact_client=$('#edit_contact_client').val();
          $projektant=$('#edit_projektant').val();
          
          $auditor=$('#edit_auditor').val();
          $other_contacts=$('#edit_other_contacts').val();
          $itms_access_name=$('#edit_itms_access_name').val();
          $itms_access_pass=$('#edit_itms_access_pass').val();
          $nfp_contract_signed=$('#edit_nfp_contract_signed').val();
          $nfp_contract_effective=$('#edit_nfp_contract_effective').val();
          $project_startdate=$('#edit_project_startdate').val();
          $project_start_about=$('#edit_project_start_about').val();
          $project_end_about=$('#edit_project_end_about').val();
          if ($('#edit_project_start_note_sent').is(":checked")) {$project_start_note_sent = true;} else {$project_start_note_sent = false;}
          $project_start_note_sentdate=$('#edit_project_start_note_sentdate').val();
          $project_enddate_by_nfp_contract=$('#edit_project_enddate_by_nfp_contract').val();
          if ($('#edit_project_schedule_change_need').is(":checked")) {$project_schedule_change_need = true;} else {$project_schedule_change_need = false;}
          $schedule_change_need_date=$('#edit_schedule_change_need_date').val();
          $zop_showdate=$('#edit_zop_showdate').val();
          $zop_last_term_end=$('#edit_zop_last_term_end').val();
          $zop_last_term_start=$('#edit_zop_last_term_start').val();
          $zop_note=$('#edit_zop_note').val();
          $zop_last_showdate=$('#edit_zop_last_showdate').val();
          $zop_request_type=$('#edit_zop_request_type').val();
          if ($('#edit_zop_paycond_fulfil').is(":checked")) {$zop_paycond_fulfil = true;} else {$zop_paycond_fulfil = false;}
          if ($('#edit_zop_cond_fulfil').is(":checked")) {$zop_cond_fulfil = true;} else {$zop_cond_fulfil = false;}
          if ($('#edit_zop_data_to_itms').is(":checked")) {$zop_data_to_itms = true;} else {$zop_data_to_itms = false;}
          $zop_data_to_itms_state=$('#edit_zop_data_to_itms_state').val();
          $zop_state=$('#edit_zop_state').val();
          $next_monitor_date=$('#edit_next_monitor_date').val();
          $finish_monitor_date=$('#edit_finish_monitor_date').val();
          $control_date=$('#edit_control_date').val();
          if ($('#edit_approved').is(":checked")) {$approved = true;} else {$approved = false;}
          $publicity_subject=$('#edit_publicity_subject').val();
          $publicity_last_term=$('#edit_publicity_last_term').val();
          $publicity_showdate=$('#edit_publicity_showdate').val();
          $project_end_type=$('#edit_project_end_type').val();
          if ($('#edit_project_end_sooner').is(":checked")) {$project_end_sooner = true;} else {$project_end_sooner = false;}
          $project_end_sooner_date=$('#edit_project_end_sooner_date').val();
          if ($('#edit_note_project_sooner_sent').is(":checked")) {$note_project_sooner_sent = true;} else {$note_project_sooner_sent = false;}
          $note_project_sooner_sent_date=$('#edit_note_project_sooner_sent_date').val();
          $project_real_enddate = $('#edit_project_real_enddate').val();
          $change_request = $('#edit_change_request').val();
          $change_request_last_term = $('#edit_change_request_last_term').val();
          if ($('#edit_change_request_approval').is(":checked")) {$change_request_approval = true;} else {$change_request_approval = false;}

          $project_request_code=$('#edit_project_request_code').val();
          $project_status=$('#edit_project_status').val();
          
          $monitoring_note=$('#edit_monitoring_note').val();
          $change_request_note=$('#edit_change_request_note').val();
          $publicity_note=$('#edit_publicity_note').val();

        
          $.ajax({
            type: "POST",
            url: "/modal_edit_implementation",
            data: {
              implementation_id: $implementation_id,
              
              projectmanager: $projectmanager,
              oprogram: $oprogram,
              contact_helper: $contact_helper,
              contact_client: $contact_client,
              projektant: $projektant,
              
              auditor: $auditor,
              other_contacts: $other_contacts,
              itms_access_name: $itms_access_name,
              itms_access_pass: $itms_access_pass,
              nfp_contract_signed: $nfp_contract_signed,
              nfp_contract_effective: $nfp_contract_effective,
              project_startdate: $project_startdate,
              project_start_about: $project_start_about,
              project_end_about: $project_end_about,
              project_start_note_sent: $project_start_note_sent,
              project_start_note_sentdate: $project_start_note_sentdate,
              project_enddate_by_nfp_contract: $project_enddate_by_nfp_contract,
              project_schedule_change_need: $project_schedule_change_need,
              schedule_change_need_date: $schedule_change_need_date,
              zop_showdate: $zop_showdate,
              zop_last_term_end: $zop_last_term_end,
              zop_last_term_start: $zop_last_term_start,
              zop_note: $zop_note,
              zop_last_showdate: $zop_last_showdate,
              zop_request_type: $zop_request_type,
              zop_paycond_fulfil: $zop_paycond_fulfil,
              zop_cond_fulfil: $zop_cond_fulfil,
              zop_data_to_itms: $zop_data_to_itms,
              zop_data_to_itms_state: $zop_data_to_itms_state,
              zop_state: $zop_state,
              next_monitor_date: $next_monitor_date,
              finish_monitor_date: $finish_monitor_date,
              control_date: $control_date,
              approved: $approved,
              publicity_subject: $publicity_subject,
              publicity_last_term: $publicity_last_term,
              publicity_showdate: $publicity_showdate,
              project_end_type: $project_end_type,
              project_end_sooner: $project_end_sooner,
              project_end_sooner_date: $project_end_sooner_date,
              note_project_sooner_sent: $note_project_sooner_sent,
              note_project_sooner_sent_date: $note_project_sooner_sent_date,
              project_real_enddate: $project_real_enddate,
               change_request: $change_request,
              change_request_approval: $change_request_approval,
              change_request_last_term: $change_request_last_term,
              project_request_code: $project_request_code,
              project_status: $project_status,
              procurement: $procurements,
              monitoring_note: $monitoring_note,
              change_request_note: $change_request_note,
              publicity_note: $publicity_note
             
              },

            success:function(data){
              if (data.status == "ok")
              {
                //alert("Implementácia bola upravená" );
                location.reload();
              }
              else { alert(data.status);}


            }
          });
          



        });

// end of edit implementation
};





$(".implementations.index").ready(tableready);


document.addEventListener('turbolinks:before-cache', function() {
 if ($('#implementations_wrapper').length ==1) {implementationtable.destroy() ;} 

});


$(".implementations.index").on('turbolinks:load', tableready); 

</script>