<p id="notice"><%= notice %></p>

<p>
  <strong>Project:</strong>
  <%= @implementation.project %>
</p>

<p>
  <strong>User:</strong>
  <%= @implementation.user %>
</p>

<p>
  <strong>Oprogram:</strong>
  <%= @implementation.oprogram %>
</p>

<p>
  <strong>Subject:</strong>
  <%= @implementation.subject %>
</p>

<p>
  <strong>Contact helper:</strong>
  <%= @implementation.contact_helper %>
</p>

<p>
  <strong>Contact client:</strong>
  <%= @implementation.contact_client %>
</p>

<p>
  <strong>Projektant:</strong>
  <%= @implementation.projektant %>
</p>

<p>
  <strong>Procurer name:</strong>
  <%= @implementation.procurer_name %>
</p>

<p>
  <strong>Auditor:</strong>
  <%= @implementation.auditor %>
</p>

<p>
  <strong>Other contacts:</strong>
  <%= @implementation.other_contacts %>
</p>

<p>
  <strong>Itms access name:</strong>
  <%= @implementation.itms_access_name %>
</p>

<p>
  <strong>Itms access pass:</strong>
  <%= @implementation.itms_access_pass %>
</p>

<p>
  <strong>Nfp contract signed:</strong>
  <%= @implementation.nfp_contract_signed %>
</p>

<p>
  <strong>Project startdate:</strong>
  <%= @implementation.project_startdate %>
</p>

<p>
  <strong>Project start about:</strong>
  <%= @implementation.project_start_about %>
</p>

<p>
  <strong>Project start note sentdate:</strong>
  <%= @implementation.project_start_note_sentdate %>
</p>

<p>
  <strong>Project start note sent:</strong>
  <%= @implementation.project_start_note_sent %>
</p>

<p>
  <strong>Project enddate by nfp contract:</strong>
  <%= @implementation.project_enddate_by_nfp_contract %>
</p>

<p>
  <strong>Project schedule change need:</strong>
  <%= @implementation.project_schedule_change_need %>
</p>

<p>
  <strong>Zop showdate:</strong>
  <%= @implementation.zop_showdate %>
</p>

<p>
  <strong>Zop last term end:</strong>
  <%= @implementation.zop_last_term_end %>
</p>

<p>
  <strong>Zop last term start:</strong>
  <%= @implementation.zop_last_term_start %>
</p>

<p>
  <strong>Zop note:</strong>
  <%= @implementation.zop_note %>
</p>

<p>
  <strong>Zop last showdate:</strong>
  <%= @implementation.zop_last_showdate %>
</p>

<p>
  <strong>Zop request type:</strong>
  <%= @implementation.zop_request_type %>
</p>

<p>
  <strong>Zop paycond fulfil:</strong>
  <%= @implementation.zop_paycond_fulfil %>
</p>

<p>
  <strong>Zop cond fulfil:</strong>
  <%= @implementation.zop_cond_fulfil %>
</p>

<p>
  <strong>Zop data to itms:</strong>
  <%= @implementation.zop_data_to_itms %>
</p>

<p>
  <strong>Zop data to itms state:</strong>
  <%= @implementation.zop_data_to_itms_state %>
</p>

<p>
  <strong>Next monitor date:</strong>
  <%= @implementation.next_monitor_date %>
</p>

<p>
  <strong>Finish monitor date:</strong>
  <%= @implementation.finish_monitor_date %>
</p>

<p>
  <strong>Control date:</strong>
  <%= @implementation.control_date %>
</p>

<p>
  <strong>Approved:</strong>
  <%= @implementation.approved %>
</p>

<p>
  <strong>Publicity subject:</strong>
  <%= @implementation.publicity_subject %>
</p>

<p>
  <strong>Publicity last term:</strong>
  <%= @implementation.publicity_last_term %>
</p>

<p>
  <strong>Publicity showdate:</strong>
  <%= @implementation.publicity_showdate %>
</p>

<p>
  <strong>Project end type:</strong>
  <%= @implementation.project_end_type %>
</p>

<p>
  <strong>Project end sooner:</strong>
  <%= @implementation.project_end_sooner %>
</p>

<p>
  <strong>Project end sooner date:</strong>
  <%= @implementation.project_end_sooner_date %>
</p>

<p>
  <strong>Note project sonner sent:</strong>
  <%= @implementation.note_project_sonner_sent %>
</p>

<p>
  <strong>Note project sooner sent date:</strong>
  <%= @implementation.note_project_sooner_sent_date %>
</p>

<%= link_to 'Edit', edit_implementation_path(@implementation) %> |
<%= link_to 'Back', implementations_path %>
