
<p id="notice"><%= render 'layouts/flash_message' %></p>

<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-lg-10">
    <h2>Detaily Projektu</h2>
    <ol class="breadcrumb">
      <li>
        <%= link_to 'Home', root_path %>
      </li>

      <li class="active">
        <strong>Detaily Projektu</strong>
      </li>
    </ol>
  </div>
  <div class="col-lg-2">

  </div>
</div>
<div class="row m-b-lg m-t-lg">

  <div class="col-md-6">
    <div class="profile-image">
      <i class="fa fa-tasks fa-5x" aria-hidden="true"></i>

    </div>

    <div class="profile-info">
      <div class="">
        <div>

          <h2 class="no-margins">
            <%= @project.name %>
                            
          </h2>
          <br>
          <p>Žiadateľ: <b><%= @project.subject.name if @project.subject.present? %></b></p>
          <p>Kontaktná osoba: <b><%= @project.person.email if @project.person.present? %></b></p>
          <p>Projektový manažér: <b><%= @project.user.email if @project.user.present? %></b></p>
          

          
        </div>
       
      </div>
    </div>
  </div>
  
</div>

<div class="row">

    <div class="col-lg-3">

        <div class="ibox">
            <div class="ibox-title">
            <h5>Detaily </h5> 
            
           </div>
         <div class="ibox-content">
           <p>Zmluva: <b><%= @project.contract %></b></p>
           <p>Objednávka: <b><%= @project.order %></b></p>
           <p>Kontrola ŽoNFP: <b><%= @project.control_zonfp %></b></p>
           <p>Poznámka: <b><%= @project.note %></b></p>
           <p>Dodávateľ: <b><%= @project.contractor %></b></p>
           <hr>
           <h5>Stav</h5>
           <hr>
           <p>Poslané na podpis: <b><%= get_true_false_icon(@project.sent_to_sign) %></b></p>
           <p>Odovzdané-online: <b><%= get_true_false_icon(@project.submit_online) %></b></p>
           <p>Odovzdané-print: <b><%= get_true_false_icon(@project.submit_print) %></b></p>
           <hr>
           <h5>Financie</h5>
           <hr>
           <p>Dohodnuté odmeny: <b><%= @project.agreed_payment %></b></p>
           <p>Fakturovaná odmena: <b><%= @project.payment %></b></p>
           <p>Splatnosť: <b><%= @project.due_date %></b></p>
           <p>Uhradené: <b><%= get_true_false_icon(@project.payed) %></b></p>
           
           

         </div>
</div>

</div>



<div class="col-lg-5">
 <div class="ibox">
   
                                    <div class="ibox-title">
                                        <h5>Implementácia</h5>
                                     
                                    </div>
                                    <div class="ibox-content">
                        <% if @implementation.present? %>
                                      <h3>Projekt</h3><hr>

<p><b>Projektový manažér: </b><%=@implementation.user.email if @implementation.user.present? %></p>
<p><b>Žiadateľ:  </b><%=@implementation.subject.name if @implementation.subject.present? %></p>
<p><b>Operačný program: </b><%=@implementation.oprogram%></p>
<p><b>Kontaktná osoba - Poskytovateľ pomoci: </b><%=@implementation.contact_helper%></p>
<p><b>Kontaktná osoba - Klient: </b><%=@implementation.contact_client%></p>
<p><b>Projektant: </b><%=@implementation.projektant%></p>
<p><b>Verejný obstarávateľ: </b><%=@implementation.procurer_name%></p>
<p><b>Auditor: </b><%=@implementation.auditor%></p>
<p><b>Iné kontaktné osoby: </b><%=@implementation.other_contacts%></p>
<hr><h3>Začatie projektu</h3><hr>
<p><b>Prístup do ITMS - Meno: </b><%=@implementation.itms_access_name%></p>
<p><b>Prístup do ITMS - Heslo: </b><%=@implementation.itms_access_pass%></p>
<p><b>Dátum podpisu a účinnosti zmluvy o NFP: </b><%=prettyDate(@implementation.nfp_contract_signed)%></p>
<p><b>Dátum začatia projektu: </b><%=prettyDate(@implementation.project_startdate)%></p>
<p><b>Čím sa projekt začína: </b><%=@implementation.project_start_about%></p>
<p><b>Čím sa projekt končí: </b><%=@implementation.project_end_about%></p>
<p><b>Zaslanie hlásenia o začatí projektu:  </b><%=get_true_false_icon(@implementation.project_start_note_sent)%></p>
<p><b>Zaslanie hlásenia o začatí projektu - Termín:  </b><%=prettyDate(@implementation.project_start_note_sentdate)%></p>
<p><b>Termín ukončenia projektu podľa zmluvy o NFP: </b><%=prettyDate(@implementation.project_enddate_by_nfp_contract)%></p>
<p><b>Potreba zmeny harmonogramu projektu:  </b><%=get_true_false_icon(@implementation.project_schedule_change_need)%></p>
<p><b>Potreba zmeny harmonogramu projektu - Termín:  </b><%=prettyDate(@implementation.schedule_change_need_date)%></p>
<hr><h3>ŽOP</h3><hr>
<p><b>Dátum predloženia ŽOP: </b><%=prettyDate(@implementation.zop_showdate)%></p>
<p><b>Posledný termín na predloženie ŽOP záverečná: </b><%=prettyDate(@implementation.zop_last_term_end)%></p>
<p><b>Posledný termín na predloženie prvej ŽOP: </b><%=prettyDate(@implementation.zop_last_term_start)%></p>
<p><b>Poznámka k ŽOP: </b><%=@implementation.zop_note%></p>
<p><b>Dátum predloženia poslednej ŽOP: </b><%=prettyDate(@implementation.zop_last_showdate)%></p>
<p><b>Typ žiadosti: </b><%=@implementation.zop_request_type%></p>
<p><b>Stav ŽOP: </b><%=@implementation.zop_state%></p>
<p><b>Splnené podmienky na úhradu ŽOP: </b><%=get_true_false_icon(@implementation.zop_paycond_fulfil)%></p>
<p><b>Splnené náležitosti ŽOP: </b><%=get_true_false_icon(@implementation.zop_cond_fulfil)%></p>
<p><b>Nahratie predkladov do ITMS: </b><%=get_true_false_icon(@implementation.zop_data_to_itms)%></p>
<p><b>Nahratie predkladov do ITMS - Stav: </b><%=@implementation.zop_data_to_itms_state%></p>
<hr><h3>Monitorovanie</h3><hr>
<p><b>Termín najbližšej monitorovačky: </b><%=prettyDate(@implementation.next_monitor_date)%></p>
<p><b>Termín záverečnej monitorovačky: </b><%=prettyDate(@implementation.finish_monitor_date)%></p>
<p><b>Dátum predloženia na kontrolu: </b><%=prettyDate(@implementation.control_date)%></p>
<p><b>Schválenie:  </b><%=get_true_false_icon(@implementation.approved)%></p>
<hr><h3>Povinná publicita</h3><hr>
<p><b>Predmet publicity: </b><%=@implementation.publicity_subject%></p>
<p><b>Posledný termín na predloženie publicity projektu: </b><%=prettyDate(@implementation.publicity_last_term)%></p>
<p><b>Dátum predloženia: </b><%=prettyDate(@implementation.publicity_showdate)%></p>
<hr><h3>Ukončenie projektu</h3><hr>
<p><b>Spôsob ukončenia projektu: </b><%=@implementation.project_end_type%></p>
<p><b>Predčasné ukončenie projektu: </b><%=get_true_false_icon(@implementation.project_end_sooner)%></p>
<p><b>Predčasné ukončenie projektu - Termín: </b><%=prettyDate(@implementation.project_end_sooner_date)%></p>
<p><b>Zaslanie hlásenia o predčasnom ukončení projektu: </b><%=get_true_false_icon(@implementation.note_project_sooner_sent)%></p>
<p><b>Zaslanie hlásenia o predčasnom ukončení projektu - Termín: </b><%=prettyDate(@implementation.note_project_sooner_sent_date)%></p>
            <% else %>
            <p>Implementácia ešte nezačala</p>
            <% end %>                            
                                    </div>
                                
</div>

</div>

<div class="col-lg-4">
 <div class="ibox">
    <div class="ibox-title">
    <h5>Progres</h5>
       </div>
   <div class="ibox-content ">

                    <div id="vertical-timeline" class="vertical-container light-timeline no-margins">
                        <div class="vertical-timeline-block">
                            <div class="vertical-timeline-icon navy-bg">
                                <i class="fa fa-briefcase"></i>
                            </div>

                            <div class="vertical-timeline-content">
                                <h2>Meeting</h2>
                                <p>Conference on the sales results for the previous year. Monica please examine sales trends in marketing and products. Below please find the current status of the sale.
                                </p>
                                <a href="#" class="btn btn-sm btn-primary"> More info</a>
                                    <span class="vertical-date">
                                        Today <br>
                                        <small>Dec 24</small>
                                    </span>
                            </div>
                        </div>

                        <div class="vertical-timeline-block">
                            <div class="vertical-timeline-icon blue-bg">
                                <i class="fa fa-file-text"></i>
                            </div>

                            <div class="vertical-timeline-content">
                                <h2>Send documents to Mike</h2>
                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since.</p>
                                <a href="#" class="btn btn-sm btn-success"> Download document </a>
                                    <span class="vertical-date">
                                        Today <br>
                                        <small>Dec 24</small>
                                    </span>
                            </div>
                        </div>

                        <div class="vertical-timeline-block">
                            <div class="vertical-timeline-icon lazur-bg">
                                <i class="fa fa-coffee"></i>
                            </div>

                            <div class="vertical-timeline-content">
                                <h2>Coffee Break</h2>
                                <p>Go to shop and find some products. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's. </p>
                                <a href="#" class="btn btn-sm btn-info">Read more</a>
                                <span class="vertical-date"> Yesterday <br><small>Dec 23</small></span>
                            </div>
                        </div>

                        <div class="vertical-timeline-block">
                            <div class="vertical-timeline-icon yellow-bg">
                                <i class="fa fa-phone"></i>
                            </div>

                            <div class="vertical-timeline-content">
                                <h2>Phone with Jeronimo</h2>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto, optio, dolorum provident rerum aut hic quasi placeat iure tempora laudantium ipsa ad debitis unde? Iste voluptatibus minus veritatis qui ut.</p>
                                <span class="vertical-date">Yesterday <br><small>Dec 23</small></span>
                            </div>
                        </div>

                        <div class="vertical-timeline-block">
                            <div class="vertical-timeline-icon navy-bg">
                                <i class="fa fa-comments"></i>
                            </div>

                            <div class="vertical-timeline-content">
                                <h2>Chat with Monica and Sandra</h2>
                                <p>Web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like). </p>
                                <span class="vertical-date">Yesterday <br><small>Dec 23</small></span>
                            </div>
                        </div>
                    </div>

                
                               
                            
</div>
</div>

</div>






</div>






<script>

var ready = function() {

};
 
</script>