
<p id="notice"><%= render 'layouts/flash_message' %></p>

<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-lg-10">
    <h2>Profil <%if @subject.vip?%><span class="vip_text"><b>VIP</b></span> <% end %> Kontaktu</h2>
    <ol class="breadcrumb">
      <li>
        <%= link_to 'Home', root_path %>
      </li>

      <li class="active">
        <strong>Profil <%if @subject.vip?%><span class="vip_text">VIP</span> <% end %> Kontaktu</strong>
      </li>
    </ol>
  </div>
  <div class="col-lg-2">

  </div>
</div>
<div class="row m-b-lg m-t-lg">

  <div class="col-md-6">
    <div class="profile-image">
      <i class="fa fa-building-o fa-5x" aria-hidden="true"></i>

    </div>

    <div class="profile-info">
      <div class="">
        <div>

          <h2 class="no-margins">
            <%= @subject.name %>
                            <a data-toggle="modal" data-target="#editSubjektModal"  aria-expanded="false">
                                <i class="fa fa-pencil-square-o"></i>
                            </a>
          </h2>
          <br>
          <p>Sídlo: <b><%= @subject.site %></b></p>
          <p>IČO: <b><%= @subject.ico %></b></p>
          <p>Okres: <b><%= @subject.district.name if @subject.district.present? %></b></p>
          <p>Typ: <b><%= @subject.subjtype.name if @subject.subjtype.present? %></b></p>
          <p>Projektový zámer: <b><%= @subject.project_targets_string %></b></p>

          
        </div>
       
      </div>
    </div>
  </div>
  
</div>

<div class="row">

    <div class="col-lg-3">

        <div class="ibox">
            <div class="ibox-title">
            <h5>Osoby </h5> 
            <a class="pull-right" data-toggle="modal" data-target="#addContactModal"  aria-expanded="false">
                                <i class="fa fa-plus-square"></i>
                            </a>
           </div>
         <div class="ibox-content">
<% @people.each do |person|%>
                
                    <div class="row">
                      <div class="col-lg-12">
                 
                 
                        <h3><strong><%= person.first_name.to_s + ' ' + person.last_name.to_s %></strong> <a data-toggle="modal" data-target="#editPersonModal<%=person.id%>"   aria-expanded="false">
                                <i class="fa fa-pencil-square-o"></i>
                            </a></h3>
                        <p><i class="fa fa-map-marker"></i> <%= @subject.site %></p>
                        
                            <strong><%= @subject.name %></strong><br>
                            @ <%= person.email %><br>
                            @ <%= person.email2 %><br>
                            <i class="fa fa-mobile" aria-hidden="true"></i> <%= person.cellphone %><br>
                            <i class="fa fa-phone" aria-hidden="true"></i></i> <%= person.phone %><br>
                            
                        
                     
                    </div>
                    </div>    
          <% if @people.count > 1 %><hr> <%end %>  

          <!-- edit modal -->
<div id="editPersonModal<%=person.id%>" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h2 class="modal-title" id="myModalLabel">Uprav osobu</h2>
        <div class="alert alert-danger alert-dismissable">
          <button class="close" aria-hidden="true" data-dismiss="alert" type="button">×</button>
          Polia vysvietené na červeno sú povinné
        </div>
      </div>
      <div class="modal-body">
        <div class="form-group has-error">
          <form name="edit_person_form" accept-charset="utf-8">
            <input style="visibility:hidden" type="text" name="editpersonID-<%=person.id%>" id="editpersonID-<%=person.id%>" value="<%=person.id%>" readonly>
           <label>Meno:</label><input type="text" name="edit_personname-<%=person.id%>" id="edit_personname-<%=person.id%>" class="form-control" value="<%=person.first_name%>" required /><br>
           <label>Priezvisko:</label><input type="text" name="edit_personsurname-<%=person.id%>" id="edit_personsurname-<%=person.id%>" class="form-control" value="<%=person.last_name%>" required /><br>
          <label>Email:</label><input type="text" name="edit_email-<%=person.id%>" id="edit_email-<%=person.id%>" class="form-control" placeholder="Email" value="<%=person.email%>" required /><br>
          </div>
         <label>Email2:</label><input type="text" name="edit_email2-<%=person.id%>" id="edit_email2-<%=person.id%>" class="form-control" placeholder="Email" value="<%=person.email2%>" /><br>
         <label>Tel:</label><input type="text" name="edit_tel-<%=person.id%>" id="edit_tel-<%=person.id%>" class="form-control" placeholder="Tel" value="<%=person.phone%>" /><br>
        <label>Mobil:</label><input type="text" name="edit_cell-<%=person.id%>" id="edit_cell-<%=person.id%>" class="form-control" placeholder="Mobil" value="<%=person.cellphone%>" /><br>
         <label>Poznámka:</label><input type="text" name="edit_personnote-<%=person.id%>" id="edit_personnote-<%=person.id%>" class="form-control" placeholder="Poznámka" value="<%=person.note%>"/><br>
         <label>Subjekt: </label><%= select_tag 'subject', options_from_collection_for_select(@subjects, 'id', 'name', person.subject_id), class: 'form-control', id: 'edit_personsubject-'+person.id.to_s %>
      
             
    <input class="editperson btn btn-success" id="<%=person.id%>" value="Uprav" /> 

   </form>


</div>
</div>
</div>
</div>


           <% end %> 
         </div>
</div>

</div>



<div class="col-lg-3">
 <div class="ibox">
   
                                    <div class="ibox-title">
                                        <h5>Dokumenty</h5>
                                      <a class="pull-right" data-toggle="modal" data-target="#addDocModal"  aria-expanded="false">
                                <i class="fa fa-plus-square"></i>
                            </a>
                                    </div>
                                    <div class="ibox-content table-responsive">
                                        <table class="table table-hover no-margins">
                                            <thead>
                                            <tr>
                                                <th>Súbor</th>
                                                <th>Veľkosť</th>
                                                <th></th>
                                                
                                            </tr>
                                            </thead>
                                            <tbody>
                                           <% @documents.each do |document| %>
                                            <tr>
                                                <td><small><%= link_to document.file_name, download_doc_path(document.id), data: {turbolinks: false} %></small></td>
                                                <td><%= number_to_human_size(document.file_size) if document.file_size.present? %></td>
                                                <td><%= link_to document, method: :delete, data: { confirm: 'Naozaj chceš zmazať súbor "'+ document.file_name.to_s+'"?' } do %><i class="fa fa-trash-o" aria-hidden="true" ></i><% end %>  </td>
                                            </tr>
                                           <% end %>
                                            </tbody>
                                        </table>
                                    </div>
                                
</div>

</div>

<div class="col-lg-3">
 <div class="ibox">
    <div class="ibox-title">
    <h5>Komunikácia</h5>
    <a class="pull-right" data-toggle="modal" data-target="#addCommModal"  aria-expanded="false">
                                <i class="fa fa-plus-square"></i>
                            </a>
   </div>
   <div class="ibox-content ">

                                <div class="feed-activity-list">
                                  <% @communications.each do |comm| %>
                                    <div class="feed-element">
                                        <div>
                                          <%= link_to comm, method: :delete, data: { confirm: 'Naozaj chceš zmazať tento záznam?' } do %><i class="fa fa-trash-o" aria-hidden="true" ></i><% end %>
                                            <small class="float-right text-navy">Pred <%= time_ago_in_words(comm.created_at) %></small>
                                            <span> <strong><%= comm.user.name if comm.user.present? %></strong>
                                              <a data-toggle="modal" data-target="#editCommModal"  aria-expanded="false" class="comm_edit_button" >
                                                  <i id="communication_<%=comm.id%>" class="fa fa-pencil-square-o"></i>
                                              </a>
                                            </span>
                                            <div><strong>S osobou: </strong><%= comm.person.name if comm.person.present? %></div>
                                            <div><strong>Kľúčové slovo: </strong><%= comm.keyword %></div>
                                            <div><%= comm.about %></div>
                                            <small class="text-muted"><%= (I18n.localize comm.created_at) %></small>
                                        </div>
                                    </div>
                                    <% end %>
                                   

                                </div>
                            
</div>
</div>

</div>
<div class="col-lg-3">
 <div class="ibox">
    <div class="ibox-title">
    <h5>Projekty</h5>
    </div>
   <div class="ibox-content ">

                                <div class="feed-activity-list">
                                  <% @projects.each do |project| %>
                                    <div class="feed-element">
                                        <div>
                                            <small class="float-right text-navy">Naposledy upravený pred <%= time_ago_in_words(project.updated_at) %></small>
                                            
                                            <div><h3><%= link_to project.name, show_project_detail_path(project.id) %></h3></div>
                                            
                                            <div><strong>Projektový manažér: </strong><%= project.user.name if project.user.present? %></div>
                                            <div><strong>Zmluva: </strong><%= project.contract %></div>
                                            <div><strong>Zmluva: </strong><%= project.contract %></div>
                                            <div><strong>Objednávka: </strong><%= project.order %></div>
                                            <div><strong>Poslané na podpis: </strong><%= get_true_false_icon(project.sent_to_sign) %></div>
                                            <div><strong>Odovzdané-online: </strong><%= get_true_false_icon(project.submit_online) %></div>
                                            <div><strong>Odovzdané-print: </strong><%= get_true_false_icon(project.submit_print) %></div>
                                          
                                        </div>
                                    </div>
                                    <% end %>
                                   

                                </div>
                            
</div>
</div>

</div>






</div>
<div class="row">
 <h4><center>Média</center></h4>
  

   <div class="col-lg-12" style="display:none" id="upload_media_files">

        
           <div class="alert alert-danger alert-dismissable noborders">
                          <button class="close" aria-hidden="true" data-dismiss="alert" type="button">×</button>
                         <p>Ak vložíš súbor s rovnakým menom aký už existuje ku rovnakému subjektu, tento súbor bude prepísaný.</p>
                        </div>
          
          <div class="col-lg-12">
          <form id="fileupload" method="post" action="/media" enctype="multipart/form-data">


            <div class="col-md-4">
             <%= select_tag 'subject_media', options_from_collection_for_select(@subjects, 'id', 'name',@subject.id), class: 'form-control', id: 'subject_media' %>
           </div>
           <div class="col-md-2">

            <span class="btn fileinput-button" style="margin-top: -7px";>
              <input id="foto_file_selector" type="file" name="files[]" multiple class="filestyle" data-classButton="btn btn-success" data-input="false" data-classIcon="icon-plus" data-buttonText="Pridaj Súbor" >
            </span>
             <input style="visibility:hidden" type="text" name="filetotalsize" id="filetotalsize" value="" readonly>
          </div>

        </form>
        <div class="col-md-4">
         <button id="subory" class="btn btn-success start">
          <i class="glyphicon glyphicon-upload"></i>
          <span>Nahraj</span>
        </button>
      </div>
    </div>
      


    
   

    </div>

  <div class="col-lg-3">
     <div class="ibox">
    <div class="ibox-title">
    <h5>Súbory</h5>
    <a class="pull-right" data-toggle="modal" id="show_file_upload"  aria-expanded="false">
                                <i class="fa fa-plus-square"></i>
                            </a>
   </div>
   <div class="ibox-content table-responsive">
     <table class="table table-hover no-margins">
                                            <thead>
                                            <tr>
                                                <th>Názov</th>
                                                <th>Veľkosť</th>
                                                <th></th>
                                                
                                            </tr>
                                            </thead>
                                            <tbody>
                                           <% @media.each do |medium| %>
                                            <tr>
                                                <td><small><%= link_to medium.file_name, download_media_path(medium.id), data: {turbolinks: false} %></small></td>
                                                <td><%= number_to_human_size(medium.file_size) if medium.file_size.present? %></td>
                                                <td><%= link_to(content_tag(:i,nil,class: 'fa fa-trash-o') ,medium, method: :delete, data: { confirm: 'Naozaj chceš zmazať tento súbor?' }) %></td>
                                            </tr>
                                           <% end %>
                                            </tbody>
                                        </table>
   </div>
 </div>
</div>
<div class="col-lg-9">
  <div class="ibox">
    <div class="ibox-title">
    <h5>Galéria</h5>
   </div>
   <div class="ibox-content ">
    <div class="lightBoxGallery">
      <% @media.each do |medium| %>
      
      <a href="<%= medium.file_url.remove("/public") if medium.file_url.present? %>" title="<%= medium.file_name%>" data-gallery="" class="mediumshow"><img src="<%= medium.file_url.remove("/public") if medium.file_url.present? %>" height="42" >
        </a>
      <% end %>
      <div id="blueimp-gallery" class="blueimp-gallery">
                                <div class="slides"></div>
                                <h3 class="title"></h3>
                                <a class="prev">‹</a>
                                <a class="next">›</a>
                                <a class="close">×</a>
                                <a class="play-pause"></a>
                                <ol class="indicator"></ol>
                            </div>
    </div>
   </div>
 </div>
  </div>
  </div>


<!-- edit modal -->
<div id="editSubjektModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h2 class="modal-title" id="myModalLabel">Uprav subjekt</h2>
        <div class="alert alert-danger alert-dismissable">
          <button class="close" aria-hidden="true" data-dismiss="alert" type="button">×</button>
          Polia vysvietené na červeno sú povinné
        </div>
      </div>
      <div class="modal-body">
        <div class="form-group has-error">
          <form name="edit_subjekt_form" accept-charset="utf-8">
            <input style="visibility:hidden" type="text" name="editsubjektID" id="editsubjektID" value="<%= @subject.id %>" readonly>
           <label>Názov:</label><input type="text" name="edit_subjname" id="edit_subjname" class="form-control" placeholder="Názov subjektu" value="<%= @subject.name %>" required /><br>
           <label>Okres:</label><%= select_tag 'edit_okres', options_from_collection_for_select(@districts, 'id', 'name',@subject.district_id), class: 'form-control', id: 'edit_subjdistrict' %>
         </br>
         <label>Typ Subjektu:</label><%= select_tag 'edit_typ_subjektu', options_from_collection_for_select(@subjtypes, 'id', 'name',@subject.subjtype_id), class: 'form-control', id: 'edit_subjtype' %>
       </br>
     </div>
     <label>Sídlo:</label><input type="text" name="edit_subjsite" id="edit_subjsite" class="form-control" placeholder="Sídlo subjektu" value="<%= @subject.site %>" /><br>
     <label>IČO:</label><input type="number" name="edit_subjico" id="edit_subjico" class="form-control" onkeyup="if(!this.checkValidity()){this.value=\'\';alert(\'Vložte číslo!\')};" placeholder="IČO ak má subjekt pridelené" value="<%= @subject.ico %>"/><br>
     <label class="">VIP <input id="edit_isvip" type="checkbox" class="icheckbox_square-green" <% if @subject.vip? %>checked<% end %>/></label><br>
     <label>Poznámka:</label><input type="text" name="edit_subjnote" id="edit_subjnote" class="form-control" placeholder="Poznámka" value="<%= @subject.note %>" /><br>
     <label>Počet obyvateľov ak je obec:</label><input type="text" name="edit_subjobyv" id="edit_subjobyv" class="form-control" placeholder="Počet obyvateľov v prípade že ide o obec" value="<%= @subject.citizen_count %>" /><br>
     <hr>
     <label>Projektový zámer</label><%= select_tag 'project_targets_edit', options_from_collection_for_select(@projecttargets, 'id', 'name', @subject.project_targets), class: 'form-control chosen-select',multiple: true, id: 'project_targets_edit', "data-placeholder": "Vyber projektový zámer..." %>
       <br><br>       

    <input  class="editcontact btn btn-success" value="Uprav" /> 

   </form>

 </div>
</div>
</div>
</div>

<!-- add person modal -->
<div id="addContactModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel_contact" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h2 class="modal-title" id="myModalLabel_contact">Pridaj nový kontakt</h2>
        <div class="alert alert-danger alert-dismissable">
          <button class="close" aria-hidden="true" data-dismiss="alert" type="button">×</button>
          Polia vysvietené na červeno sú povinné
        </div>
      </div>
      <div class="modal-body">
        <div class="form-group has-error">
          <form   name="new_contact_form" accept-charset="utf-8">
           <label>Meno:</label><input type="text" name="contactname_c" id="contactname_c" class="form-control" placeholder="Meno " required /><br>
           <label>Priezvisko:</label><input type="text" name="contactsurname_c" id="contactsurname_c" class="form-control" placeholder="Priezvisko " required /><br>
           <label>Email:</label><input type="text" name="contactemail_c" id="contactemail_c" class="form-control" placeholder="Email" required /><br>
           </div>
           <label>Telefónne číslo:</label><input type="text" name="contactphone_c" id="contactphone_c" class="form-control" placeholder="Telefónne číslo"  /><br>
           <label>Mobil:</label><input type="text" name="contactcell_c" id="contactcell_c" class="form-control" placeholder="Mobil"  /><br>
           <label>Subjekt: </label><%= select_tag 'subject', options_from_collection_for_select(@subjects, 'id', 'name',@subject.id), class: 'form-control', id: 'contactsubject' %>
         </br>
       </br>

     
     <label>Poznámka:</label><input type="text" name="contactnote_c" id="contactnote_c" class="form-control" placeholder="Poznámka" /><br>

     <input  class="createperson btn btn-success" value="Vytvor" /> 

   </form>

 </div>
</div>
</div>
</div>


<!-- add comm modal -->
<div id="addCommModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h2 class="modal-title" id="myModalLabel">Pridaj nový záznam</h2>
        <div class="alert alert-danger alert-dismissable">
          <button class="close" aria-hidden="true" data-dismiss="alert" type="button">×</button>
          Polia vysvietené na červeno sú povinné
        </div>
      </div>
      <div class="modal-body">
        <div class="form-group has-error">
          <form name="new_comm_form" accept-charset="utf-8">
           <label>Subjekt: </label><%= select_tag 'subject', options_from_collection_for_select(@subjects, 'id', 'name', @subject.id), class: 'form-control', id: 'commsubject', :disabled => true %>
         </br>
         <label>Osoba: </label><%= select_tag 'commperson', options_from_collection_for_select(@people, 'id', 'name'), class: 'form-control', id: 'commperson', prompt: "--vyber subjekt--" %>
         </br>
          
     
     <label>Text:</label><textarea rows="6" type="text" name="commabout" id="commabout" class="form-control" required placeholder="Obsah komunikácie"></textarea><br>
     <label>Kľúčové slovo:</label><input type="text" name="commkeyword" id="commkeyword" class="form-control" required placeholder="Kľúčové slovo pre zatriedenie"/><br>
     </div>


     <input type="submit" class="createcomm btn btn-success" value="Vytvor" /> 

   </form>

 </div>
</div>

</div>
</div>

<!-- add comm modal -->
<div id="addDocModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h2 class="modal-title" id="myModalLabel">Pridaj nový súbor</h2>
       
      </div>
      <div class="modal-body">
     
       <div class="fileinput fileinput-new">
                                    <%= form_tag({:controller => 'documents',:action => :insertfile}, :multipart => true) do %>
                                      <%= file_field_tag :file, :class => 'btn btn-default btn-file form-control' %>
                                      <br/>
                                       <div class="row">
                                        <div class="col-md-4">
                                      <input type='text' name='note' id='note' class="form-control" placeholder="Poznámka ku vloženému súboru" /></div>
                                      <div class="col-md-4">
                                      <%= select_tag 'docsubject', options_from_collection_for_select(@subjects, 'id', 'name', @subject.id), class: 'form-control', id: 'docsubject'%>
                                      </div>
                            <div class="col-md-4">
                                      <%= submit_tag( "Nahraj súbor" , :class=>'btn btn-outline btn-success') %> 
                                    </div>
                                    <% end %>
                                 </div>
                        </div>

 </div>
</div>

</div>
</div>


<!-- file upload modal -->
<div id="ShowUploadStatusModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-upload modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h2 class="modal-title" id="myModalLabel">Upload status</h2>
        
      </div>

      <div class="modal-body">
          <div id="progress" class="progress"><div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="0"
      aria-valuemin="0" aria-valuemax="100" style="width:0%; text-align:center"></div></div>
      <div id="speed"></div>

      <div id="status" class="row" >
        <div class="col-md-6" id="loading_files" ></div>
        <div class="col-md-6" id="finished_files"></div>
      </div>


      </div>

    </div>
  </div>
</div>


<!-- edit comm modal -->
<div id="editCommModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-upload modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h2 class="modal-title" id="myModalLabel">Uprav Komunikáciu</h2>
        
      </div>

     <div class="modal-body">
        <div class="form-group has-error">
          <form name="new_comm_form" accept-charset="utf-8">
           <label>ID: </label><input type="text" name="comm_edit_id" id="comm_edit_id"  class="form-control" required disabled>
         </br>
         
    <label>Subjekt: </label><%= select_tag 'comm_edit_subject', options_from_collection_for_select(@subjects, 'id', 'name', @subject.id), class: 'form-control', id: 'comm_edit_subject', :disabled => true %>
         </br>
         <label>Osoba: </label><%= select_tag 'comm_edit_person', options_from_collection_for_select(@people, 'id', 'name'), class: 'form-control', id: 'comm_edit_person', prompt: "--vyber osobu--" %>
         </br> 
     
     <label>Text:</label><textarea rows="6" type="text" name="comm_edit_about" id="comm_edit_about" class="form-control" required placeholder="Obsah komunikácie"></textarea><br>
     <label>Kľúčové slovo:</label><input type="text" name="comm_edit_keyword" id="comm_edit_keyword" class="form-control" required placeholder="Kľúčové slovo pre zatriedenie"/><br>
     </div>


     <input type="submit" class="updatecomm btn btn-success" value="Uprav" /> 

    </div>
  </div>
</div>
</div>

<script>

var ready = function() {

  $('#show_file_upload').on('click',function(event){
    document.getElementById("upload_media_files").style.display='';
  }
    );

$('.comm_edit_button').on('click',function(event){
  $comm_id = (event.target.id).split('_')[1]
  $.ajax({
            type: "GET",
            url: "/communications/"+$comm_id+".json"
          })
           .done(function (data) {
    //console.log(data)
    $('#comm_edit_id').val(data.id)
    $('#comm_edit_person').val(data.person_id)
    $('#comm_edit_about').val(data.about)
    $('#comm_edit_keyword').val(data.keyword)
  })
});

$(".mediumshow").onclick = function (event) {
    event = event || window.event;
    var target = event.target || event.srcElement,
        link = target.src ? target.parentNode : target,
        options = {index: link, event: event},
        links = this.getElementsByTagName('a');
    blueimp.Gallery(links, options);
};

$('.chosen-select').chosen({width: "100%"});

$("#project_targets_edit").chosen().change(function(e, params){
 $project_targets  = $("#project_targets_edit").chosen().val();

 //console.log($project_targets)
});

$("#commsubject").change(function(){
  $subjID = $("#commsubject").val();

  if ($subjID !== '') {
    $.ajax({
            type: "GET",
            url: "/get_subject_contacts/"+$subjID,
           
            success:function(data){
              if (data.status == "ok")
              {
               $html1 = '<label>Osoba:</label><select id="commperson" class="form-control">';
               var $html2;
                for ( var i = 0; i < data.data.length; i++) {
                  $html2 += '<option value="'+data.data[i].id+'">'+data.data[i].first_name+' '+data.data[i].last_name+'</option>';
                }
                $html3 ='</select><br>';

                var $res = $html1.concat($html2,$html3);

                $('#addPersonToComm').empty();
                $('#addPersonToComm').append($res);
                              
              }
              else { alert(data.status);}


            }
          });
  }
  else {
    $('#addPersonToComm').empty();
  }
  
});

$('.updatecomm').on('click',function(event){
          //console.log(event.target.id);
          
          $commid = $('#comm_edit_id').val();
          $personid = $('#comm_edit_person').val();
          $subjectid = $('#comm_edit_subject').val();
          $commabout = $('#comm_edit_about').val();
          $commkeyword = $('#comm_edit_keyword').val();
          
          $.ajax({
            type: "POST",
            url: "/modal_update_comm",
            data: {
              commid: $commid,
              editsubjid: $subjectid,
              editpersonid: $personid,
              editcommabout: $commabout,
              editcommkeyword: $commkeyword
            }
          }).done(function(data){
             if (data.status == "ok")
              {
                //alert("Záznam bol vytvorený" );
                location.reload();
              }
              else { alert(data.status);}
          });

            
          
          



        });

$('.createcomm').on('click',function(event){
          //console.log(event.target.id);
          
          $subjid = $('#commsubject').val();
          $personid = $('#commperson').val();
          $commabout = $('#commabout').val();
          $commkeyword = $('#commkeyword').val();
          
          $.ajax({
            type: "POST",
            url: "/modal_create_comm",
            data: {
              subjid: $subjid,
              personid: $personid,
              commabout: $commabout,
              commkeyword: $commkeyword
            },

            success:function(data){
              if (data.status == "ok")
              {
                //alert("Záznam bol vytvorený" );
                location.reload();
                
              }
              else { alert(data.status);}


            }
          });
          



        });



$('.editcontact').on('click',function(event){
          //console.log(event.target.id);
          
          $edit_subjectID = $('#editsubjektID').val();
          $edit_subjname = $('#edit_subjname').val();
          $edit_subjdistrict = $('#edit_subjdistrict').val();
          $edit_subjtype = $('#edit_subjtype').val();
          $edit_subjsite = $('#edit_subjsite').val(); 
          $edit_subjico = $('#edit_subjico').val(); 
          $edit_subjnote = $('#edit_subjnote').val(); 
          if ($('#edit_isvip').is(":checked")) {$edit_isvip = true;} else {$edit_isvip = false;}
          $edit_subjobyv = $('#edit_subjobyv').val(); 
          
          var $targets = 0;

          if (typeof $project_targets !== 'undefined') {
          $targets = $project_targets;
            }

          



          
          $.ajax({
            type: "POST",
            url: "/modal_edit_subj",
            data: {
              edit_subjectid: $edit_subjectID,
              edit_subjname: $edit_subjname,
              edit_subjdistrict: $edit_subjdistrict,
              edit_subjtype: $edit_subjtype,
              edit_subjsite: $edit_subjsite,
              edit_subjico: $edit_subjico,
              edit_subjnote: $edit_subjnote,
              edit_isvip: $edit_isvip,
              edit_subjobyv: $edit_subjobyv,
              edit_project_targets: $targets              

            },

            success:function(data){
              if (data.status == "ok")
              {
                //alert("Subjekt bol upravený" );
                location.reload();
                
              }
              else { alert(data.status);}


            }
          });
          



        });

$('.editperson').on('click',function(event){
          //console.log(event.target.id);
          $contact_id = event.target.id;
          
          $edit_personID = $('#editpersonID-'+$contact_id).val();
          $edit_personname = $('#edit_personname-'+$contact_id).val();
          $edit_personsurname = $('#edit_personsurname-'+$contact_id).val();
          $edit_email = $('#edit_email-'+$contact_id).val();
          $edit_email2 = $('#edit_email2-'+$contact_id).val();
          $edit_tel = $('#edit_tel-'+$contact_id).val();
          $edit_cell = $('#edit_cell-'+$contact_id).val();
          $edit_personnote = $('#edit_personnote-'+$contact_id).val();
          $edit_personsubject = $('#edit_personsubject-'+$contact_id).val();
       
          $.ajax({
            type: "POST",
            url: "/modal_edit_person",
            data: {
              edit_personID: $edit_personID,
              edit_personname: $edit_personname,
              edit_personsurname: $edit_personsurname,
              edit_email: $edit_email,
              edit_email2: $edit_email2,
              edit_tel: $edit_tel,
              edit_cell: $edit_cell,
              edit_personnote: $edit_personnote,              
              edit_personsubject: $edit_personsubject

            },

            success:function(data){
              if (data.status == "ok")
              {
                //alert("Osoba bol upravená" );
                location.reload();
                
              }
              else { alert(data.status);}


            }
          });
          



        });

$('.createperson').on('click',function(event){
          //console.log(event.target.id);
          
          $contactname_c = $('#contactname_c').val();
          $contactsurname_c = $('#contactsurname_c').val();
          $contactemail_c = $('#contactemail_c').val();
          $contactphone_c = $('#contactphone_c').val(); 
          $contactcell_c = $('#contactcell_c').val(); 
          $contactsubject = $('#contactsubject').val(); 
          $contactnote_c = $('#contactnote_c').val(); 




          
          $.ajax({
            type: "POST",
            url: "/modal_create_person",
            data: {
              contactname_c: $contactname_c,
              contactsurname_c: $contactsurname_c,
              contactemail_c: $contactemail_c,
              contactphone_c: $contactphone_c,
              contactcell_c: $contactcell_c,
              contactsubject: $contactsubject,
              contactnote_c: $contactnote_c

            },

            success:function(data){
              if (data.status == "ok")
              {
                //alert("Osoba bol vytvorená" );
                location.reload();

              }
              else { alert(data.status);}
            }
          });
  
        });

};

var fuploadready = function() {

  $subjektID = "null";

   $subjektID = $('#subject_media').find(":selected").val();

  $('#subject_media').change( function () {

    $subjektID = $('#subject_media').find(":selected").val();

  });

  var filesToProcess = 0;

  $('#fileupload').fileupload({

    dataType: 'json',
    maxChunkSize: 5000000,
    add: function (e, data) {


      var goUpload = true;

      var uploadFile = data.files[0];
      if (!(/\.(gif|jpg|jpeg|tiff|png|bmp|mov|mkv|mp4|avi|mp3)$/i).test(uploadFile.name)) {
        alert("Povolené sú len fotky a videá");
        goUpload = false;
        return false;
      }


      filesToProcess++;
      $("#subory").on('click', function () {


        if($subjektID == "null") {
         $("#alarmsubjekt").removeAttr('hidden');

       }
       else {

        if (goUpload == true) {

          $('#ShowUploadStatusModal').modal('show');

          data.context = $('<p/>').text('Nahrávam...' + data.files[0].name).appendTo($("#loading_files"));
          data.submit();
        }

      }

    });
    },
    done: function (e, data) {


        console.log(data);

      //$.each(data.result.files, function (index, file) {
        $.each(data.result, function (index, file) {
        $('<p/>').text("Nahratý súbor: " + file.name).appendTo($("#finished_files"));
          filesToProcess--;
    
              });

        if (filesToProcess === 0){
           window.setTimeout(2000);
           $('#ShowUploadStatusModal').modal('hide');

          location.reload();
        }

    },
    progressall: function (e, data) {
        //console.log(data);
        var progress = parseInt(data.loaded / data.total * 100, 10);
        $("#progress .progress-bar").css(
          "width",
          progress + "%"
          );
        $("#progress .progress-bar").text(progress+"%");
        
      },


    });


$('#fileupload').bind('fileuploadprogress', function (e, data) {
    // Log the current bitrate for this upload:
    //console.log(data.bitrate);
    $speed = (data.bitrate / 1000).toFixed(2)
    $("#speed").empty();
    $("#speed").text($speed + " kB/s");
  });

$('#fileupload').bind('fileuploadsubmit', function (e, data) {
  console.log(data);
  $subject = $("#subject_media").val();
  data.formData = {filetotalsize: data.files[0].size, subject_media: $subject};
  
});

};


$(".subjects.show_subject_profile").ready(ready);
$(".subjects.show_subject_profile").ready(fuploadready);

$(".subjects.show_subject_profile").on('turbolinks:load', ready);
$(".subjects.show_subject_profile").on('turbolinks:load', fuploadready);
</script>