 <nav class="navbar-default navbar-static-side" role="navigation">
            <div class="sidebar-collapse">
                <ul class="nav metismenu" id="side-menu">
                    <li class="nav-header">
                        <div class="dropdown profile-element"> 
                          <img class=" img-responsive " src="<%= asset_path( 'gemini_group_white.png' ) %>"  alt="logo">
                          
                          <hr>
                          <span>
                          <img class="center img-responsive img-circle" src="<%= asset_path( 'user-avatar.png' ) %>"  alt="profile_img">
                            
                            
                             </span>
                            
                            <span class="clear"> <span class="block m-t-xs"> <center><strong class="font-bold">
                               
                                 <h4 ><%=link_to current_user.email, showprofile_path %></h4>
                                
                                 
                             </strong></center>
                           
                        </div>
                      </li>
                    
                            <li><%= link_to root_path do%><i class="fa fa-bar-chart" aria-hidden="true"></i> <span class="nav-label"> Prehľad</span><%end%></li>
                            <li><%= link_to contacts_path do%><i class="fa fa-id-card-o" aria-hidden="true"></i> <span class="nav-label"> Kontakty</span><%end%></li>
                            <li><%= link_to show_calendar_path do%><i class="fa fa-calendar" aria-hidden="true"></i><span class="nav-label"> Kalendár</span><%end%></li>
                            <li><%= link_to komunikacia_path do%><i class="fa fa-weixin" aria-hidden="true"></i><span class="nav-label"> Komunikácia</span><%end%></li>
                             <li>
                                <a href="#"><i class="fa fa-rocket" aria-hidden="true"></i><span class="nav-label"> Projekty</span> <span class="fa arrow"></span></a>
                                <ul class="nav nav-second-level">
                                    <li><%= link_to projekty_path do%><i class="fa fa-tasks" aria-hidden="true"></i><span class="nav-label"> Zoznam projektov</span><%end%></li>
                                    <li><%= link_to implementacie_path do%><i class="fa fa-puzzle-piece" aria-hidden="true"></i><span class="nav-label"> Implementácia</span><%end%></li>
                                    <li><%= link_to operacneprogramy_path do%><i class="fa fa-bullhorn" aria-hidden="true"></i><span class="nav-label"> Operačné programy</span><%end%></li>
                                    
                                </ul>
                            </li>
                            
                            <li><%= link_to dokumenty_path do%><i class="fa fa-files-o" aria-hidden="true"></i><span class="nav-label"> Dokumenty</span><%end%></li>
                            <li><%= link_to subory_path do%><i class="fa fa-video-camera" aria-hidden="true"></i><span class="nav-label"> Média</span><%end%></li>
                            <li>
                                <a href="#"><i class="fa fa-envelope" aria-hidden="true"></i><span class="nav-label"> E-mail</span> <span class="fa arrow"></span></a>
                                
                                <ul class="nav nav-second-level">
                                    <li><%= link_to create_email_path do%><i class="fa fa-share" aria-hidden="true"></i><span class="nav-label"> Pošli e-mail</span><%end%></li>
                                    <li><%= link_to sablony_path do%><i class="fa fa-file-text-o" aria-hidden="true"></i><span class="nav-label"> Šablóny</span><%end%></li>
                                    
                                </ul>
                            </li>
                            <li><%= link_to job_queue_path do%><i class="fa fa-spinner" aria-hidden="true"></i><span class="nav-label"> Procesy</span><%end%></li>
                            <li><%= link_to export_path do%><i class="fa fa-file-excel-o" aria-hidden="true"></i><span class="nav-label"> Export dát</span><%end%></li>
                            <% if current_user.admin? %>
                            <li>
                                <a href="#"><i class="fa fa-wrench" aria-hidden="true"></i><span class="nav-label"> Admin menu</span> <span class="fa arrow"></span></a>
                                
                                <ul class="nav nav-second-level">
                                    <li><%= link_to  users_path do%><i class="fa fa-users" aria-hidden="true"></i><span class="nav-label"> Užívatelia</span><%end%></li>
                                    <li><%= link_to  subjtypes_path do%><i class="fa fa-building-o" aria-hidden="true"></i><span class="nav-label"> Typy subjektov</span><%end%></li>
                                    <li><%= link_to projecttargets_path do%><i class="fa fa-bullseye" aria-hidden="true"></i><span class="nav-label"> Projektový zámer</span><%end%></li>
                                    <li><%= link_to imports_path do%><i class="fa fa-upload" aria-hidden="true"></i><span class="nav-label"> Import Dát</span><%end%></li>
                                    
                                    
                                </ul>
                            </li>
                            <% end %>
                            
                            
              

                       
                    
                   
                </ul>

            </div>
        </nav>